/*
    reset.css
    wezom noscript.css
    print.css
    Wezom wTPL v3.1.6
*/
/*-------------------------------  Reset  ------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, blockquote, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

fieldset {
  margin: 0 2px;
  padding: 0.3em 0.7em 0.7em;
  border: 1px solid #ddd;
}

fieldset legend {
  white-space: normal;
}

embed, img, object {
  max-width: 100%;
}

img {
  height: auto;
}

a img {
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0;
}

b, dt, strong {
  font-weight: 700;
}

dfn, em, i {
  font-style: italic;
}

blockquote, q {
  quotes: none;
  font-style: italic;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

hr {
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  margin: 1.5em 0;
  padding: 0;
  border: none;
  background: #95bfc6;
}

mark {
  color: #354658;
  background: #d2c1af;
}

pre {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #9ca7b3;
  border-radius: 0.25em;
  white-space: pre;
  white-space: pre-wrap;
  background: #eaecee;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: 'courier new',monospace,serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  left: -0.3em;
}

sub {
  bottom: -0.2em;
  left: -0.3em;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #354658;
  cursor: help;
}

ins, u {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

dd + dt {
  margin-top: 1em;
}

dd {
  margin: 0 0 0 4rem;
}

nav ol, nav ul, ol, ul, dl, menu {
  list-style: none;
}

dl, menu {
  margin: 1em 0 1em 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

::-moz-selection {
  text-shadow: none;
  color: #ffffff;
  background: #2597ff;
}

::selection {
  text-shadow: none;
  color: #ffffff;
  background: #2597ff;
}

::-moz-selection {
  text-shadow: none;
  color: #ffffff;
  background: #2597ff;
}

::-ms-selection {
  text-shadow: none;
  color: #ffffff;
  background: #2597ff;
}

[hidden] {
  display: none;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration, input[type='url'], input[type='tel'], input[type='text'], input[type='email'], input[type='search'], input[type='password'], textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

button, input[type='button'], input[type='reset'], input[type='submit'], input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: not-allowed;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input:invalid {
  box-shadow: none;
}

button, input, textarea, select {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}

textarea {
  overflow: auto;
  max-width: 100%;
  vertical-align: top;
}

input[type='url'], input[type='tel'], input[type='text'], input[type='email'], input[type='search'], input[type='password'], textarea {
  border-radius: 0;
}

input[type='url']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='email']:focus, input[type='search']:focus, input[type='password']:focus, textarea:focus {
  background: #ffface !important;
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*-------------------------------  NOSCRIPT  ------------------------------------*/
.wzmMsg_Wrapp {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 3px;
  border-bottom: 1px solid #ababab;
  overflow: visible;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2em;
  color: #354658;
  background-color: #fcea9c;
  -webkit-backface-visibility: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.wzmMsg_Text {
  margin-left: 70px;
  padding: 0 30px 0 10px;
  min-height: 20px;
  border-left: 1px solid #ababab;
}

.wzmMsg_Text > p {
  margin: 5px 0;
  white-space: normal;
}

.wzmMsg_Text a {
  text-decoration: underline;
  color: #e44a3c;
}

.wzmMsg_Text a:hover {
  color: #900;
}

.wzmMsg_Link {
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 50px;
  height: 18px;
  text-decoration: none !important;
  outline: none;
}

.wzmMsg_Link img {
  border: none;
}

#wzmMsg_JsClose, .wzmMsg_Close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  cursor: hand;
  cursor: pointer;
}

#wzmMsg_JsClose {
  z-index: 9999;
  opacity: 0;
}

#wzmMsg_JsClose:checked, #wzmMsg_JsClose:checked + .wzmMsg_Wrapp {
  display: none;
}

.wzmMsg_Close > span {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

#wzmMsg_JsClose:hover + .wzmMsg_Wrapp .wzmMsg_Close, .wzmMsg_Close:hover {
  background-color: #ead371;
}

#wzmMsg_JsClose:active + .wzmMsg_Wrapp .wzmMsg_Close, .wzmMsg_Close:active {
  background-color: #beaf6e;
}

/*-------------------------------  Print  ------------------------------------*/
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  a[href^='javascript:']:after, a[href^='#']:after {
    content: '';
  }
  abbr[title]:after {
    content: " (" attr(title) ") ";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
