@charset "UTF-8";
/* ===========================================================================
    fonts
=========================================================================== */
/**
 * Пример подключения шрифтов
 *
 * @font-face {
 *   font-family: 'GothamPro';
 *   src: url('../fonts/GothamPro-Light.eot');
 *   src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
 *   font-weight: 200;
 *   font-style: normal;
 * }
 *
 **/
/* ===========================================================================
    global
=========================================================================== */
html, body {
  height: auto;
  min-height: 100vh;
}

html.is-zf-off-canvas-open, body.is-zf-off-canvas-open {
  height: 100vh;
}

html.is-zf-off-canvas-open .off-canvas-content, body.is-zf-off-canvas-open .off-canvas-content {
  height: 100vh;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
}

a {
  text-decoration: underline;
  color: #d2c1af;
}

a:visited {
  text-decoration: inherit;
  color: #e44a3c;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: #000;
}

a[href^='http'], a[href^='www.'] {
  cursor: alias;
}

/* ===========================================================================
    page structure
=========================================================================== */
/*  page-wrapper
=========================================================================== */
.page-wrapper {
  position: relative;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*  page-container
=========================================================================== */
.page-container {
  padding-top: 1rem;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ie .page-container {
  overflow: hidden;
}

.page-container::before, .page-container::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.page-container::after {
  clear: both;
}

@media screen and (max-width: 63.9375em) {
  .page-container {
    padding-top: 5.7rem;
  }
}

/*  page-header
=========================================================================== */
.page-header {
  position: relative;
  z-index: 50;
  background-color: #354658;
  color: #ffffff;
  font-size: 1.4rem;
}

.page-header__mobile-pane {
  padding-left: 0.5rem;
}

.page-header__top-pane {
  position: relative;
  z-index: 3;
  padding: .5rem;
  margin-bottom: 2rem;
  background-color: #3e5870;
  color: #ffffff;
}

.page-header__top-pane-menu {
  cursor: default;
  line-height: 2.6rem;
}

.page-header__top-pane-menu a {
  text-decoration: none;
  color: inherit;
}

.page-header__top-pane-menu a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.page-header__top-pane-menu--right.menu li:last-child {
  margin: 0;
}

.page-header__middle-pane {
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  color: #75a1b9;
}

.page-header__search-form {
  margin-top: 1.2rem;
  width: 26.5rem;
}

@media screen and (max-width: 63.9375em) {
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .is-off-canvas-open .page-header {
    position: absolute;
  }
}

/*  page-footer
=========================================================================== */
.page-footer {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  background-color: #354658;
  color: #ffffff;
}

.page-footer__top-pane {
  padding: 3.5rem 0;
}

.page-footer__middle-pane {
  padding: 4rem;
  background-color: #3e5870;
}

.page-footer__bottom-pane {
  font-size: 1.3rem;
  padding: 3rem 0;
}

.page-footer__bottom-pane .menu {
  color: #75a1b9;
}

.page-footer__bottom-pane .menu li a {
  display: inline;
  text-decoration: none;
}

.page-footer__bottom-pane .menu li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.page-footer__bottom-pane .menu li:not(:last-child) {
  margin-right: 0.7rem;
}

.page-footer__bottom-pane .menu li:not(:last-child)::after {
  content: '|';
  display: inline;
  margin-left: 1rem;
}

.page-footer__menu-header {
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.page-footer__menu {
  font-size: 1.4rem;
  line-height: 1.2em;
  padding: 0 1rem 0.5rem 0;
  overflow: hidden;
}

.page-footer__menu .link--tel {
  font-size: 2.4rem;
}

.page-footer__menu li:not(:last-child) {
  margin-bottom: 1rem;
}

.page-footer__menu a {
  text-decoration: none;
  color: inherit;
}

.page-footer__menu a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

@media screen and (max-width: 63.9375em) {
  .page-footer__middle-pane {
    padding: 2rem 0 1rem;
  }
  .page-footer__bottom-pane {
    padding: 1rem 0;
  }
  .page-footer__bottom-pane .menu {
    margin: 1rem 0;
  }
  .page-footer__bottom-pane .menu li::after {
    display: none !important;
  }
}

/*  page-section
=========================================================================== */
.page-section {
  margin-bottom: 3rem;
}

/* ===========================================================================
    helpers
=========================================================================== */
.svg-holder {
  position: relative;
}

.svg-holder > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.font-thin {
  font-weight: 200 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-black {
  font-weight: 800 !important;
}

.fill-primary svg {
  fill: #7ac3d4 !important;
}

.fill-secondary svg {
  fill: #95bfc6 !important;
}

.fill-success svg {
  fill: #53bfa6 !important;
}

.fill-warning svg {
  fill: #d2c1af !important;
}

.fill-alert svg {
  fill: #e44a3c !important;
}

.fill-gray svg {
  fill: #999999 !important;
}

.fill-light-gray svg {
  fill: #eaecee !important;
}

.fill-medium-gray svg {
  fill: #9ca7b3 !important;
}

.fill-dark-gray svg {
  fill: #3e5870 !important;
}

.fill-black svg {
  fill: #354658 !important;
}

.fill-white svg {
  fill: #ffffff !important;
}

.fill-gp svg {
  fill: #db4836 !important;
}

.fill-fb svg {
  fill: #3b5999 !important;
}

.fill-yt svg {
  fill: #cd181f !important;
}

.fill-in svg {
  fill: #0177B5 !important;
}

.fill-tt svg {
  fill: #55acef !important;
}

.fill-pt svg {
  fill: #bd071e !important;
}

.fill-hover-primary:hover svg {
  fill: #7ac3d4 !important;
}

.fill-hover-secondary:hover svg {
  fill: #95bfc6 !important;
}

.fill-hover-success:hover svg {
  fill: #53bfa6 !important;
}

.fill-hover-warning:hover svg {
  fill: #d2c1af !important;
}

.fill-hover-alert:hover svg {
  fill: #e44a3c !important;
}

.fill-hover-gray:hover svg {
  fill: #999999 !important;
}

.fill-hover-light-gray:hover svg {
  fill: #eaecee !important;
}

.fill-hover-medium-gray:hover svg {
  fill: #9ca7b3 !important;
}

.fill-hover-dark-gray:hover svg {
  fill: #3e5870 !important;
}

.fill-hover-black:hover svg {
  fill: #354658 !important;
}

.fill-hover-white:hover svg {
  fill: #ffffff !important;
}

.fill-hover-gp:hover svg {
  fill: #db4836 !important;
}

.fill-hover-fb:hover svg {
  fill: #3b5999 !important;
}

.fill-hover-yt:hover svg {
  fill: #cd181f !important;
}

.fill-hover-in:hover svg {
  fill: #0177B5 !important;
}

.fill-hover-tt:hover svg {
  fill: #55acef !important;
}

.fill-hover-pt:hover svg {
  fill: #bd071e !important;
}

.color-primary {
  color: #7ac3d4 !important;
}

.color-secondary {
  color: #95bfc6 !important;
}

.color-success {
  color: #53bfa6 !important;
}

.color-warning {
  color: #d2c1af !important;
}

.color-alert {
  color: #e44a3c !important;
}

.color-gray {
  color: #999999 !important;
}

.color-light-gray {
  color: #eaecee !important;
}

.color-medium-gray {
  color: #9ca7b3 !important;
}

.color-dark-gray {
  color: #3e5870 !important;
}

.color-black {
  color: #354658 !important;
}

.color-white {
  color: #ffffff !important;
}

.bg-primary {
  background-color: #7ac3d4 !important;
}

.bg-secondary {
  background-color: #95bfc6 !important;
}

.bg-success {
  background-color: #53bfa6 !important;
}

.bg-warning {
  background-color: #d2c1af !important;
}

.bg-alert {
  background-color: #e44a3c !important;
}

.bg-gray {
  background-color: #999999 !important;
}

.bg-light-gray {
  background-color: #eaecee !important;
}

.bg-medium-gray {
  background-color: #9ca7b3 !important;
}

.bg-dark-gray {
  background-color: #3e5870 !important;
}

.bg-black {
  background-color: #354658 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.font-size-huge {
  font-size: 3.6rem;
}

.font-size-large {
  font-size: 2.4rem;
}

.font-size-medium {
  font-size: 1.8rem;
}

.font-size-small {
  font-size: 1.4rem;
}

.font-size-tiny {
  font-size: 1.2rem;
}

.font-family-gothic {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.font-family-georgia {
  font-family: Georgia, serif;
}

.page-title {
  padding-bottom: 0.6em;
  margin-bottom: 3rem;
  border-bottom: 1px solid #d7dade;
  line-height: 1em;
  font-size: 3.6rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}

.page-title span {
  display: block;
  overflow: hidden;
}

.page-title--small {
  font-size: 2.6rem;
}

@media screen and (max-width: 44.9375em) {
  .page-title {
    font-size: 2.8rem;
  }
}

.section-title {
  margin-bottom: 2rem;
  line-height: 1.2em;
  font-size: 2.6rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
}

.section-title--large {
  font-size: 3.2rem;
}

.status {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
}

.status i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.status i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #12c201;
}

.contacts-bg {
  z-index: 0;
  position: absolute;
  width: 75%;
  height: 85%;
  right: -28%;
  top: 15%;
  background: no-repeat center;
  background-size: contain;
}

/* ===========================================================================
    partials
=========================================================================== */
/*  accordion-tabs
=========================================================================== */
.accordion-tabs::before, .accordion-tabs::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.accordion-tabs::after {
  clear: both;
}

.accordion-tabs__item {
  display: inline;
}

.accordion-tabs__toggle {
  display: inline-block;
  vertical-align: top;
  padding: .2em 1em;
  border-radius: 2em;
  color: #3e5870;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-decoration: none;
}

.accordion-tabs__toggle.is-active {
  background-color: #d2c1af;
  color: #ffffff;
}

.accordion-tabs__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  float: left;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0.4s ease;
}

.accordion-tabs__content.is-open {
  position: relative;
  visibility: visible;
  width: 100%;
  height: auto;
}

/*  animations
=========================================================================== */
@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  from {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.figure__badge.animate {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background-color: #e44a3c;
}

/*  article-preview
=========================================================================== */
.article-preview {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px dashed #d7dade;
}

.article-preview__header {
  margin-bottom: 0.5rem;
}

.article-preview__body {
  margin-bottom: 2rem;
}

.article-preview__date {
  line-height: 1;
  font-size: 1.2rem;
  color: #a2a2a2;
}

.article-preview__title {
  max-height: 4.2em;
  margin-bottom: 0.6em;
  font-size: 2.2rem;
  line-height: 1.4em;
  overflow: hidden;
}

.article-preview__title a {
  color: inherit;
  text-decoration: none;
}

.article-preview__title a:hover {
  text-decoration: underline;
}

.article-preview__link {
  display: inline-block;
  color: #7ac3d4;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
}

.article-preview__link:hover {
  text-decoration: underline;
}

.article-preview__link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin: -0.3rem 0 0 1rem;
  border: 0.7rem inset;
  border-color: transparent transparent transparent #7ac3d4;
  border-left-style: solid;
  border-right-width: 0;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

/*  carousel
=========================================================================== */
.carousel {
  position: relative;
}

.page-container > .carousel:first-child {
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.carousel__inner {
  position: relative;
}

.carousel__arrows {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
}

.carousel__arrows-track {
  height: 0;
}

.carousel__arrow {
  position: relative;
  top: -2.9rem;
  height: 5.8rem;
  width: 3.2rem;
  background-color: #eaecee;
  transition: all 0.2s ease;
}

.carousel__arrow:hover {
  background-color: #354658;
}

.carousel__arrow i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
}

.carousel__arrow--prev {
  float: left;
}

.carousel__arrow--prev i {
  left: -0.4rem;
  border-width: 0.8rem 0.8rem 0.8rem 0;
  border-color: transparent #354658 transparent transparent;
}

.carousel__arrow--prev:hover i {
  border-color: transparent #ffffff transparent transparent;
}

.carousel__arrow--prev:active i {
  border-color: transparent #e44a3c transparent transparent;
}

.carousel__arrow--next {
  float: right;
}

.carousel__arrow--next i {
  right: -0.4rem;
  border-width: 0.8rem 0 0.8rem 0.8rem;
  border-color: transparent transparent transparent #354658;
}

.carousel__arrow--next:hover i {
  border-color: transparent transparent transparent #ffffff;
}

.carousel__arrow--next:active i {
  border-color: transparent transparent transparent #e44a3c;
}

.carousel__arrow.slick-disabled {
  opacity: 0.1 !important;
  cursor: default;
}

.carousel__arrow.slick-disabled::after {
  display: none;
}

.carousel__track {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.carousel__track.unslicked, .carousel__track.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.carousel__track.unslicked .carousel__item:not(:first-child), .carousel__track.slick-initialized .carousel__item:not(:first-child) {
  display: block;
}

.carousel__item {
  outline: 0;
}

.carousel__item:not(:first-child) {
  display: none;
}

.carousel__item img {
  margin: auto;
}

.carousel--main {
  background-color: #c9d6e1;
}

.carousel--main .carousel__item {
  padding-top: 33.724%;
  height: 0;
}

.carousel--main .unslicked .carousel__item,
.carousel--main .slick-initialized .carousel__item {
  height: auto;
  padding-top: 0;
}

.carousel--main .carousel__track,
.carousel--main .carousel__arrows-track {
  max-width: 118rem;
  margin: auto;
}

.carousel--main .carousel__arrows {
  top: 50%;
}

.carousel--main .carousel__arrow {
  top: -3.5rem;
  height: 7rem;
  width: 4rem;
  background-color: #c9d6e1;
}

.carousel--main .carousel__arrow--prev i {
  left: -0.5rem;
  border-width: 1rem 1rem 1rem 0;
}

.carousel--main .carousel__arrow--next i {
  right: -0.5rem;
  border-width: 1rem 0 1rem 1rem;
}

.carousel--main .carousel__arrow:hover {
  background-color: #354658;
}

.carousel--promo .carousel__header {
  padding: 2rem 1rem;
  margin-bottom: -1px;
  border: 1px solid #eaecee;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #354658;
  color: #ffffff;
}

.carousel--promo .carousel__arrows {
  top: 12.5rem;
}

.carousel--show {
  margin-top: 5rem;
}

.carousel--show .carousel__header {
  position: relative;
  z-index: 1;
  margin-bottom: -1.6rem;
  line-height: 1;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
}

.carousel--show .carousel__header span {
  display: inline-block;
  vertical-align: top;
  padding: 0 2.5rem;
  background-color: #ffffff;
}

.carousel--show .carousel__arrows {
  top: 50%;
}

.carousel--show .carousel__inner {
  padding: 5rem 8rem;
  border: 1px solid #354658;
}

.carousel--show .carousel__track {
  margin: 0 -1.5rem;
}

.carousel--show .carousel__item {
  padding: 0 1.5rem;
}

.carousel--show .carousel__product-preview {
  border: 0;
}

.carousel--show .product-preview__image-container {
  border: 1px solid #eaecee;
  transition: border 0.2s ease;
}

.carousel--show .product-preview__image-container:hover {
  border-color: #7ac3d4;
}

.carousel--show .product-preview__bottom-pane {
  padding: 2rem 0 0;
}

@media screen and (max-width: 63.9375em) {
  .carousel--promo .carousel__inner {
    padding: 0 3.5rem;
  }
  .carousel--promo .carousel__header {
    margin-bottom: 1rem;
  }
  .carousel--promo .carousel__arrows {
    top: 50%;
  }
}

@media screen and (max-width: 44.9375em) {
  .carousel--show {
    margin: 0;
  }
  .carousel--show .carousel__header {
    font-size: 2rem;
    margin-bottom: -1rem;
  }
  .carousel--show .carousel__inner {
    padding: 3rem 4rem;
  }
}

/*  cart-button
=========================================================================== */
.cart-button {
  overflow: hidden;
  min-width: 10.3rem;
}

.cart-button__title, .cart-button__sum-wrap {
  display: block;
  line-height: 1em;
  overflow: hidden;
}

.cart-button__title {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.cart-button__sum, .cart-button__currency {
  display: inline-block;
  vertical-align: bottom;
}

.cart-button__sum {
  max-width: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-button:active {
  color: #e44a3c;
}

.cart-button__figure {
  float: left;
  margin-right: 0.4rem;
}

/*  catalog-menu
=========================================================================== */
.catalog-menu {
  position: relative;
  margin-left: -2rem;
}

.catalog-menu__list {
  font-size: 0;
}

.catalog-menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
}

/*  catalog-sorting
=========================================================================== */
.catalog-sorting {
  padding: 2rem;
  background: #f5f6f6;
}

.catalog-sorting::before, .catalog-sorting::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.catalog-sorting::after {
  clear: both;
}

.catalog-sorting__left, .catalog-sorting__right, .catalog-sorting__center {
  line-height: 4rem;
}

.catalog-sorting__left {
  float: left;
  margin-right: 1rem;
}

.catalog-sorting__right {
  float: right;
  margin-left: 1rem;
  text-align: right;
}

.catalog-sorting__center {
  text-align: center;
}

.catalog-sorting__title, .catalog-sorting__select, .catalog-sorting__view-btn {
  display: inline-block;
  vertical-align: middle;
}

.catalog-sorting__title {
  line-height: 1.2em;
  font-size: 1.4rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.catalog-sorting__select-wrap .catalog-sorting__title {
  margin-right: 2rem;
}

.catalog-sorting__select {
  height: 3.7rem;
  width: 19rem;
  border: 1px solid #d7dade;
  padding-left: 1rem;
  font-size: 1.4rem;
  color: #354658;
}

.catalog-sorting__view-btn {
  position: relative;
  height: 3.3rem;
  width: 3.3rem;
  transition: all .2s ease;
}

.catalog-sorting__view-btn:hover svg {
  fill: #e44a3c;
}

.catalog-sorting__view-btn svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #354658;
}

.catalog-sorting__view-btn + .catalog-sorting__view-btn {
  margin-left: 0.8rem;
}

.catalog-sorting__view-btn.is-active svg {
  fill: #7ac3d4;
}

@media screen and (max-width: 44.9375em) {
  .catalog-sorting {
    padding: 1rem;
  }
  .catalog-sorting__left, .catalog-sorting__right, .catalog-sorting__center {
    line-height: 2.5rem;
  }
  .catalog-sorting__title {
    font-size: 1rem;
  }
  .catalog-sorting__select {
    height: 2.5rem;
  }
  .catalog-sorting__view-btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}

/*  comments
=========================================================================== */
.comments__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7dade;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  line-height: 1.2em;
}

.comments__top-pane, .comments__bottom-pane, .comments__form {
  margin-bottom: 3rem;
}

.comments__top-pane {
  padding-bottom: 3rem;
  border-bottom: 1px solid #d7dade;
}

.comments__top-pane::before, .comments__top-pane::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.comments__top-pane::after {
  clear: both;
}

.comments__form {
  display: none;
  max-width: 50rem;
}

.comments__rating-container {
  float: left;
  font-size: 0;
}

.comments__rating-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  font-size: 1.6rem;
}

.comments__rating-column:not(:first-child) {
  padding-left: 2rem;
  border-left: 1px solid #d7dade;
}

.comments__show-all-comments {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
}

.comments__show-all-comments, .comments__show-all-comments:visited {
  color: #354658;
}

.comments__show-all-comments:hover {
  border-bottom: 1px dashed;
}

@media screen and (max-width: 63.9375em) {
  .comments__rating-column {
    display: block;
    margin: 0;
  }
  .comments__rating-column:not(:first-child) {
    border: 0;
    padding: 0;
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 44.9375em) {
  .comments__rating-container,
  .comments .comments__add-comment-button {
    float: none;
  }
  .comments__rating-container {
    margin-bottom: 1rem;
  }
}

.comment {
  padding: 3rem 0;
}

.comment:not(:first-child) {
  border-top: 1px solid #d7dade;
}

.comment:first-child {
  padding-top: 0;
}

.comment__avatar-container, .comment__body {
  display: table-cell;
  vertical-align: top;
}

.comment__avatar-container {
  padding-right: 1.5rem;
}

.comment__body {
  width: 100%;
}

.comment__avatar {
  width: 5.4rem;
  height: 5.4rem;
  line-height: 5.4rem;
  border-radius: 50%;
  background-color: #86909b;
  font-size: 2.6rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

.comment__header {
  margin-bottom: 0.5rem;
}

.comment__header::before, .comment__header::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.comment__header::after {
  clear: both;
}

.comment__rating-container {
  margin-bottom: 1.2rem;
}

.comment__name, .comment__date {
  font-size: 1.4rem;
}

.comment__name {
  font-weight: 700;
}

.comment__date {
  float: right;
  color: #a2a2a2;
}

.comment__title {
  font-weight: 700;
}

/*  switchable-button
=========================================================================== */
.switchable-button__text::before {
  content: attr(data-default);
}

.switchable-button.is-added .switchable-button__text::before {
  content: attr(data-added);
}

/*  dropdown-select
=========================================================================== */
.dropdown-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.dropdown-select:hover .dropdown-select__body {
  opacity: 1;
  visibility: visible;
}

.dropdown-select:hover .dropdown-select__header::before {
  opacity: 1;
}

.dropdown-select:hover .dropdown-select__header::after {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
  border-color: #354658 transparent transparent;
}

.dropdown-select:hover .dropdown-select__icon svg {
  fill: #354658;
}

.dropdown-select__header {
  position: relative;
  display: block;
}

.dropdown-select__header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: -1;
}

.dropdown-select__header::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border: 0.6rem inset;
  border-color: #ffffff transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.dropdown-select__icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.6rem;
  width: 2.6rem;
}

.dropdown-select__icon svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 2.4rem;
  max-height: 2.4rem;
  margin: auto;
  fill: #ffffff;
}

.dropdown-select__body-holder {
  position: relative;
  height: 0;
}

.dropdown-select__body {
  position: absolute;
  width: 100%;
  min-width: 20rem;
  top: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  background-color: #ffffff;
}

.dropdown-select--for-tels {
  padding-top: .8rem;
}

.dropdown-select--for-tels:not(:last-child) {
  margin-right: 3rem;
}

.dropdown-select--for-tels .dropdown-select__body,
.dropdown-select--for-tels .dropdown-select__header,
.dropdown-select--for-tels .dropdown-select__footer {
  padding-left: 2.5rem;
}

.dropdown-select--for-tels .dropdown-select__header::before {
  width: 2.3rem;
}

.dropdown-select--for-tels .dropdown-select__header::after {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  margin-top: -0.3rem;
  border-color: #7ac3d4 transparent transparent;
}

.dropdown-select--for-tels .dropdown-select__body .link {
  font-size: 2rem;
  color: #354658;
}

.dropdown-select--for-tels .button {
  margin: 0 2rem 0 1rem;
}

.dropdown-select--language .dropdown-select__header::before {
  top: -0.5rem;
  left: -0.5rem;
  bottom: 0;
  right: -0.5rem;
}

.dropdown-select--language .dropdown-select__body {
  min-width: 50rem;
  right: -0.5rem;
}

.dropdown-select--catalog-menu {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #354658;
}

.dropdown-select--catalog-menu:hover .dropdown-select__header {
  color: #e44a3c;
}

.dropdown-select--catalog-menu a {
  text-decoration: none;
  color: inherit;
}

.dropdown-select--catalog-menu a:hover:not(.dropdown-select__header) {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.dropdown-select--catalog-menu .dropdown-select__header {
  padding: 2.4rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1em;
}

.dropdown-select--catalog-menu .dropdown-select__header::after {
  display: none;
}

.dropdown-select--catalog-menu .dropdown-select__body {
  left: 0;
  right: auto;
  min-width: 48.5rem;
  padding-bottom: 4rem;
}

/*  email-subscription
=========================================================================== */
.email-subscription__title {
  position: relative;
  top: -0.4rem;
  line-height: 1.2em;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.email-subscription__form .wFormInput {
  display: inline-block;
  width: 100%;
  max-width: 51.5rem;
  vertical-align: middle;
  margin: 0 0.5rem 0 2rem;
}

@media screen and (max-width: 67.4375em) {
  .email-subscription__form .wFormInput {
    margin: 0;
  }
}

@media screen and (max-width: 63.9375em) {
  .email-subscription__title {
    margin: 0 0 1rem;
  }
  .email-subscription__form .wFormInput,
  .email-subscription__form .wSubmit {
    margin: 0 0 1rem;
  }
  .email-subscription__form .wFormInput {
    max-width: 28rem;
  }
}

/*  figure
=========================================================================== */
.figure {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0.8rem 0.8rem 0 0;
}

.figure__icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  height: 3rem;
}

.figure__icon svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #7ac3d4;
  transition: fill .2s ease;
}

.user-features__button:hover .figure__icon svg {
  fill: #ffffff;
}

.figure__badge {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 1s ease;
}

/*  grid
========================================================================== */
.grid__row::before, .grid__row::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.grid__row::after {
  clear: both;
}

.grid__row:not(:last-child) {
  border-bottom: 1px solid #eaecee;
}

.grid__row:not(:first-child) .grid__item {
  padding-top: 0.8rem;
}

.grid__row:last-child .grid__item {
  padding-bottom: 0;
}

.grid__item {
  float: left;
  width: 50%;
  padding-bottom: 0.8rem;
}

.grid__item:not(:last-child) {
  border-right: 1px solid #eaecee;
}

/*  languages
=========================================================================== */
.languages {
  color: #777;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.languages__list {
  font-size: 0;
  overflow: hidden;
  margin-bottom: -1px;
}

.languages__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 1.2rem;
  text-align: right;
}

.languages__link {
  display: block;
  padding: 0.3em 1em !important;
  border-bottom: 1px solid #eaecee;
  line-height: 2.4rem;
  text-decoration: none;
  transition: background .2s ease, border .2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.languages__link:hover {
  text-decoration: none !important;
  background-color: #65ABD9;
  color: #ffffff;
  border-color: transparent;
}

.languages__flag, .languages__name, .languages__sub-name {
  display: inline-block;
  vertical-align: middle;
}

.languages__flag {
  margin-right: 0.5em;
  float: left;
}

.languages__name {
  text-transform: uppercase;
  font-weight: 700;
}

/*  link
=========================================================================== */
.link {
  text-decoration: none;
  color: #7ac3d4;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  line-height: 1;
}

.link--tel {
  font-size: 2.6rem;
}

.link--tel img {
  margin-top: -0.2em;
}

.link:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

/*  logo
=========================================================================== */
.logo {
  display: inline-block;
  vertical-align: middle;
}

a.logo {
  text-decoration: none;
}

.logo__image {
  vertical-align: top;
  max-height: 100%;
}

.logo__text {
  display: inline-block;
  vertical-align: top;
  line-height: 1.25em;
  padding-top: 0.5rem;
  margin-left: 1.4rem;
  font-size: 1.4rem;
  color: #75a1b9;
}

.logo--mobile {
  margin-top: 1.1rem;
  height: 2.4rem;
}

.page-footer__logo {
  margin-bottom: 1rem;
}

.page-footer__logo .logo__text {
  display: block;
  margin: 1rem 0 0;
}

/*  magnify
=========================================================================== */
.magnify {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.magnify img,
.magnify a {
  position: relative;
  z-index: 1;
}

.magnify a, .magnify__item {
  display: inline-block;
  vertical-align: top;
}

.magnify__item:not(:only-child) {
  padding-right: 25%;
  padding-bottom: 20%;
}

.magnify__item:not(:only-child) a::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/bg-warranty-preview-extra.jpg) no-repeat center;
  background-size: cover;
  -webkit-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
          transform: rotate(14deg);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.magnify__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 36%;
  border-radius: 50%;
  background-color: rgba(53, 70, 88, 0.7);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.magnify__icon::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.magnify__icon,
.magnify__icon svg {
  transition: all 0.2s ease;
}

.magnify__icon svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  fill: #7ac3d4;
}

a:hover .magnify__icon {
  width: 50%;
  background-color: rgba(122, 195, 212, 0.7);
  box-shadow: 0 0 10px 0 rgba(53, 70, 88, 0.4);
}

a:hover .magnify__icon svg {
  width: 35%;
  height: 35%;
  fill: #ffffff;
}

.magnify-gallery-img {
  display: block;
}

.magnify-gallery-img .mfp-img {
  margin: -40px 0;
}

.magnify-gallery-img img {
  cursor: zoom-in;
}

.magnify-gallery .mfp-bottom-bar {
  margin-top: 5px;
}

/*  map
========================================================================== */
.map-container {
  position: relative;
}

.map-container .map {
  width: 100%;
  height: 32rem;
}

/*  mobile-ofc
=========================================================================== */
.mobile-ofc {
  padding: 1.5rem 0;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.mobile-ofc__menu-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

.mobile-ofc__devision-title {
  padding: 0.7rem 1rem;
  color: #e44a3c;
  font-size: 1.4rem;
}

.mobile-ofc__devision-title i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

.mobile-ofc__devision-title i:last-child:not(:only-child) {
  margin-left: 1rem;
}

.mobile-ofc__devision-title i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #e44a3c;
}

.mobile-ofc .menu a {
  color: inherit;
  text-decoration: none;
  padding: 1rem 2rem;
}

.mobile-ofc .menu a:hover {
  background-color: rgba(53, 70, 88, 0.3);
}

.mobile-ofc .menu.nested {
  background: #3e5870;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.mobile-ofc .menu-text {
  font-weight: 400;
}

/*  order-summary
=========================================================================== */
.order-summary {
  padding-left: 2rem;
}

.order-summary__body {
  margin-bottom: 2rem;
}

.order-summary__footer .wSubmit {
  margin-right: 2rem;
}

.order-summary__total-container {
  float: right;
  margin-top: -0.3em;
}

.order-summary__total {
  font-size: 3.2rem;
}

@media screen and (max-width: 63.9375em) {
  .order-summary {
    padding: 0;
  }
  .order-summary__footer .wSubmit {
    margin: 0;
  }
  .order-summary__total-container {
    float: none;
  }
}

/*  page-aside
=========================================================================== */
.page-aside {
  padding-right: 3rem;
}

.page-aside__menu {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.page-aside__menu ul {
  padding: 0.5rem 0 1rem;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

.page-aside__menu ul a {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-bottom: 1.2rem;
}

.page-aside__menu ul a > span {
  vertical-align: baseline;
}

.page-aside__menu ul a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.page-aside__menu > li {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #d7dade;
}

.page-aside__menu > li:first-child {
  border-top: 1px solid #d7dade;
}

.page-aside__menu > li.active > a {
  padding-left: 1.8rem;
}

.page-aside__menu > li > a {
  padding: 2.1rem 3rem 2.1rem 0;
  line-height: 1.1em;
  text-transform: uppercase;
}

.page-aside__menu > li > a:hover {
  padding-left: 1.8rem;
  color: #ffffff;
  background-color: #7ac3d4;
}

.page-aside__menu > li a {
  text-decoration: none;
  padding-left: 0;
  transition: all 0.2s ease;
}

.page-aside__menu .is-accordion-submenu-parent > a::after {
  border-color: #354658 transparent transparent;
}

.page-aside__menu .is-accordion-submenu-parent > a:hover::after {
  border-color: #ffffff transparent transparent;
}

.page-aside__menu .nested {
  margin-left: 0;
}

.page-aside__title {
  margin-bottom: 2rem;
  line-height: 1.2em;
  font-size: 2.6rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

@media screen and (max-width: 63.9375em) {
  .page-aside {
    padding: 0;
  }
}

/*  page-tabs
=========================================================================== */
.page-tabs__header {
  padding-top: 1rem;
  background-color: #354658;
}

.page-tabs .tabs-panel {
  padding-top: 3rem;
}

@media screen and (max-width: 63.9375em) {
  .page-tabs__header {
    padding: 1rem 0 2rem;
  }
  .page-tabs__header .tabs-title {
    float: none;
    display: block;
    margin-bottom: -1rem;
    background-color: #354658;
    border: 1px solid #e44a3c;
  }
}

/*  pagination
=========================================================================== */
.pagination {
  position: relative;
  font-size: 0;
  text-align: center;
  color: #a2a2a2;
}

.pagination-arrow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.pagination-arrow:first-child {
  margin-right: 2rem;
}

.pagination-arrow:last-child {
  margin-left: 2rem;
}

.pagination-arrow svg {
  fill: transparent;
  stroke: #a2a2a2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: max-height 0.1s linear, max-width 0.1s linear;
}

.pagination-arrow:hover {
  opacity: 1;
}

.pagination-arrow:hover::after {
  width: 100%;
}

.pagination > span {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.2rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
}

.pagination > span > a,
.pagination > span > span {
  box-sizing: border-box;
  display: block;
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0 0.2em;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
}

.pagination > span > span {
  cursor: default;
}

.pagination > .is-active > a,
.pagination > span > a:hover {
  color: #ffffff;
  background-color: #354658;
}

/*  popups
=========================================================================== */
.oneclick-popup {
  background-color: #354658;
  color: #ffffff;
}

.oneclick-popup .is-list-view .product-preview {
  padding-left: 10rem;
  min-height: 11rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.oneclick-popup .is-list-view .product-preview:hover {
  box-shadow: none;
  border-color: #ffffff;
}

.oneclick-popup .is-list-view .product-preview__image-container {
  width: 10rem;
  height: 10rem;
}

.oneclick-popup .is-list-view .product-preview__image-container:hover {
  box-shadow: 0 0 10px 0 #7ac3d4;
}

.oneclick-popup .product-preview__name, .oneclick-popup .product-preview__name:visited {
  color: #ffffff;
}

.oneclick-popup .wFormInput {
  margin-bottom: 2rem !important;
}

@media screen and (max-width: 44.9375em) {
  .oneclick-popup .wForm {
    max-width: 30rem;
    margin: auto;
  }
  .oneclick-popup .wForm .wSubmit {
    width: 100%;
  }
}

@media screen and (max-width: 29.9375em) {
  .oneclick-popup .is-list-view .product-preview {
    padding-left: 0;
  }
  .oneclick-popup .is-list-view .product-preview__image-container {
    margin: auto;
  }
}

.instructions-popup__header, .instructions-popup__body {
  margin-bottom: 3rem;
  border-bottom: 1px solid #d7dade;
}

.instructions-popup__header {
  padding-bottom: 1rem;
  font-size: 2.4rem;
}

.instructions-popup__body {
  padding-bottom: 3rem;
}

.instructions-popup__footer {
  font-size: 1.4rem;
  line-height: 1.2em;
}

.instructions-popup__title {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.instructions-popup__button-container {
  float: left;
  padding-top: 0.8rem;
  margin-right: 3rem;
}

.instructions-popup__info-container {
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.2em;
}

@media screen and (max-width: 44.9375em) {
  .instructions-popup__button-container {
    float: none;
    padding: 0;
    margin: 0 0 1rem;
  }
}

/*  price
=========================================================================== */
.price {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  line-height: 1;
}

.price ins {
  text-decoration: none;
}

.price__old, .price__current {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price__old {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #e44a3c;
}

/*  product-catalog
=========================================================================== */
.product-catalog {
  position: relative;
  z-index: 10;
  font-size: 0;
  margin-left: -3.633%;
  text-align: center;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.product-catalog__item {
  display: inline-block;
  vertical-align: top;
  width: 29.7%;
  min-width: 23rem;
  margin: 0 0 3.633% 3.633%;
  text-align: left;
  font-size: 1.6rem;
}

.is-list-view .product-catalog__item {
  display: block;
  width: 100%;
  margin: 0 0 3rem 0;
}

.product-catalog.is-list-view {
  margin: 0;
}

/*  product-label
=========================================================================== */
.product-label {
  position: relative;
  display: inline-block;
  padding: 0 2rem;
  max-width: calc(100% - 10px);
  margin-right: 1rem;
  line-height: 4.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #7ac3d4;
}

.product-label, .product-label:hover, .product-label:visited, .product-label:focus {
  color: #ffffff;
}

.product-label ins {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border: 22px solid #7ac3d4;
  border-right: 10px solid transparent;
  border-left-width: 0;
}

.product-label--success {
  background-color: #53bfa6;
}

.product-label--success::after {
  border-color: #53bfa6;
  border-right-color: transparent;
}

.product-label--alert {
  background-color: #e44a3c;
}

.product-label--alert::after {
  border-color: #e44a3c;
  border-right-color: transparent;
}

/*  product-preview
=========================================================================== */
.product-preview {
  position: relative;
  border: 1px solid #eaecee;
  border-top-width: 2px;
  transition: box-shadow .2s ease;
}

.product-preview::before, .product-preview::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.product-preview::after {
  clear: both;
}

.product-preview:not(.carousel__product-preview):hover {
  box-shadow: 0 0 0 3px #7ac3d4;
  border-color: #7ac3d4;
}

.product-preview:not(.carousel__product-preview):hover .product-preview__description {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0 0 3px #7ac3d4;
  border: 1px solid #7ac3d4;
}

.product-preview__for-list-view {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.product-preview__image-container {
  display: block;
  position: relative;
  height: 0;
  padding-top: 100%;
  border-bottom: 1px solid #eaecee;
  overflow: hidden;
}

.product-preview__image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: opacity .3s;
}

.product-preview__image-container img:not(:only-child):last-child {
  opacity: 0;
}

.product-preview__image-container:hover img:not(:only-child):first-child {
  opacity: 0;
}

.product-preview__image-container:hover img:not(:only-child):last-child {
  opacity: 1;
}

.product-preview__top-pane, .product-preview__bottom-pane {
  clear: both;
  overflow: hidden;
}

.product-preview__top-pane {
  padding: 1rem 2rem;
  border-bottom: 1px solid #eaecee;
}

.product-preview__bottom-pane {
  padding: 1rem 2rem 2rem;
}

.product-preview__name {
  display: block;
  margin-bottom: 1rem;
  line-height: 1.2em;
  height: 3.6em;
  font-size: 1.5rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 700;
  overflow: hidden;
  text-decoration: none;
}

.product-preview__name, .product-preview__name:visited {
  color: #354658;
}

.product-preview__name:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.product-preview__name--large {
  height: auto;
  max-height: 3.6em;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.carousel--promo .product-preview__name {
  margin-bottom: 0.5rem;
}

.product-preview__compare-wrap {
  font-size: 1.2rem;
  line-height: 1em;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.product-preview__compare-wrap::before, .product-preview__compare-wrap::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.product-preview__compare-wrap::after {
  clear: both;
}

.product-preview__code {
  float: left;
}

.product-preview__compare {
  float: right;
  text-transform: uppercase;
  color: #7ac3d4;
}

.product-preview__compare:hover {
  color: #354658;
}

.product-preview__compare:active {
  color: #e44a3c;
}

.product-preview__compare.is-added {
  color: #53bfa6;
}

.product-preview__rating {
  width: 100%;
  margin-bottom: 1rem;
}

.carousel--promo .product-preview__rating {
  margin-bottom: 0.8rem;
}

.product-preview__price {
  width: 100%;
  margin-bottom: 1.4rem;
}

.carousel--promo .product-preview__price {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.product-preview__description {
  z-index: 10;
  left: -1px;
  right: -1px;
  top: 100%;
  padding: 0 2rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5em;
  background-color: #ffffff;
  transition: box-shadow 0.2s ease;
}

.product-preview__description p {
  overflow: hidden;
  max-height: 15em;
}

.product-preview__description::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ffffff;
}

.product-preview__description .button {
  margin: 1rem 0;
}

.product-preview__status {
  margin-bottom: 1rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 1.2rem;
  line-height: 1em;
}

.product-preview .product-label {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 0;
}

.product-preview__button + .product-preview__button {
  clear: both;
  margin-top: 1rem;
}

.is-list-view .product-preview {
  padding-left: 30.881%;
  padding-bottom: 4rem;
  border-width: 0;
  border-bottom-width: 1px;
}

.is-list-view .product-preview__for-list-view {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.is-list-view .product-preview__for-tile-view {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.is-list-view .product-preview__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 30.881%;
  height: calc(100% - 4rem);
  padding: 0;
  border: 0;
}

.is-list-view .product-preview__top-pane {
  border: 0;
  padding: 1rem 2rem 0;
}

.is-list-view .product-preview__bottom-pane {
  padding: 1rem 2rem 0;
}

.is-list-view .product-preview__name {
  margin-bottom: 1rem;
}

.is-list-view .product-preview__rating {
  float: left;
  width: auto;
  margin: 0 1rem 0 0;
}

.is-list-view .product-preview__compare-wrap {
  float: right;
}

.is-list-view .product-preview__code, .is-list-view .product-preview__compare {
  line-height: 2.4rem;
}

.is-list-view .product-preview__code {
  margin-right: 1rem;
}

.is-list-view .product-preview__description {
  margin-bottom: 1.5rem;
  padding: 0;
  box-shadow: none !important;
  border: 0 !important;
}

.is-list-view .product-preview__description p {
  max-height: 7.5em;
}

.is-list-view .product-preview__description::before {
  display: none;
}

.is-list-view .product-preview__price {
  width: auto;
  margin-top: 1rem;
}

.is-list-view .product-preview__price .price__old {
  font-size: 1.6rem;
}

.is-list-view .product-preview__price .price__current {
  font-size: 2.6rem;
}

.is-list-view .product-preview__button {
  float: right;
  max-width: 20rem;
}

.is-list-view .product-preview .product-label {
  top: 3rem;
}

.product-preview--compare,
.product-preview--compare .product-preview__top-pane {
  border: 0;
}

.product-preview--compare .product-preview__image-container {
  width: 50%;
  padding-top: 15rem;
  margin: auto;
  border: 0;
}

.product-preview--compare .product-preview__compare-wrap + .product-preview__price {
  margin-top: 3.1rem;
}

.product-preview--compare:hover {
  box-shadow: none !important;
}

@media screen and (max-width: 63.9375em) {
  .is-list-view .product-preview__price {
    width: 100%;
  }
  .is-list-view .product-preview__button {
    float: none;
  }
  .carousel--promo .product-preview {
    padding-left: 30.881%;
    padding-bottom: 4rem;
    border-width: 0;
    border-bottom-width: 1px;
  }
  .carousel--promo .product-preview__for-list-view {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  .carousel--promo .product-preview__for-tile-view {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .carousel--promo .product-preview__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 30.881%;
    height: calc(100% - 4rem);
    padding: 0;
    border: 0;
  }
  .carousel--promo .product-preview__top-pane {
    border: 0;
    padding: 1rem 2rem 0;
  }
  .carousel--promo .product-preview__bottom-pane {
    padding: 1rem 2rem 0;
  }
  .carousel--promo .product-preview__name {
    margin-bottom: 1rem;
  }
  .carousel--promo .product-preview__rating {
    float: left;
    width: auto;
    margin: 0 1rem 0 0;
  }
  .carousel--promo .product-preview__compare-wrap {
    float: right;
  }
  .carousel--promo .product-preview__code, .carousel--promo .product-preview__compare {
    line-height: 2.4rem;
  }
  .carousel--promo .product-preview__code {
    margin-right: 1rem;
  }
  .carousel--promo .product-preview__description {
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .carousel--promo .product-preview__description::before {
    display: none;
  }
  .carousel--promo .product-preview__price {
    white-space: normal;
  }
  .carousel--promo .product-preview__price .price__old {
    font-size: 1.6rem;
  }
  .carousel--promo .product-preview__price .price__current {
    font-size: 2.6rem;
  }
  .carousel--promo .product-preview .product-label {
    top: 3rem;
  }
  .carousel--promo .product-preview__button {
    max-width: 20rem;
  }
}

@media screen and (max-width: 44.9375em) {
  .is-list-view .product-preview,
  .carousel--promo .product-preview {
    padding-left: 25%;
  }
  .is-list-view .product-preview__image-container,
  .carousel--promo .product-preview__image-container {
    width: 25%;
  }
  .is-list-view .product-preview__image-container img,
  .carousel--promo .product-preview__image-container img {
    position: relative;
  }
  .is-list-view .product-preview__rating, .is-list-view .product-preview__compare-wrap, .is-list-view .product-preview__code, .is-list-view .product-preview__compare,
  .carousel--promo .product-preview__rating,
  .carousel--promo .product-preview__compare-wrap,
  .carousel--promo .product-preview__code,
  .carousel--promo .product-preview__compare {
    float: none;
  }
  .is-list-view .product-preview__rating,
  .carousel--promo .product-preview__rating {
    width: auto;
    margin: 0 0 1rem 0;
  }
  .is-list-view .product-preview__compare-wrap,
  .carousel--promo .product-preview__compare-wrap {
    width: 100%;
  }
  .is-list-view .product-preview__code, .is-list-view .product-preview__compare,
  .carousel--promo .product-preview__code,
  .carousel--promo .product-preview__compare {
    line-height: initial;
  }
  .is-list-view .product-preview__description,
  .carousel--promo .product-preview__description {
    margin: 0;
  }
  .is-list-view .product-preview__price,
  .carousel--promo .product-preview__price {
    margin: 0 1rem 1rem 0;
  }
  .is-list-view .product-preview .product-label,
  .carousel--promo .product-preview .product-label {
    position: relative;
    top: 0;
    left: 2rem;
  }
}

@media screen and (max-width: 29.9375em) {
  .is-list-view .product-preview,
  .carousel--promo .product-preview {
    padding-left: 0;
  }
  .is-list-view .product-preview__image-container,
  .carousel--promo .product-preview__image-container {
    position: relative;
    width: 100%;
    height: 12rem;
  }
  .is-list-view .product-preview .product-label,
  .carousel--promo .product-preview .product-label {
    position: absolute;
  }
}

/*  product-list
=========================================================================== */
.product-list__item {
  position: relative;
  padding: 1rem;
  margin-bottom: 0.2rem;
  background-color: #eaecee;
}

.product-list__item::before, .product-list__item::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.product-list__item::after {
  clear: both;
}

.product-list__img-container {
  float: left;
  width: 10.5rem;
  height: 10.5rem;
  margin-right: 1rem;
}

.product-list__img-container img {
  transition: box-shadow 0.2s ease;
}

.product-list__img-container a:hover img {
  box-shadow: 0 0 10px 0 #7ac3d4;
}

.product-list__item-status, .product-list__header, .product-list__item-info {
  overflow: hidden;
}

.product-list__header {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #d7dade;
  line-height: 1em;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 1.4rem;
}

.product-list__num, .product-list__date {
  margin-bottom: 1rem;
}

.product-list__num {
  float: left;
}

.product-list__date {
  float: right;
}

.product-list__item-info {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.product-list__item-info--price-middle {
  padding: 2rem 30% 0 0;
}

.product-list__item-info--price-middle .product-list__price {
  position: absolute;
  right: 2rem;
  top: 50%;
  line-height: 1;
  max-width: calc(30% - 2rem);
  text-align: right;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 63.9375em) {
  .product-list__item-info--price-middle {
    padding-right: 0;
  }
  .product-list__item-info--price-middle .product-list__price {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-width: 100%;
  }
}

.product-list__title {
  max-height: 3.6em;
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #354658;
  overflow: hidden;
}

.product-list__title a {
  text-decoration: none;
}

.product-list__title a, .product-list__title a:visited {
  color: inherit;
}

.product-list__title a:hover {
  text-decoration: underline;
}

.product-list__quantity {
  font-size: 1.4rem;
}

.product-list--history .product-list__item {
  margin-bottom: 1rem;
}

.product-list--history .product-list__quantity,
.product-list--history .product-list__price {
  display: inline-block;
  vertical-align: baseline;
}

.product-list--history .product-list__quantity {
  margin-right: 1rem;
}

.product-list--history .product-list__item-info {
  float: left;
}

.product-list--history .product-list__item-status {
  padding-top: 0.5rem;
  float: right;
}

@media screen and (max-width: 44.9375em) {
  .product-list__num, .product-list__date {
    float: none;
  }
  .product-list--history .product-list__item-info,
  .product-list--history .product-list__item-status {
    float: none;
  }
  .product-list--history .product-list__item-status {
    padding: 0;
  }
}

/*  progress
=========================================================================== */
.progress {
  display: block;
}

.progress__bar {
  display: inline-block;
  vertical-align: middle;
}

.progress__bar-meter {
  width: 0;
  height: 100%;
  background-color: #7ac3d4;
  transition: width 2s ease;
}

.progress__item {
  display: table-row;
}

.progress__bar-container {
  display: table-cell;
  vertical-align: middle;
}

.progress__rating .rating__count {
  color: #354658;
}

.progress__bar-container {
  padding-left: 0.5rem;
  width: 10rem;
}

.progress__bar {
  width: 100%;
  height: 1rem;
  background-color: #f5f6f6;
}

/*  product
========================================================================== */
.product__gallery {
  padding-right: 3rem;
}

.product__main-image-container {
  position: relative;
  margin-bottom: 2rem;
}

.product__main-image-container .product-label {
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  left: 0;
}

.product__main-image-wrap {
  position: relative;
  display: block;
  height: 0;
  padding-top: 100%;
  border: 1px solid #eaecee;
  overflow: hidden;
}

.product__main-image-wrap img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product__main-image-wrap .zoomImg {
  z-index: 2;
}

.product__thumbnails {
  font-size: 0;
}

.product__thumbnail {
  display: inline-block;
  vertical-align: top;
  width: 10.5rem;
  border: 1px solid #eaecee;
  margin: 0 1rem 1rem 0;
}

.product__thumbnail-inner {
  position: relative;
  display: block;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.product__thumbnail-inner:hover {
  box-shadow: 0 0 10px 0 #7ac3d4;
}

.product__thumbnail-inner img,
.product__thumbnail-inner svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product__thumbnail-inner svg {
  max-width: 55%;
  max-height: 55%;
  fill: #e44a3c;
}

.product__name {
  margin-bottom: 0.7em;
  line-height: 1.2em;
  font-size: 4rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #3e5870;
}

.product__rating-container {
  margin-bottom: 0.8rem;
}

.product__rating-container::before, .product__rating-container::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.product__rating-container::after {
  clear: both;
}

.product__code {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.product__status-container {
  margin-bottom: 1rem;
  background-color: #f5f6f6;
  font-size: 0;
  overflow: hidden;
}

.product__status {
  display: inline-block;
  vertical-align: top;
  padding: 1.5rem 2rem;
  margin-left: -1px;
  border-left: 1px solid  #d7dade;
  font-size: 1.4rem;
}

.product__status i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.product__status i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #7ac3d4;
}

.product__status--wide i {
  width: 5rem;
}

.product__media-container {
  font-size: 0;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.product__media-button {
  margin-right: 3rem;
  font-size: 1.4rem;
  line-height: 1.2em;
  color: #4c5968;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.2s ease;
  cursor: pointer;
}

.product__media-button, .product__media-button:visited {
  color: #4c5968;
}

.product__media-button::before, .product__media-button::after {
  content: '';
  display: table;
}

.product__media-button:hover {
  color: #7ac3d4;
}

.product__media-button:hover i svg {
  fill: #e44a3c;
}

.product__media-button,
.product__media-button i,
.product__media-button span {
  display: inline-block;
  vertical-align: middle;
}

.product__media-button i {
  position: relative;
  height: 3.6rem;
  width: 3.6rem;
}

.product__media-button i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #7ac3d4;
  transition: fill 0.2s ease;
}

.product__media-button span {
  vertical-align: middle;
  padding-left: 1rem;
}

.product__media-button--youtube i {
  height: 4.6rem;
  width: 4.6rem;
}

.product__media-button--3d i {
  width: 5.6rem;
}

.product__body {
  padding-top: 3rem;
  margin-bottom: 3rem;
  border-top: 1px solid #d7dade;
  border-bottom: 1px solid #d7dade;
}

.product__control-container {
  margin-bottom: 3rem;
}

.product__control-container::before, .product__control-container::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.product__control-container::after {
  clear: both;
}

.product__price-container {
  float: left;
  padding-top: 0.8rem;
}

.product__controls {
  float: right;
}

.product__price {
  margin-bottom: 0.8rem;
}

.product__price .price__old,
.product__price .price__current {
  font-size: 2.8rem;
}

.product__price .price__current {
  font-weight: 700;
}

.product__control {
  display: block;
  width: 8rem;
  padding: 0 0.5rem;
  line-height: 1;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease;
}

.product__control, .product__control:visited {
  color: #7ac3d4;
}

.product__control:hover {
  color: #e44a3c;
}

.product__control:hover i svg {
  fill: #e44a3c;
}

.product__control i,
.product__control span {
  display: block;
}

.product__control i {
  height: 3rem;
  margin-bottom: 0.5rem;
}

.product__control i svg {
  fill: #7ac3d4;
  transition: fill 0.2s ease;
}

.product__control.is-added {
  color: #53bfa6;
}

.product__control.is-added i svg {
  fill: #53bfa6;
}

@media screen and (max-width: 63.9375em) {
  .product__gallery {
    padding: 0;
  }
  .product__thumbnail {
    width: 7rem;
  }
  .product__name {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .product__status {
    width: 100%;
    padding: 1rem;
    margin-left: 0;
    margin-top: -1px;
    border-top: 1px solid #d7dade;
    border-left: 0;
  }
  .product__body {
    padding-top: 2rem;
  }
  .product__media-container {
    padding-left: 1rem;
  }
  .product__media-button {
    margin-bottom: 1rem;
  }
  .product__price-container {
    float: none;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
  .product__price {
    width: 100%;
  }
  .product__control-container {
    margin-bottom: 2rem;
  }
  .product__controls {
    float: none;
    text-align: center;
  }
  .product__controls .grid {
    clear: both;
  }
  .product__controls .grid__row {
    display: inline-block;
    border: 0 !important;
  }
  .product__controls .grid__item {
    width: 8rem;
    padding: 0;
    border: 0;
  }
}

@media screen and (max-width: 44.9375em) {
  .product__main-image-container {
    max-width: 30rem;
    margin: 0 auto 2rem;
  }
  .product__thumbnails {
    text-align: center;
  }
}

@media screen and (max-width: 29.9375em) {
  .product__code {
    margin: 0;
    display: block;
  }
}

/*  promo
=========================================================================== */
.promo-section__right-column > * {
  padding-left: 3rem;
}

@media screen and (max-width: 63.9375em) {
  .promo-section__right-column > * {
    padding-left: 0;
  }
}

.promo-container::before, .promo-container::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.promo-container::after {
  clear: both;
}

.promo-container .promo--large {
  float: right;
  width: 53.424%;
  margin-left: 3rem;
}

.promo-container--up-to-3 .promo {
  float: left;
  width: 30.85%;
  height: 31.4rem;
}

.promo-container--up-to-3 .promo:not(:nth-child(3n+3)) {
  margin-right: 3.71%;
}

@media screen and (max-width: 63.9375em) {
  .promo-container .promo--large {
    margin-left: 2rem;
  }
  .promo-container .promo--diamond {
    width: 30.85%;
    margin-left: auto;
    margin-right: auto;
  }
  .promo-container--up-to-3 .promo {
    height: 25rem;
  }
}

@media screen and (max-width: 44.9375em) {
  .promo-container .promo {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .promo-container .promo:nth-child(2n+3) {
    margin-right: 0;
  }
  .promo-container .promo--large {
    width: 100%;
    float: none;
    height: auto;
    margin: 0 0 2rem;
  }
  .promo-container .promo--diamond {
    float: none;
    width: 48%;
    height: auto;
    padding: 7rem 0;
    margin-right: auto;
    margin-left: auto;
  }
  .promo-container--up-to-3 .promo:nth-child(2n+2) {
    margin-right: 0;
  }
  .promo-container--up-to-3 .promo:last-child {
    float: none;
    clear: both;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 29.9375em) {
  .promo-container .promo {
    float: none;
    width: 100%;
    margin: 0 auto 2rem !important;
  }
  .promo-container .promo--diamond {
    max-width: 24rem;
  }
  .promo-container--up-to-3 {
    text-align: center;
  }
  .promo-container--up-to-3 .promo {
    float: none;
    display: inline-block;
    vertical-align: top;
    max-width: 24rem;
  }
}

.promo {
  position: relative;
  display: block;
  height: 22.4rem;
  padding: 3.5rem 2rem;
  margin-bottom: 3rem;
  line-height: 1.4em;
  text-align: left;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

.promo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: box-shadow 0.2s ease;
}

.promo:hover {
  box-shadow: inset 0 0 40px 0 rgba(255, 255, 255, 0.8);
}

.promo:hover::after {
  box-shadow: inset 0 0 10px 1px rgba(122, 195, 212, 0.8);
}

.promo__inner {
  position: relative;
  height: 100%;
}

.promo__link {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin: -4px 0 0 6px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #354658;
}

.color-white .promo__link::after {
  border-color: transparent transparent transparent #ffffff;
}

.promo__title, .promo__sub-title {
  line-height: 1.2em;
}

.promo__title {
  font-size: 2.4rem;
  font-family: Georgia, serif;
}

.promo__sub-title {
  font-size: 3.6rem;
}

.promo--large {
  height: 47.8rem;
  padding: 4%;
}

.promo--large .promo__inner {
  padding: 10rem 4rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.promo--large .promo__inner::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  left: 30px;
  bottom: 30px;
  border: 1px solid #ffffff;
}

.promo--large .promo__sub-title {
  margin-bottom: 2.5rem;
}

.promo--framed {
  padding: 4rem;
  background-color: #eaecee;
}

.promo--framed:hover .promo__sub-title {
  color: #e44a3c;
}

.promo--framed .promo__inner {
  padding: 2.5rem 0;
  border: 2px solid #354658;
}

.promo--framed .promo__link {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 0 1.3rem;
  line-height: 1em;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #eaecee;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.promo--framed .promo__title {
  margin-bottom: 1.5rem;
}

.promo--framed .promo__sub-title {
  font-size: 5rem;
}

.page-aside__promo-container .promo--framed {
  height: 31.5rem;
}

.promo--product .product-label {
  position: absolute;
  top: 4rem;
  left: 0;
}

.promo--product .promo__title {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 4.8em;
  line-height: 1.2em;
  font-size: 1.5rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 700;
  overflow: hidden;
}

.promo--diamond .promo__inner {
  padding: 4rem 1rem;
}

.promo--diamond .promo__svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.promo--diamond .promo__svg svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #ffffff;
}

.promo--diamond .promo__title {
  line-height: 1em;
  padding-bottom: 0.5rem;
}

.promo--diamond .promo__link {
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (max-width: 63.9375em) {
  .promo {
    height: 20rem;
    margin-bottom: 2rem;
  }
  .promo__title {
    font-size: 2rem;
  }
  .promo__sub-title {
    font-size: 2.8rem;
  }
  .promo--framed {
    padding: 2rem;
  }
  .promo--framed .promo__sub-title {
    font-size: 3.6rem;
  }
  .promo--large {
    height: 42rem;
  }
}

@media screen and (max-width: 44.9375em) {
  .promo {
    height: 14rem;
  }
  .promo--large {
    padding: 2rem;
  }
  .promo--large .promo__inner {
    padding: 4rem;
  }
  .promo--large .promo__inner::after {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }
  .promo--diamond .promo__svg svg {
    max-height: 90%;
  }
  .promo--diamond .promo__inner {
    padding: 0;
  }
}

/*  quick-registration
=========================================================================== */
.quick-registration__inner {
  padding: 4rem 2.5rem;
  background: #d2c1af url(../pic/bg-quick-registration.png) no-repeat 60px bottom;
}

.quick-registration__inner::before, .quick-registration__inner::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.quick-registration__inner::after {
  clear: both;
}

.quick-registration__title {
  float: left;
}

.quick-registration__title p {
  margin-top: -0.5rem;
  line-height: 1em;
}

.quick-registration__title p + p {
  margin-top: 0.5rem;
}

.quick-registration__form {
  float: right;
}

.quick-registration__form .wFormInput,
.quick-registration__form .wSubmit {
  display: inline-block;
  vertical-align: middle;
}

.quick-registration__form .wFormInput {
  width: 28.4rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.quick-registration__form .wInput {
  color: #d2c1af;
  background-color: #e4dacf;
  border-color: #e4dacf;
}

.quick-registration__form .wInput:focus {
  color: #354658;
}

.quick-registration__form .wInput:-moz-placeholder {
  color: #d2c1af;
}

.quick-registration__form .wInput::-moz-placeholder {
  color: #d2c1af;
}

.quick-registration__form .wInput:-ms-input-placeholder {
  color: #d2c1af;
}

.quick-registration__form .wInput::-webkit-input-placeholder {
  color: #d2c1af;
}

@media screen and (max-width: 67.4375em) {
  .quick-registration__inner {
    padding: 2rem 1rem 1rem;
  }
  .quick-registration__title, .quick-registration__form {
    float: none;
    text-align: center;
  }
  .quick-registration__title {
    margin-bottom: 1rem;
  }
  .quick-registration__title p {
    margin: 0;
    line-height: 1.5em;
  }
  .quick-registration__form .wFormInput,
  .quick-registration__form .wSubmit {
    margin: 0 0 1rem 0;
  }
  .quick-registration__form .wFormInput {
    width: 100%;
    max-width: 28rem;
  }
}

/*  rating
=========================================================================== */
.rating {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
}

.rating__stars {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.rating__stars input,
.rating__stars i {
  float: right;
  width: 1.9rem;
  height: 1.7rem;
}

.rating__stars input {
  position: relative;
  z-index: 10;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.rating__stars input:hover ~ i svg {
  stroke: #b4dde7;
  fill: #b4dde7 !important;
}

.rating__stars input:checked ~ i svg {
  fill: #7ac3d4;
}

.rating__stars input + i {
  margin-right: -1.9rem;
}

.rating__stars i {
  position: relative;
}

.rating__stars i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1.7rem;
  max-height: 1.5rem;
  margin: auto;
  stroke: #7ac3d4;
  stroke-width: 1px;
  fill: transparent;
}

.rating__stars[data-rating="1"] i:nth-last-of-type(1) svg,
.rating__stars[data-rating="2"] i:nth-last-of-type(-n+2) svg,
.rating__stars[data-rating="3"] i:nth-last-of-type(-n+3) svg,
.rating__stars[data-rating="4"] i:nth-last-of-type(-n+4) svg,
.rating__stars[data-rating="5"] i:nth-last-of-type(-n+5) svg {
  fill: #7ac3d4;
}

.rating__count {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  font-size: 1.4rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #7ac3d4;
}

.rating__count ins {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2rem;
  text-decoration: none;
  max-width: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating--large input,
.rating--large i {
  width: 2.9rem;
  height: 2.6rem;
}

.rating--large input svg,
.rating--large i svg {
  max-width: 2.7rem;
  max-height: 2.4rem;
}

.rating--large input ~ i {
  margin-right: -2.7rem;
}

.rating--large .rating__count {
  font-size: 1.6rem;
}

.product__rating {
  float: right;
}

@media screen and (max-width: 29.9375em) {
  .product__rating {
    display: block;
    float: none;
  }
}

.comments__rating--large .rating__stars {
  margin-right: 0.5rem;
}

.comments__rating--large .rating__count {
  color: #a2a2a2;
}

.progress__rating {
  display: table-cell;
  vertical-align: middle;
}

/*  socials
=========================================================================== */
.socials {
  font-size: 0;
}

.socials__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.socials__link:hover .socials__icon svg {
  fill: #7ac3d4;
}

.product__socials .socials__link:hover svg {
  fill: #354658;
}

.socials__link--youtube .socials__icon {
  width: 4.7rem;
}

.socials__link--instagram .socials__icon {
  width: 4.3rem;
}

.socials__link--gp .socials__icon {
  width: 4.5rem;
}

.socials__link--blog {
  padding: 5px;
  background: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.socials__link--blog, .socials__link--blog:visited, .socials__link--blog:focus {
  color: #354658;
}

.socials__link--blog:hover {
  color: #ffffff;
  background: #7ac3d4;
}

.socials__link--blog span {
  line-height: 1em;
  display: block;
}

.mobile-ofc__socials .socials__link {
  margin-bottom: 1rem;
}

.product__socials .socials__link {
  margin-right: 2rem;
}

.socials__icon {
  position: relative;
  display: block;
  height: 5rem;
  width: 3.5rem;
}

.socials__icon svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #ffffff;
  transition: all 0.2s ease;
}

.mobile-ofc__socials .socials__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.product__socials .socials__icon svg {
  fill: #7ac3d4;
}

/*  submenu
=========================================================================== */
.submenu__menu {
  padding: 2.5rem 0 0 2rem;
}

.submenu__image-container {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 2.5rem;
}

.submenu__image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.submenu__main-link-wrap {
  padding-left: 2.5rem;
}

.submenu__main-link-wrap a::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-top: -0.2rem;
  margin-left: 0.8rem;
  border: 0.8rem inset;
  border-color: transparent transparent transparent #354658;
  border-left-style: solid;
  border-right-width: 0;
}

/*  tile
=========================================================================== */
.tile {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.tile__row {
  display: table-row;
}

.tile__cell {
  display: table-cell;
  padding: 3rem 5%;
  width: 50%;
  height: 28rem;
  border: 1px solid #eaecee;
  text-align: center;
}

.tile__img-container {
  position: relative;
  margin-bottom: 0.5rem;
  height: 11rem;
}

.tile__img-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media screen and (max-width: 29.9375em) {
  .tile__cell {
    display: block;
    width: 100%;
    padding: 2rem;
  }
}

/*  user-features
=========================================================================== */
.user-features {
  display: inline-block;
  vertical-align: top;
  cursor: default;
}

.user-features__button {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.user-features__button, .user-features__button:active, .user-features__button:visited, .user-features__button:focus {
  color: inherit;
}

.user-features__button:not(:last-child) {
  margin-right: 1rem;
}

.user-features__caption {
  display: block;
  max-width: 100%;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-features--padding-top {
  padding-top: 1rem;
}

.user-features--mobile .user-features__button {
  padding: 0.2rem 0.4rem;
  margin: 0;
  max-width: 6rem;
  text-align: center;
}

.user-features--mobile .figure {
  padding: 0.5rem 0.5rem 0;
}

.user-features--mobile .figure__icon {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.user-features--mobile .cart-button {
  min-width: 0;
}

/*  wezom
=========================================================================== */
.wezom {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.wezom, .wezom:hover, .wezom:visited, .wezom:focus {
  color: inherit;
}

.wezom i {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  width: 3.6rem;
  height: 1.3rem;
  margin-left: 0.5rem;
}

.wezom svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #fc171f;
}

.wezom:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

/* ==========================================================================
    zf-customization
========================================================================== */
/*  grid
========================================================================== */
@media screen and (min-width: 45em) {
  .row {
    padding: 0 10px;
  }
}

/*  button
========================================================================== */
.button {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 700;
}

.button:active {
  box-shadow: inset 0 0 6px 2px rgba(53, 70, 88, 0.2);
}

a.button {
  text-decoration: none;
  color: #ffffff;
}

.button--buy {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
}

.button--buy i {
  float: right;
}

.button--gray {
  color: #7ac3d4;
  border-bottom: 1px solid #a8aaac;
  background-color: #eaecee;
}

.button--gray:hover {
  color: #ffffff;
  background-color: #e44a3c;
  border-bottom-color: #a4352b;
}

.button--gray:hover i svg {
  fill: #ffffff;
}

.button--gray span,
.button--gray i {
  display: inline-block;
  vertical-align: middle;
}

.button--gray i {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.button--gray i svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  fill: #7ac3d4;
}

.button--large-icon {
  padding: 0.786em 2.5em 0.5em;
}

.button--large-icon i {
  height: 2.8rem;
  width: 2.8rem;
  margin-top: -0.4rem;
  margin-right: 1rem;
}

.product__buy-button {
  display: block;
  width: 24rem;
  max-width: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border: 0;
  color: #ffffff;
  background-color: #e44a3c;
}

.product__buy-button:hover {
  background-color: #7ac3d4;
}

.product__buy-button i svg {
  fill: #ffffff;
}

@media screen and (max-width: 63.9375em) {
  .product__buy-button {
    display: inline-block;
    width: 100%;
    max-width: 24rem;
  }
}

.comments__add-comment-button {
  float: right;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*  off-canvas
========================================================================== */
.off-canvas, .off-canvas-wrapper, .off-canvas-wrapper-inner, .off-canvas-content {
  min-height: 100vh;
}

.is-off-canvas-open .js-off-canvas-exit {
  z-index: 100;
}

.is-zf-off-canvas-open .off-canvas-wrapper {
  overflow: hidden;
}

/*  menu
========================================================================== */
.menu a {
  color: inherit;
}

.menu.simple li {
  margin-right: 1.4rem;
}

/*  accordion menu
========================================================================== */
.is-accordion-submenu-parent > a:after {
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

/*  accordion menu
========================================================================== */
.accordion {
  font-size: 1.4rem;
  line-height: 1.4em;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.accordion-item {
  margin-bottom: 0.2rem;
}

.accordion-title {
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  background-color: #f1f2f7;
}

.is-active > .accordion-title, .accordion-title:hover {
  box-shadow: inset 0 0 0 1px #d7dade;
}

.is-active > .accordion-title::after {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.accordion-title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 1.5rem;
  margin-top: -0.3rem;
  border: 0.6rem inset;
  border-color: #354658 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.accordion-content {
  font-size: inherit;
  font-style: italic;
}

/*  tabs
========================================================================== */
.tabs {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
}

.tabs a {
  text-decoration: none;
}

.tabs a, .tabs a:focus {
  color: #ffffff;
}

.tabs a:active {
  color: #e44a3c;
}

.tabs-title {
  border-radius: 0.4rem 0.4rem 0 0;
  overflow: hidden;
}

.tabs-title.is-active a {
  color: #e44a3c;
}

/*  media-object
========================================================================== */
.media-object--list .media-object-section, .media-object--contacts .media-object-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.media-object--list .main-section, .media-object--contacts .main-section {
  width: 100%;
}

.media-object--list .main-section {
  border-bottom: 1px solid #e4e7ea;
}

.media-object--list:last-child .main-section {
  border: 0;
}

.media-object--contacts .main-section {
  position: relative;
  padding: 3rem 0;
}

.media-object--contacts .main-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #e4e7ea;
}

.media-object--contacts:first-child .main-section {
  padding-top: 0;
}

@media screen and (min-width: 30em) {
  .media-object--list .media-object-section:first-child, .media-object--contacts .media-object-section:first-child {
    padding-left: 2rem;
  }
  .media-object--list .media-object-section:last-child, .media-object--contacts .media-object-section:last-child {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 29.9375em) {
  .media-object--list .media-object-section, .media-object--contacts .media-object-section {
    padding: 1rem 0 !important;
  }
}
