<div class="breadcrumbs-container">
    <div class="row">
        <div class="breadcrumbs">
            <span><a href="index.html" title="Главная">Главная</a></span>
            {{#if breadcrumbs.back}}
            {{#each breadcrumbs.back}}
            <span><a href="{{ this.link }}" title="{{ this.title }}">{{ this.title }}</a></span>
            {{/each}}
            {{/if}}
            <span>{{ breadcrumbs.current }}</span>
        </div>
    </div>
</div> <!-- breadcrumbs -->