<div class="catalog-sorting">
    <div class="catalog-sorting__left">
        {{#ifpage 'catalog'}}
        <div class="catalog-sorting__select-wrap">
            <span class="catalog-sorting__title show-for-large">СОРТИРОВКА:</span>
            <select name="sorting" class="catalog-sorting__select">
                <option value="v1">По популярности</option>
                <option value="v2">От дешевых к дорогим</option>
                <option value="v3">От дорогих к дешевым</option>
            </select>
        </div>
        {{/ifpage}}
        {{#ifpage 'favorite' 'account-favorite'}}
        <div class="catalog-sorting__select-wrap">
            <span class="catalog-sorting__title">В ВАШЕМ СПИСКЕ ЖЕЛАНИЙ: 15 ТОВАРОВ</span>
        </div>
        {{/ifpage}}
        {{#ifpage 'search'}}
        <div class="catalog-sorting__select-wrap">
            <span class="catalog-sorting__title">ПО ВАШЕМУ ЗАПРОСУ НАЙДЕНО: 15 ТОВАРОВ</span>
        </div>
        {{/ifpage}}
    </div>
    <div class="catalog-sorting__right">
        <button id="tilesBtn" class="catalog-sorting__view-btn is-active" type="button"><svg><use xlink:href="#icon_tiles"></use></svg></button>
        <button id="listBtn" class="catalog-sorting__view-btn" type="button"><svg><use xlink:href="#icon_list"></use></svg></button>
    </div>
    {{#ifpage 'catalog'}}
    <div class="catalog-sorting__center">
        <span class="catalog-sorting__title"><span>36</span> ТОВАРОВ</span>
    </div>
    {{/ifpage}}
    {{#ifpage 'favorite'}}
    <div class="catalog-sorting__center text-left">
        <button class="button alert tiny" title="Удалить все товары из избранного">УДАЛИТЬ ВСЕ</button>
    </div>
    {{/ifpage}}
</div>