<footer class="page-footer">
  <div class="page-footer__top-pane show-for-xlarge">
    <div class="row small-collapse">
      <div class="column small-3">
        <a class="logo page-footer__logo" href="index.html" title="Homedics">
          <img src="pic/logo.png" alt="Homedics" class="logo__image">
          <div class="logo__text">
            <p>№1 Лидер массажного <br> оборудования и <br> товаров для красоты</p>
          </div>
        </a>
        <div class="socials">
          <a href="#" title="facebook" class="socials__link"><i class="socials__icon fill-hover-fb">
            <svg>
              <use xlink:href="#icon_facebook"></use>
            </svg>
          </i></a>
          <a href="#" title="twitter" class="socials__link"><i class="socials__icon fill-hover-tt">
            <svg>
              <use xlink:href="#icon_twitter"></use>
            </svg>
          </i></a>
          <a href="#" title="youtube" class="socials__link socials__link--youtube"><i class="socials__icon fill-hover-yt">
            <svg>
              <use xlink:href="#icon_youtube"></use>
            </svg>
          </i></a>
          <br>
          <a href="#" title="pinterest" class="socials__link"><i class="socials__icon fill-hover-pt">
            <svg>
              <use xlink:href="#icon_pinterest"></use>
            </svg>
          </i></a>
          <a href="#" title="instagram" class="socials__link socials__link--instagram"><i class="socials__icon fill-hover-fb">
            <svg>
              <use xlink:href="#icon_instagram"></use>
            </svg>
          </i></a>
          <a href="#" title="google+" class="socials__link socials__link--gp"><i class="socials__icon fill-hover-gp">
            <svg>
              <use xlink:href="#icon_google_plus"></use>
            </svg>
          </i></a>
          <a href="#" title="blog" class="socials__link socials__link--blog">
            <span class="font-size-tiny font-family-georgia"><em>наш</em></span>
            <span class="font-size-small font-family-gothic">- <b>БЛОГ</b> -</span>
          </a>
        </div>
      </div>
      <div class="column small-3">
        <div class="page-footer__menu-header">ПОДДЕРЖКА</div>
        <ul class="page-footer__menu">
          <li><a href="#" title="Доставка и оплата">Доставка и оплата</a></li>
          <li><a href="#" title="Доставка и оплата">Гарантия и Сертификаты</a></li>
          <li><a href="#" title="Вопрос-Ответ">Вопрос-Ответ</a></li>
          <li><a href="#" title="Для партнеров">Для партнеров</a></li>
          <li><a href="#" title="Центральный офис в Киеве">Центральный офис в Киеве</a></li>
          <li><a href="#" title="Сервисный центр">Сервисный центр</a></li>
        </ul>
      </div>
      <div class="column small-3">
        <div class="page-footer__menu-header">КОМПАНИЯ</div>
        <ul class="page-footer__menu">
          <li><a href="#" title="О компании">О компании</a></li>
          <li><a href="#" title="Статьи">Статьи</a></li>
          <li><a href="#" title="Отзывы">Отзывы</a></li>
          <li><a href="#" title="Контакты">Контакты</a></li>
        </ul>
      </div>
      <div class="column small-3">
        <div class="page-footer__menu-header">КОНТАКТЫ</div>
        <ul class="page-footer__menu color-primary">
          <li><a class="link link--tel" href="tel:+380932638748" title="+38 093 26 38 748">+38 093 26 38 748</a>
          </li>
          <li><a class="link link--tel" href="tel:+380932638748" title="+38 093 26 38 748">+38 093 26 38 748</a>
          </li>
          <li><a class="link link--tel" href="tel:+380508232565" title="+38 050 82 32 565">+38 050 82 32 565</a>
          </li>
          <li><a class="link link--tel" href="tel:+380508232565" title="+38 050 82 32 565">+38 050 82 32 565</a>
          </li>
        </ul>
        <p>&nbsp;</p>
        <p class="font-size-small" style="color: #75a1b9;">Центральный офис: <br> г. Киев, пр-т Московский, 8/16</p>
      </div>
    </div>
  </div>
  <div class="page-footer__middle-pane">
    <div class="email-subscription">
      <div class="row large-collapse">
        <div class="column small-12 xlarge-3 text-center xlarge-text-left">
          <div class="email-subscription__title"><span>Подпишись на новости и акции</span></div>
        </div>
        <div class="column small-12 xlarge-9">
          <div class="email-subscription__form row column wForm wFormDef wFormDef--dark text-center xlarge-text-left" data-form="true">
              <div class="wFormInput">
                <input type="email" class="wInput" required data-rule-email="true" data-msg-email="Пожалуйста, введите корректный адрес электронной почты!" data-msg-required="Пожалуйста, заполните поле!" placeholder="your_email@example.com">
                <div class="inpInfo">email</div>
              </div>
              <button class="wSubmit button alert">ПОДПИСАТЬСЯ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__bottom-pane">
    <div class="row large-collapse">
      <div class="column small-12 large-6 text-center large-text-left">
        <p>© 2016. HoMedics Украина. Все права защищены.</p>
        <ul class="menu simple">
          <li><a href="sitemap.html">Карта сайта</a></li>
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Право собственности</a></li>
        </ul>
      </div>
      <div class="column small-12 large-6 text-center large-text-right">
        <a class="wezom" href="http://wezom.com.ua/" target="_blank" title="wezom.com.ua">Разработка сайта – студия Wezom <i><svg><use xlink:href="#icon_wezom"></use></svg></i></a>
      </div>
    </div>
  </div>
</footer>