<head>
    <!-- (c) студия Wezom | www.wezom.com.ua-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} | Homedics</title>
    <meta name="description" lang="ru-ru" content="">
    <meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
    <meta name="keywords" lang="en-us" content="studio wezom, web development">
    <meta name="author" lang="ru-ru" content="">

    <!-- Open Graph -->
    <meta property="og:title" content="Заголовок страницы">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="site.com">
    <meta property="og:url" content="http://site.com/current-page">
    <meta property="og:image" content="images/site-image.jpg">
    <meta property="og:description" content="краткий текст (новости, товара и т.д)">

    <!-- Touch -->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <!-- Mobile -->
    <!-- meta(name="viewport" content="width=device-width, initial-scale=1") -->
    <!-- meta(name="viewport" content="width=1000") -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#ff1100">
    <meta name="apple-mobile-web-app-title" content="Wezom Front-end">
    <meta name="application-name" content="Wezom Front-end">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- saved from url=(0014)about:internet -->
    <!--[if IE]>
    <meta http-equiv="imagetoolbar" content="no"><![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- seoSet -->
    <style>.seo-txt{ position: absolute; top: 100%; left: 0; width: 100%; z-index: 10; }</style>

    <!-- localStorage test -->
    <script>
        !function (t) { function r() { var t = navigator.userAgent, r = !window.addEventListener || t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/) && !t.match(/Chrome/); if (r)return !1; var e = "test"; try { return localStorage.setItem(e, e), localStorage.removeItem(e), !0 } catch (o) { return !1 } } t.localSupport = r(), t.localWrite = function (t, r) { try { localStorage.setItem(t, r) } catch (e) { if (e == QUOTA_EXCEEDED_ERR)return !1 } } }(window);
    </script>

    <!-- Внешние css файлы-->
    <link rel="stylesheet" property="stylesheet" href="css/reset/reset.css">
    <link rel="stylesheet" property="stylesheet" href="css/libs/jquery-validation.css">
    <link rel="stylesheet" property="stylesheet" href="css/libs/jquery-magnific-popup.css">
    <link rel="stylesheet" property="stylesheet" href="css/libs/foundation.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/wpreloader.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/wtxt.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/wbreadcrumbs.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/wsitemap.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/enterreg.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/compare.css">
    <link rel="stylesheet" property="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" property="stylesheet" href="css/style.css">
    <link rel="stylesheet" property="stylesheet" href="css/components/wbasket.css">

    <!-- Внешние js файлыg-->
    <script src="js/libs/modernizr.js"></script>
    <script src="js/libs/plugins_localization.js"></script>
    <script src="js/libs/jquery-1.11.3.js"></script>
    <script src="js/components/wpreloader.js"></script>
    <script src="js/components/compare.js"></script>
    <script src="js/libs/jquery-magnific-popup.js"></script>
    <script src="js/libs/jquery-validation.js"></script>
    <script src="js/libs/foundation.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/init.js"></script>
    <script src="js/wbasket/jquery.wbasket-2.9.js"></script>
    <script src="js/wbasket/jquery.wbasket-2.9-debugger.js"></script>
    <script src="js/wbasket/jquery.wbasket-init.js"></script>
    <script src="js/validation.js"></script>

</head>