<div class="carousel carousel--main show-for-large js-carousel" data-carousel-autoplay="true" data-carousel-speed="600" data-breakpoint="large">
  <div class="carousel__inner">
    <div class="carousel__track js-carousel-track">
      <div class="carousel__item">
        <a href="item.html">
          <img src="" alt="" data-interchange="[pic/img-slider.jpg, medium]">
        </a>
      </div>
      <div class="carousel__item">
        <a href="item.html">
          <img src="" alt="" data-interchange="[pic/img-slider.jpg, medium]">
        </a>
      </div>
      <div class="carousel__item">
        <a href="item.html">
          <img src="" alt="" data-interchange="[pic/img-slider.jpg, medium]">
        </a>
      </div>
    </div>
    <div class="carousel__arrows">
      <div class="carousel__arrows-track">
        <button class="carousel__arrow carousel__arrow--prev js-carousel-prev" type="button" title="Назад"><i></i><span
                class="show-for-sr">Назад</span></button>
        <button class="carousel__arrow carousel__arrow--next js-carousel-next" type="button" title="Вперёд"><i></i><span
                class="show-for-sr">Вперёд</span></button>
      </div>
    </div>
  </div>
</div> <!-- /main-carousel -->