<!-- script disabled message -->
<noscript>
    <input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
    <div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
        <div class="wzmMsg_Text">
            <p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка
                Javascript.</p>
            <p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
        </div>
        <a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
            <img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
        </a>
        <label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
    </div>
</noscript>