<div id="offCanvas" class="off-canvas mobile-ofc position-left" data-off-canvas data-auto-focus="false" data-force-top="true">
    <button class="close-button" data-close aria-label="Close menu" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="mobile-ofc__menu-title"><span>МЕНЮ</span></div>
    <div class="wForm wFormDef wFormDef--search" data-form="true">
        <label class="wFormInput">
            <input class="wInput" type="search" required name="off_canvas_search" placeholder="ПОИСК"
                   data-rule-minlength="3" data-msg-minlength="Введите не менее 3 символов" data-msg-required="Пожалуйста, заполните поле!">
        </label>
        <button class="wSubmit" type="submit">
            <svg>
                <use xlink:href="#icon_search"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-ofc__devision-title"><span>Личный кабинет</span></div>
    <ul class="menu vertical">
        <!--Меню для неавторизованного пользователя-->
        <li><a class="mfiA" href="#" title="О компании" data-url="hidden/auth.php" data-param='{"id": "login"}'>Вход/регистрация</a></li>
        <!--Меню для авторизованного пользователя-->
        <!--<li><a href="account.html" title="Мой аккаунт">Мой аккаунт</a></li>
        <li><a href="account-history.html" title="История заказов">История заказов</a></li>
        <li><a href="account-favorite.html" title="Список желаний">Список желаний</a></li>-->
    </ul>
    <div class="mobile-ofc__devision-title"><span>Навигация</span></div>
    <ul class="menu vertical" data-accordion-menu>
        <li><a href="#" title="О компании">О компании</a></li>
        <li><a href="#" title="Статьи">Статьи</a></li>
        <li><a href="#" title="Отзывы">Отзывы</a></li>
        <li><a href="#" title="Гарантия и сертификаты">Гарантия и сертификаты</a></li>
        <li><a href="#" title="Доставка и оплата">Доставка и оплата</a></li>
        <li><a href="#" title="Вопрос-Ответ">Вопрос-Ответ</a></li>
        <li>
            <a href="#" title="Контакты">Контакты</a>
            <ul class="menu vertical nested">
                <li class="menu-text color-primary">Контактные номера телефонов:</li>
                <li><a href="tel:+380932638748" title="+38 093 26 38 748">+38 093 26 38 748</a></li>
                <li><a href="tel:+380932638748" title="+38 093 26 38 748">+38 093 26 38 748</a></li>
                <li><a href="tel:+380508232565" title="+38 050 82 32 565">+38 050 82 32 565</a></li>
                <li><a href="tel:+380508232565" title="+38 050 82 32 565">+38 050 82 32 565</a></li>
                <li><a href="#" class="mfiA" data-url="hidden/callback.php" title="Заказать обратный звонок">Заказать обратный звонок</a></li>
                <li class="menu-text color-primary">Наш адрес:</li>
                <li class="menu-text" style="padding-left: 2rem;">Центральный офис:г. Киев, пр-т Московский, 8/16</li>
                <li><a href="#" class="color-warning" style="padding-left: 1rem;"><b>Перейти на страницу "Контакты" &rarr;</b></a></li>
            </ul>
        </li>
    </ul>
    <div class="mobile-ofc__devision-title"><span>Каталог</span></div>
    <ul class="menu vertical" data-accordion-menu data-multi-open="false">
        <li>
            <a href="catalog.html" title="Массаж">Массаж</a>
            <ul class="menu vertical nested">
                <li><a href="catalog.html" title="Эпиляторы">Эпиляторы</a></li>
                <li><a href="catalog.html" title="Аппараты для похудения">Аппараты для похудения</a></li>
                <li><a href="catalog.html" title="Маникюрно-педикюрные наборы">Маникюрно-педикюрные наборы</a></li>
                <li><a href="catalog.html" title="Гидромассажные ванночки">Гидромассажные ванночки</a></li>
                <li><a href="catalog.html" title="Щетки для пилинга">Щетки для пилинга</a></li>
                <li><a href="catalog.html" title="Косметические зеркала">Косметические зеркала</a></li>
                <li><a href="catalog.html" title="Все товары">Все товары</a></li>
            </ul>
        </li>
        <li>
            <a href="catalog.html" title="Массаж">Красота</a>
            <ul class="menu vertical nested">
                <li><a href="catalog.html" title="Эпиляторы">Эпиляторы</a></li>
                <li><a href="catalog.html" title="Аппараты для похудения">Аппараты для похудения</a></li>
                <li><a href="catalog.html" title="Маникюрно-педикюрные наборы">Маникюрно-педикюрные наборы</a></li>
                <li><a href="catalog.html" title="Гидромассажные ванночки">Гидромассажные ванночки</a></li>
                <li><a href="catalog.html" title="Щетки для пилинга">Щетки для пилинга</a></li>
                <li><a href="catalog.html" title="Косметические зеркала">Косметические зеркала</a></li>
                <li><a href="catalog.html" title="Все товары">Все товары</a></li>
            </ul>
        </li>
        <li>
            <a href="catalog.html" title="Здоровье">Здоровье</a>
            <ul class="menu vertical nested">
                <li><a href="catalog.html" title="Эпиляторы">Эпиляторы</a></li>
                <li><a href="catalog.html" title="Аппараты для похудения">Аппараты для похудения</a></li>
                <li><a href="catalog.html" title="Маникюрно-педикюрные наборы">Маникюрно-педикюрные наборы</a></li>
                <li><a href="catalog.html" title="Гидромассажные ванночки">Гидромассажные ванночки</a></li>
                <li><a href="catalog.html" title="Щетки для пилинга">Щетки для пилинга</a></li>
                <li><a href="catalog.html" title="Косметические зеркала">Косметические зеркала</a></li>
                <li><a href="catalog.html" title="Все товары">Все товары</a></li>
            </ul>
        </li>
        <li>
            <a href="catalog.html" title="Аксессуары">Аксессуары</a>
            <ul class="menu vertical nested">
                <li><a href="catalog.html" title="Эпиляторы">Эпиляторы</a></li>
                <li><a href="catalog.html" title="Аппараты для похудения">Аппараты для похудения</a></li>
                <li><a href="catalog.html" title="Маникюрно-педикюрные наборы">Маникюрно-педикюрные наборы</a></li>
                <li><a href="catalog.html" title="Гидромассажные ванночки">Гидромассажные ванночки</a></li>
                <li><a href="catalog.html" title="Щетки для пилинга">Щетки для пилинга</a></li>
                <li><a href="catalog.html" title="Косметические зеркала">Косметические зеркала</a></li>
                <li><a href="catalog.html" title="Все товары">Все товары</a></li>
            </ul>
        </li>
        <li><a href="catalog.html" title="% Акции">% Акции</a></li>
    </ul>
    <div class="mobile-ofc__devision-title"><span>Языки</span><i>
        <svg>
            <use xlink:href="#icon_global"></use>
        </svg>
    </i></div>
    <ul class="menu vertical" data-accordion-menu>
        <li>
            <a href="#">Список доступных языков</a>
            <ul class="menu vertical nested">
                <li><a href="#">América Latina <span class="color-primary">Español</span></a></li>
                <li><a href="#">Australia <span class="color-primary">English</span></a></li>
                <li><a href="#">Belgique <span class="color-primary">Français</span></a></li>
                <li><a href="#">België <span class="color-primary">Nederlands</span></a></li>
                <li><a href="#">Brasil <span class="color-primary">Português</span></a></li>
                <li><a href="#">Canada <span class="color-primary">English</span></a></li>
                <li><a href="#">Deutschland <span class="color-primary">Deutsch</span></a></li>
                <li><a href="#">España <span class="color-primary">Español</span></a></li>
                <li><a href="#">France <span class="color-primary">Français</span></a></li>
                <li><a href="#">Italia <span class="color-primary">Italiano</span></a></li>
                <li><a href="#">México <span class="color-primary">Español</span></a></li>
                <li><a href="#">Nederland <span class="color-primary">Nederlands</span></a></li>
                <li><a href="#">Österreich <span class="color-primary">Deutsch</span></a></li>
                <li><a href="#">Philippines <span class="color-primary">English</span></a></li>
                <li><a href="#">Polska <span class="color-primary">Polski</span></a></li>
                <li><a href="#">Россия <span class="color-primary">Русский</span></a></li>
                <li><a href="#">Schweiz <span class="color-primary">Deutsch</span></a></li>
                <li><a href="#">Suisse <span class="color-primary">Français</span></a></li>
                <li><a href="#">Svizzera <span class="color-primary">Italiano</span></a></li>
                <li><a href="#">United Kingdom <span class="color-primary">English</span></a></li>
                <li><a href="#">United States <span class="color-primary">English</span></a></li>
            </ul>
        </li>
    </ul>
    <div class="mobile-ofc__devision-title"><span>Мы в социальных сетях</span></div>
    <div class="mobile-ofc__socials socials text-center">
        <a href="#" title="facebook" class="socials__link"><i class="socials__icon fill-hover-fb">
            <svg>
                <use xlink:href="#icon_facebook"></use>
            </svg>
        </i></a>
        <a href="#" title="twitter" class="socials__link"><i class="socials__icon fill-hover-tt">
            <svg>
                <use xlink:href="#icon_twitter"></use>
            </svg>
        </i></a>
        <a href="#" title="youtube" class="socials__link"><i class="socials__icon fill-hover-yt">
            <svg>
                <use xlink:href="#icon_youtube"></use>
            </svg>
        </i></a>
        <a href="#" title="pinterest" class="socials__link"><i class="socials__icon fill-hover-pt">
            <svg>
                <use xlink:href="#icon_pinterest"></use>
            </svg>
        </i></a>
        <a href="#" title="instagram" class="socials__link"><i class="socials__icon fill-hover-fb">
            <svg>
                <use xlink:href="#icon_instagram"></use>
            </svg>
        </i></a>
        <a href="#" title="google+" class="socials__link"><i class="socials__icon fill-hover-gp">
            <svg>
                <use xlink:href="#icon_google_plus"></use>
            </svg>
        </i></a>
        <a href="#" title="blog" class="socials__link socials__link--blog">
            <span class="font-size-tiny font-family-georgia"><em>наш</em></span>
            <span class="font-size-small font-family-gothic">- <b>БЛОГ</b> -</span>
        </a>
    </div>
</div>