<div class="page-tabs">
    <div class="page-tabs__header">
        <div class="row xlarge-collapse">
            <div class="column">
                <ul class="tabs" data-tabs id="pageTabs">
                    <li class="tabs-title is-active"><a href="#pageTab1" aria-selected="true">Описание</a></li>
                    <li class="tabs-title"><a href="#pageTab2">Отзывы клиентов
                        (4)</a>
                    </li>
                    <li class="tabs-title"><a href="#pageTab3">Доставка и оплата</a></li>
                    <li class="tabs-title"><a href="#pageTab4">Гарантия и сертификаты</a></li>
                    <li class="tabs-title"><a href="#pageTab5">Где посмотреть?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-tabs__body">
        <div class="row xlarge-collapse">
            <div class="column">
                <div class="tabs-content" data-tabs-content="pageTabs">
                    <div class="tabs-panel is-active" id="pageTab1">
                        <div class="wTxt">
                             <h4>МАССАЖНАЯ ПРОДУКЦИЯ ОТ КОМПАНИИ HOMEDICS</h4>
                            <p>Таргетинге полный, верхний, или пояснице, или сосредоточиться на определенном месте,
                                чтобы
                                снять напряжение и напряженные мышцы с удобным ручным управлением. Кроме предаваться
                                массажа
                                добавлением успокаивающее тепло.</p>
                            <ul>
                                <li>Три Массаж Стили в одном подушке</li>
                                <li>Ударные: Для быстрой, бодрящий массаж</li>
                                <li>Замес: Для глубокого, мышечной комфорта</li>
                                <li>Подвижной: Для нежной, расслабляющий массаж</li>
                                <li>Успокаивающий тепла обеспечивает комфорт для напряженных мышц</li>
                                <li>Настройка зоны позволяет выбрать полный назад, верхней части спины, нижней части спины, или место для индивидуальных массажа</li>
                                <li>Удобный, простой в использовании ручное управление</li>
                            </ul>
                            <p>HoMedics — первая компания, которая изобрела уникальную массажную накидку. Вся продукция
                                американского бренда призвана расслаблять, успокаивать и упрощать вашу жизнь. Гарантия
                                на
                                линейку продуктов — 3 года.</p>
                        </div>
                    </div>
                    <div class="tabs-panel js-reviews-tab" id="pageTab2">
                        <div class="comments">
                            <div class="comments__title"><span>ОТЗЫВЫ</span></div>
                            <div class="comments__top-pane">
                                <div class="comments__rating-container">
                                    <div class="comments__rating-column">
                                        <span class="comments__rating comments__rating--large rating rating--large">
                                            <span class="rating__stars rating__stars" data-rating="4">
                                                <i>
                                                    <svg>
                                                        <use xlink:href="#icon_star"></use>
                                                    </svg>
                                                </i>
                                                <i>
                                                    <svg>
                                                        <use xlink:href="#icon_star"></use>
                                                    </svg>
                                                </i>
                                                <i>
                                                    <svg>
                                                        <use xlink:href="#icon_star"></use>
                                                    </svg>
                                                </i>
                                                <i>
                                                    <svg>
                                                        <use xlink:href="#icon_star"></use>
                                                    </svg>
                                                </i>
                                                <i>
                                                    <svg>
                                                        <use xlink:href="#icon_star"></use>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="rating__count"><ins>55</ins> Отзыва</span>
                                        </span>
                                    </div>
                                    <div class="comments__rating-column">
                                        <div class="comments__progress progress js-rating-progress" data-comment-sum="55">
                                            <div class="progress__item">
                                                <div class="progress__rating rating">
                                                        <span class="rating__stars" data-rating="5">
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                    <span class="rating__count"><ins>(43)</ins></span>
                                                </div>
                                                <div class="progress__bar-container">
                                                    <div class="progress__bar js-progress-bar" data-comment-sum="43">
                                                        <div class="progress__bar-meter js-progress-bar-meter"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress__item">
                                                <div class="progress__rating rating">
                                                        <span class="rating__stars" data-rating="4">
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                    <span class="rating__count"><ins>(7)</ins></span>
                                                </div>
                                                <div class="progress__bar-container">
                                                    <div class="progress__bar js-progress-bar" data-comment-sum="7">
                                                        <div class="progress__bar-meter js-progress-bar-meter"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress__item">
                                                <div class="progress__rating rating">
                                                        <span class="rating__stars" data-rating="3">
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                    <span class="rating__count"><ins>(2)</ins></span>
                                                </div>
                                                <div class="progress__bar-container">
                                                    <div class="progress__bar js-progress-bar" data-comment-sum="2">
                                                        <div class="progress__bar-meter js-progress-bar-meter"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress__item">
                                                <div class="progress__rating rating">
                                                        <span class="rating__stars" data-rating="2">
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                    <span class="rating__count"><ins>(0)</ins></span>
                                                </div>
                                                <div class="progress__bar-container">
                                                    <div class="progress__bar js-progress-bar" data-comment-sum="0">
                                                        <div class="progress__bar-meter js-progress-bar-meter"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress__item">
                                                <div class="progress__rating rating">
                                                        <span class="rating__stars" data-rating="1">
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                            <i>
                                                                <svg>
                                                                    <use xlink:href="#icon_star"></use>
                                                                </svg>
                                                            </i>
                                                        </span>
                                                    <span class="rating__count"><ins>(3)</ins></span>
                                                </div>
                                                <div class="progress__bar-container">
                                                    <div class="progress__bar js-progress-bar" data-comment-sum="3">
                                                        <div class="progress__bar-meter js-progress-bar-meter"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="comments__show-all-comments" href="#">Показать все отзывы</a>
                                    </div>
                                </div>
                                <!-- Кнопка для неавторизированного пользователя -->
                                <!--<button class="comments__add-comment-button button button&#45;&#45;gray button&#45;&#45;large-icon mfiA" data-url="hidden/auth.php" data-param='{"id": "login"}'>
                                    <i>
                                        <svg>
                                            <use xlink:href="#icon_note"></use>
                                        </svg>
                                    </i>ДОБАВИТЬ ОТЗЫВ
                                </button>-->
                                <!-- Кнопка для авторизированного пользователя-->
                                <button class="comments__add-comment-button button button--gray button--large-icon js-add-comment-button">
                                    <i>
                                        <svg>
                                            <use xlink:href="#icon_note"></use>
                                        </svg>
                                    </i>ДОБАВИТЬ ОТЗЫВ
                                </button>
                            </div>
                            <div id="commentForm" class="comments__form wForm wFormDef" data-form="true">
                                <div class="section-title"><span>ОСТАВИТЬ ОТЗЫВ</span></div>
                                <div class="row column">
                                    <div class="wLabel"><span class="color-alert">*</span> Оценка</div>
                                    <div class="wFormInput rating rating--large">
                                        <span class="rating__stars">
                                          <input required type="radio" name="post_rating"
                                                 data-msg-required="Пожалуйста, оцените товар!">
                                          <i>
                                              <svg>
                                                  <use xlink:href="#icon_star"></use>
                                              </svg>
                                          </i>
                                          <input type="radio" name="post_rating">
                                          <i>
                                              <svg>
                                                  <use xlink:href="#icon_star"></use>
                                              </svg>
                                          </i>
                                          <input type="radio" name="post_rating">
                                          <i>
                                              <svg>
                                                  <use xlink:href="#icon_star"></use>
                                              </svg>
                                          </i>
                                          <input type="radio" name="post_rating">
                                          <i>
                                              <svg>
                                                  <use xlink:href="#icon_star"></use>
                                              </svg>
                                          </i>
                                          <input type="radio" name="post_rating">
                                          <i>
                                              <svg>
                                                  <use xlink:href="#icon_star"></use>
                                              </svg>
                                          </i>
                                        </span>
                                    </div>
                                </div>
                                <label class="row column">
                                    <span class="wLabel"><span class="color-alert">*</span> Заголовок</span>
                                    <span class="wFormInput">
                                        <input type="text" name="post_title" required class="wInput"
                                               data-rule-minlength="4"
                                               data-msg-minlength="Введите не менее 4 символов"
                                               data-msg-required="Пожалуйста, заполните поле!">

                                    </span>
                                </label>
                                <div class="wFormRow">
                                    <label class="row column">
                                        <span class="wLabel"><span class="color-alert">*</span> Отзыв</span>
                                        <span class="wFormInput">
                                            <textarea class="wTextarea" name="post_text" required
                                                      data-rule-minlength="10"
                                                      data-msg-minlength="Введите не менее 10 символов"
                                                      data-msg-required="Пожалуйста, заполните поле!"></textarea>
                                        </span>
                                    </label>
                                </div>
                                <div class="wFormRow">
                                    <button class="wSubmit button button--gray button--large-icon">
                                        <i>
                                            <svg>
                                                <use xlink:href="#icon_note"></use>
                                            </svg>
                                        </i>
                                        <span>ДОБАВИТЬ ОТЗЫВ</span>
                                    </button>
                                </div>
                            </div>
                            <div class="comments__bottom-pane">
                                <div class="comment">
                                    <div class="comment__avatar-container">
                                        <div class="comment__avatar"><span>K</span></div>
                                    </div>
                                    <div class="comment__body">
                                        <div class="comment__header">
                                            <span class="comment__name">Krista F.</span>
                                            <span class="comment__date">01/05/16</span>
                                        </div>
                                        <div class="comment__rating-container">
                                            <div class="comment__rating rating">
                                                    <span class="rating__stars" data-rating="5">
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="comment__title"><span>Amazing!!!!</span></div>
                                        <div class="comment__text"><p>It provides so many options for relief and I
                                            love the heat feature.</p></div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment__avatar-container">
                                        <div class="comment__avatar"><span>M</span></div>
                                    </div>
                                    <div class="comment__body">
                                        <div class="comment__header">
                                            <span class="comment__name">Michael M.</span>
                                            <span class="comment__date">01/05/16</span>
                                        </div>
                                        <div class="comment__rating-container">
                                            <div class="comment__rating rating">
                                                    <span class="rating__stars" data-rating="5">
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                          <i>
                                                              <svg>
                                                                  <use xlink:href="#icon_star"></use>
                                                              </svg>
                                                          </i>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="comment__title"><span>great product</span></div>
                                        <div class="comment__text"><p>My wife wanted a massage chair for Christmas
                                            so this product seemed like the best choice. My whole family has gotten
                                            good use of this. It works best to have the right chair and it takes
                                            some practice to customize for your needs but once you do there is no
                                            turning back. All I can say is I wish we had gotten one sooner!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{> pagination }}
                    </div>
                    <div class="tabs-panel" id="pageTab3"></div>
                    <div class="tabs-panel" id="pageTab4"></div>
                    <div class="tabs-panel" id="pageTab5"></div>
                </div>
            </div>
        </div>
    </div>
</div>