<div class="page-aside">
    <ul class="page-aside__menu menu vertical">
        {{#each pageAsideMenu.mainMenu}}
        <li>
            <a href="#" title="{{ this.title }}">{{ this.title }}</a>
            {{#if this.submenu}}
            <ul class="menu vertical nested">
                {{#each this.submenu}}
                <li><a href="{{ this.title }}">{{ this.title }}</a></li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <div class="page-aside__title"><span>Подбор по параметрам</span></div>
    <ul class="page-aside__menu menu vertical" data-accordion-menu>
        {{#each pageAsideMenu.paramMenu}}
        <li>
            <a href="#" title="{{ this.title }}">{{ this.title }}</a>
            {{#if this.submenu}}
            <ul class="menu vertical nested">
                {{#each this.submenu}}
                <li><a href="{{ this.title }}">{{ this.title }} (<span>{{ this.count}}</span>)</a></li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{> sticky-ad }}
</div>