<div class="pagination">
	<a class="pagination-arrow" href="#" rel="prev"><svg><use xlink:href="#icon_arrow_left" /></svg></a>
	<span class="is-active"><a href="#">1</a></span>
	<span><a href="#">2</a></span>
	<span><a href="#">3</a></span>
	<span><a href="#">4</a></span>
	<span><a href="#">5</a></span>
	<span><a href="#">6</a></span>
	<span><a href="#">7</a></span>
	<span><a href="#">8</a></span>
	<span><a href="#">9</a></span>
	<a class="pagination-arrow" href="#" rel="next"><svg><use xlink:href="#icon_arrow_right" /></svg></a>
</div>