<div class="product js-product">
    <div class="row xlarge-collapse">
        <div class="column small-12 large-5 xlarge-6">
            <div class="product__gallery">
                <div class="product__main-image-container">
                    <span class="product-label product-label--alert">АКЦИЯ</span>
                    <div id="productImageContainer" class="product__main-image-wrap">
                        <img src="pic/img-product-1.jpg" alt="{{ title }}">
                    </div>
                </div>
                <div class="product__thumbnails">
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-1.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-1.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-2.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-2.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-3.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-3.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-4.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-4.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-5.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-5.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-thumbnail" data-src="pic/img-product-6.jpg"
                           href="#">
                            <img class="thumbnail" src="pic/img-product-6.jpg" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a class="product__thumbnail-inner js-product-video"
                           href="https://www.youtube.com/embed/watch?v=dwakAAwKWss">
                            <svg>
                                <use xlink:href="#icon_youtube"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="product__thumbnail">
                        <a href="#" class="product__thumbnail-inner fill-primary js-3d-view-init" data-first-image="pic/360deg/test/_DSC0001.jpg" data-images="pic/360deg/test/_DSC####.jpg" data-frames="41">
                            <svg>
                                <use xlink:href="#icon_3d"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column small-12 large-7 xlarge-6">
            <div class="product__info">
                <div class="product__header">
                    <div class="product__name"><span>Quad Shiatsu Massage Cushion with Heat</span></div>
                    <div class="product__rating-container">
                        <span class="product__code font-size-small font-family-cgothic">Код товара: MCS-750H</span>
                        <span class="product__rating rating">
                            <span class="rating__stars" data-rating="4">
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                            </span>
                            <span class="rating__count"><ins>24</ins> Отзыва</span>
                        </span>
                    </div>
                    <div class="product__status-container">
                        <!--<div class="product__status"><i><svg><use xlink:href="#icon_cart_x"></use></svg></i>Нет в наличии</div>-->
                        <!--<div class="product__status"><i><svg><use xlink:href="#icon_time2"></use></svg></i>Ожидается</div>-->
                        <div class="product__status"><i>
                            <svg>
                                <use xlink:href="#icon_check"></use>
                            </svg>
                        </i>Есть в наличии
                        </div>
                        <div class="product__status product__status--wide"><i>
                            <svg>
                                <use xlink:href="#icon_cargo"></use>
                            </svg>
                        </i>Бесплатная доставка по Украине
                        </div>
                    </div>
                    <div class="product__media-container">
                        <a class="product__media-button product__media-button--youtube js-product-video"
                           href="https://www.youtube.com/embed/watch?v=dwakAAwKWss">
                            <i>
                                <svg>
                                    <use xlink:href="#icon_youtube"></use>
                                </svg>
                            </i>
                            <span>Видео <br> обзор</span>
                        </a>
                        <span class="product__media-button product__media-button--3d js-3d-view-init"
                  data-first-image="pic/360deg/test/_DSC0001.jpg" data-images="pic/360deg/test/_DSC####.jpg" data-frames="41">
                            <i>
                                <svg>
                                    <use xlink:href="#icon_3d"></use>
                                </svg>
                            </i>
                            <span>3D <br> обзор</span>
                        </span>
                        <a class="product__media-button" href="#">
                            <i>
                                <svg>
                                    <use xlink:href="#icon_info"></use>
                                </svg>
                            </i>
                            <span>Скачать <br> инструкцию</span>
                        </a>
                    </div>
                </div>
                <div class="product__body">
                    <div class="product__control-container">
                        <div class="product__price-container">
                            <span class="product__price price">
                                <span class="price__old"><ins>840</ins> грн</span>
                                <span class="price__current"><ins>760</ins> грн</span>
                            </span>
                            <button class="product__buy-button button button--buy button--gray mfiB"
                                    data-param='{"action": "new", "id": 123}' type="button"
                                    title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_plus"></use>
                                    </svg>
                                </i>
                            </button>
                        </div>
                        <div class="product__controls">
                            <div class="grid">
                                <div class="grid__row">
                                    <div class="grid__item">
                                        <button class="product__control" type="button" title="В кредит"><i
                                                class="svg-holder">
                                            <svg>
                                                <use xlink:href="#icon_wallet"></use>
                                            </svg>
                                        </i><span>В кредит</span></button>
                                    </div>
                                    <div class="grid__item">
                                        <button class="product__control switchable-button js-compare-add" data-product-id="123" type="button"
                                                title="Добавить товар к сравнению"><i class="svg-holder">
                                            <svg>
                                                <use xlink:href="#icon_weights"></use>
                                            </svg>
                                        </i><span class="switchable-button__text" data-default="Сравнить" data-added="Добавлено"></span></button>
                                    </div>
                                </div>
                                <div class="grid__row">
                                    <div class="grid__item">
                                        <a class="product__control mfiA" data-product-id="123" href="hidden/oneclick.php" title="Купить в один клик">
                                            <i class="svg-holder">
                                                <svg>
                                                    <use xlink:href="#icon_time"></use>
                                                </svg>
                                            </i>
                                            <span>В 1 клик</span>
                                        </a>
                                    </div>
                                    <div class="grid__item">
                                        <button class="product__control switchable-button js-favorite-add" data-product-id="123" type="button" title="Добавить товар в избранное"><i
                                                class="svg-holder">
                                            <svg>
                                                <use xlink:href="#icon_heart"></use>
                                            </svg>
                                        </i><span class="switchable-button__text" data-default="Отложить" data-added="Добавлено"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__description-container">
                        <div class="wTxt">
                            <h6 style="font-size: 16px; margin: 0 0 -1em 0; color: #364658;"><b>ОСОБЕННОСТИ</b></h6>
                            <p style="line-height: 1.8em; color: #364658;">HoMedics® Quad Массаж Шиацу Подушка с тепло
                                ваша личная массажистка. С трех стилей массажа и контроля зоны, этот массаж подушки
                                позволяет контролировать вашего опыта массажа. Если вы ищете для быстрой и бодрящим
                                массажем ударного, глубоко
                                мышцы разминание массаж, или нежный прокатки массаж, подушка Quad Массаж Шиацу для
                                вас.</p>
                        </div>
                    </div>
                </div>
                <div class="product__footer">
                    <div class="product__socials socials">
                        <a href="#" title="facebook" class="socials__link"><i class="socials__icon fill-hover-fb">
                            <svg>
                                <use xlink:href="#icon_facebook"></use>
                            </svg>
                        </i></a>
                        <a href="#" title="twitter" class="socials__link"><i class="socials__icon fill-hover-tt">
                            <svg>
                                <use xlink:href="#icon_twitter"></use>
                            </svg>
                        </i></a>
                        <a href="#" title="pinterest" class="socials__link"><i class="socials__icon fill-hover-pt">
                            <svg>
                                <use xlink:href="#icon_pinterest"></use>
                            </svg>
                        </i></a>
                        <a href="#" title="google+" class="socials__link socials__link--gp"><i class="socials__icon fill-hover-gp">
                            <svg>
                                <use xlink:href="#icon_google_plus"></use>
                            </svg>
                        </i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
