<div id="productCatalog" class="product-catalog">
  {{#each products.catalog}}
  <div class="product-catalog__item">
    <div class="product-preview">
      {{#if this.label}}
      <a class="product-label {{ this.label.mod }}" href="item.html" title="{{ this.name }}">{{ this.label.title }}</a> {{/if}}
      <a class="product-preview__image-container" href="item.html" title="{{ this.name }}">
        <img src="pic/{{ this.imageName }}" alt="{{ this.name }}">
        <img src="pic/no-image.png" alt="{{ this.name }}">
      </a>
      <div class="product-preview__top-pane">
        <a class="product-preview__name product-preview__name--large product-preview__for-list-view" href="item.html" title="{{ this.name }}"><span>{{ this.name }}</span></a>
        <a class="product-preview__rating rating product-preview__for-list-view" href="item.html#pageTab2" title="Перейти к отзывам">
          <span class="rating__stars" data-rating="{{ this.rating }}">
            <i>
                <svg>
                    <use xlink:href="#icon_star"></use>
                </svg>
            </i>
            <i>
                <svg>
                    <use xlink:href="#icon_star"></use>
                </svg>
            </i>
            <i>
                <svg>
                    <use xlink:href="#icon_star"></use>
                </svg>
            </i>
            <i>
                <svg>
                    <use xlink:href="#icon_star"></use>
                </svg>
            </i>
            <i>
                <svg>
                    <use xlink:href="#icon_star"></use>
                </svg>
            </i>
          </span>
          <span class="rating__count"><ins>{{ this.reviewCount }}</ins> Отзыва</span>
        </a>
        <div class="product-preview__compare-wrap">
          <span class="product-preview__code">{{ this.code }}</span>
          <button class="product-preview__compare switchable-button js-compare-add" data-product-id="{{ this.id }}" type="button" title="Добавить товар к сравненю"><span class="switchable-button__text" data-default="+ Сравнить" data-added="В сравнении"></span></button>
        </div>
      </div>
      <div class="product-preview__bottom-pane">
        <a class="product-preview__name product-preview__for-tile-view" href="item.html" title="{{ this.name }}"><span>{{ this.name }}</span></a> {{#if this.description}}
        <div class="product-preview__description product-preview__for-list-view">
          <p>{{ this.description }}</p>
          <p><a class="button primary tiny" href="item.html" title="{{ this.name }}"><span>ПОДРОБНЕЕ</span></a>
              {{#ifpage 'favorite'}}<button class="button alert tiny" data-product-id="123" type="button" title="Убрат товар из избранного">УДАЛИТЬ ИЗ ИЗБРАННОГО</button>{{/ifpage}}
          </p>
        </div>
        {{/if}}
        <a class="product-preview__rating rating product-preview__for-tile-view" href="item.html#pageTab2" title="Перейти к отзывам">
          <span class="rating__stars" data-rating="{{ this.rating }}">
              <i>
                  <svg>
                      <use xlink:href="#icon_star"></use>
                  </svg>
              </i>
              <i>
                  <svg>
                      <use xlink:href="#icon_star"></use>
                  </svg>
              </i>
              <i>
                  <svg>
                      <use xlink:href="#icon_star"></use>
                  </svg>
              </i>
              <i>
                  <svg>
                      <use xlink:href="#icon_star"></use>
                  </svg>
              </i>
              <i>
                  <svg>
                      <use xlink:href="#icon_star"></use>
                  </svg>
              </i>
            </span>
          <span class="rating__count"><ins>{{ this.reviewCount }}</ins> Отзыва</span>
        </a>
        <span class="product-preview__price price">
            <span class="price__old"><ins>{{ this.priceOld }}</ins> грн</span>
            <span class="price__current"><ins>{{ this.priceCurrent }}</ins> грн</span>
        </span>
        <button class="product-preview__button button button--buy button--gray expanded mfiB" type="button" data-param='{"action": "new", "id": 123}' title="Добавить товар в корзину"><span>КУПИТЬ</span> <i><svg><use xlink:href="#icon_plus"></use></svg></i></button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
