<div class="page-section promo-section">
  <div class="row xlarge-collapse">
    <div class="column small-12 xlarge-9">
      <div class="promo-container">
        <a class="promo promo--large color-black" href="catalog.html" style="background-image: url('pic/bg-promo-2.jpg')">
          <div class="promo__inner text-center">
            <p class="promo__title"><em>подбери свой</em></p>
            <p class="promo__sub-title">ЛЮБИМЫЙ МАССАЖЕР</p>
            <p><span class="button alert">ПЕРЕЙТИ В КАТАЛОГ</span></p>
          </div>
        </a>
        <a class="promo color-white" href="catalog.html" style="background-image: url('pic/bg-promo-1.jpg')">
          <div class="promo__inner">
            <p><span class="promo__link">КРАСОТА</span></p>
          </div>
        </a>
        <a class="promo color-black" href="catalog.html" style="background-image: url('pic/bg-promo-4-4.jpg')">
          <div class="promo__inner">
            <p><span class="promo__link">ТОВАРЫ ДЛЯ<br> ЗДОРОВЬЯ</span></p>
          </div>
        </a>
      </div>
      <div class="promo-container promo-container--up-to-3">
        <a href="catalog.html" class="promo promo--product color-white" style="background-image: url('pic/bg-promo-5.jpg')">
          <span class="product-label product-label--succes">НОВИНКА</span>
          <div class="promo__inner">
            <p class="promo__title">Ультразвуковой<br> Увлажнитель и<br> освежитель Mist<br> Humidifier</p>
          </div>
        </a>
        <a href="catalog.html" class="promo promo--framed color-black">
          <div class="promo__inner text-center">
            <p class="promo__title"><em>Акции и<br> Скидки<br> до</em></p>
            <p class="promo__sub-title">40%</p>
            <span class="promo__link">Подробнее</span>
          </div>
        </a>
        <a href="catalog.html" class="promo color-white" style="background-image: url('pic/bg-promo-6.jpg')">
          <span class="promo__inner">
            <p><span class="promo__link">Запчасти &<br> аксессуары</span></p>
          </span>
        </a>
      </div>
    </div>
    <div class="column small-12 xlarge-3 promo-section__right-column">
      <div class="promo-container">
        <a href="catalog.html" class="promo promo--diamond color-black" style="background-image: url('pic/bg-promo-3.jpg')">
          <i class="promo__svg">
            <svg>
              <use xlink:href="#icon_diamond"></use>
            </svg>
          </i>
          <div class="promo__inner text-center">
            <p class="promo__title"><em>полезные<br> статьи</em></p>
            <p><span class="promo__link">читать</span></p>
          </div>
        </a>
        {{> promo-carousel}}
      </div>
    </div>
  </div>
</div> <!-- /page-section -->