<div class="carousel carousel--promo js-carousel">
  <div class="carousel__header">
    <span>Хиты продаж</span>
  </div>
  <div class="carousel__inner">
    <div class="carousel__track js-carousel-track">
      {{#each products.promo}}
      <div class="carousel__item">
        <div class="carousel__product-preview product-preview">
          <a class="product-preview__image-container" href="item.html" title="{{ this.name }}">
            <img src="pic/{{ this.imageName }}" alt="{{ this.name }}">
          </a>
          <div class="product-preview__top-pane">
            <a class="product-preview__name product-preview__name--large product-preview__for-list-view" href="item.html"
               title="{{ this.name }}"><span>{{ this.name }}</span></a>
            <a class="product-preview__rating rating product-preview__for-list-view" href="item.html#pageTab2" title="Перейти к отзывам">
            <span class="rating__stars" data-rating="{{ this.rating }}">
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
            </span>
              <span class="rating__count"><ins>{{ this.reviewCount }}</ins> Отзыва</span>
            </a>
            <div class="product-preview__compare-wrap">
              <span class="product-preview__code">{{ this.code }}</span>
              <button class="product-preview__compare switchable-button js-compare-add" data-product-id="{{ this.id }}" type="button" title="Добавить товар к сравненю"><span class="switchable-button__text" data-default="+ Сравнить" data-added="В сравнении"></span></button>
            </div>
          </div>
          <div class="product-preview__bottom-pane">
            <a class="product-preview__name product-preview__for-tile-view" href="item.html" title="{{ this.name }}"><span>{{ this.name }}</span></a>
            {{#if this.description}}
            <div class="product-preview__description product-preview__for-list-view">
              <p>{{ this.description }}</p>
              <p><a class="button primary tiny" href="item.html" title="{{ this.name }}"><span>ПОДРОБНЕЕ</span></a></p>
            </div>
            {{/if}}
            <a class="product-preview__rating rating product-preview__for-tile-view" href="item.html#pageTab2" title="Перейти к отзывам">
            <span class="rating__stars" data-rating="{{ this.rating }}">
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
              <i>
                <svg>
                  <use xlink:href="#icon_star"></use>
                </svg>
              </i>
            </span>
              <span class="rating__count"><ins>{{ this.reviewCount }}</ins> Отзыва</span>
            </a>
            <span class="product-preview__price price">
              <span class="price__old"><ins>{{ this.priceOld }}</ins> грн</span>
              <span class="price__current"><ins>{{ this.priceCurrent }}</ins> грн</span>
            </span>
            <button class="product-preview__button button button--buy button--gray expanded mfiB" type="button" data-param='{"action": "new", "id": 123}' title="Добавить товар в корзину"><span>КУПИТЬ</span> <i>
              <svg>
                <use xlink:href="#icon_plus"></use>
              </svg>
            </i></button>
            <a class="product-preview__button product-preview__for-tile-view button primary tiny" href="item.html" title="{{ this.name }}"><span>ПОДРОБНЕЕ</span></a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="carousel__arrows">
      <div class="carousel__arrows-track">
        <button class="carousel__arrow carousel__arrow--prev js-carousel-prev" type="button" title="Назад"><i></i><span
                class="show-for-sr">Назад</span></button>
        <button class="carousel__arrow carousel__arrow--next js-carousel-next" type="button" title="Вперёд">
          <i></i><span class="show-for-sr">Вперёд</span></button>
      </div>
    </div>
  </div>
</div>
