<div class="quick-registration">
    <div class="row">
        <div class="quick-registration__inner">
            <div class="quick-registration__title">
                <p class="font-family-gothic" style="font-size: 2.2rem">ЗАРЕГИСТРИРУЙТЕСЬ И ПОЛУЧИТЕ СКИДКУ!</p>
                <p class="font-family-georgia color-white"><em>Зарегистрируйтесь сегодня и получите код купона со
                    скидкой <span style="font-size: 3rem">10<span
                            style="font-size: 2rem">%</span></span>.</em></p>
            </div>
            <div class="quick-registration__form wForm wFormDef" data-form="true">
                <div class="wFormInput">
                    <input type="email" class="wInput" required data-rule-email="true"
                           data-msg-email="Пожалуйста, введите корректный адрес электронной почты!"
                           data-msg-required="Пожалуйста, заполните поле!" placeholder="your_email@example.com">
                    <div class="inpInfo">email</div>
                </div>
                <button class="wSubmit button alert">РЕГИСТРАЦИЯ</button>
            </div>
        </div>
    </div>
</div>