{{#ifpage 'index' 'catalog' 'ex'}}
<div id="seoTxt" class="seo-txt">
    <div class="wSize">
        <div class="wTxt">
            <h3>AМЕРИКАНСКАЯ ПРОДУКЦИЯ ОТ КОМПАНИИ HOMEDICS. САЛОН КРАСОТЫ — У ВАС ДОМА!</h3>
            <p>Компания «Имекс-Трейд ЛТД» является официальным представителем и дистрибьютором американского бренда HoMedics. Это продукция для вашего здоровья и красоты. Специалисты рекомендуют продукты HoMedics всем, но особенно важно ими воспользоваться если:</p>
            <ul>
                <li>если вам больше 30 лет;</li>
                <li>если вы ведете малоподвижный образ жизни;</li>
                <li>если вам на-доело постоянно чувствовать истощение.</li>
            </ul>
            <p>HoMedics — первая компания, которая изобрела уникальную массажную накидку. Вся продукция американского бренда призвана расслаблять, успокаивать и упрощать вашу жизнь. Гарантия на линейку продуктов — 3 года.</p>
            <p><b style="font-size: 18px;">Платите только за товар!</b><br>
                Мы заказываем товары для красоты и здоровья HoMedics напрямую у поставщика. Минуя длинную череду посредников, мы предлагаем продукцию по самой низкой цене. Если вы найдете дешевле, позвоните нам — предоставим хорошую скидку.</p>
        </div>
    </div>
</div><!-- /seoTxt -->
{{/ifpage}}