<div class="carousel carousel--show js-carousel" data-carousel-type="show">
    <div class="carousel__header">
        <span>Посмотрите также</span>
    </div>
    <div class="carousel__inner">
        <div class="carousel__track js-carousel-track">
            {{#each products.show}}
            <div class="carousel__item">
                <div class="carousel__product-preview product-preview">
                    <a class="product-preview__image-container" href="#" title="{{ this.name }}">
                        <img src="pic/{{ this.imageName }}" alt="{{ this.name }}">
                    </a>
                    <div class="product-preview__bottom-pane">
                        <a class="product-preview__name product-preview__for-tile-view" href="#" title="{{ this.name }}"><span>{{ this.name }}</span></a>
                        <a class="product-preview__rating rating product-preview__for-tile-view" href="item.html#pageTab2" title="Перейти к отзывам">
                            <span class="rating__stars" data-rating="{{ this.rating }}">
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_star"></use>
                                    </svg>
                                </i>
                            </span>
                            <span class="rating__count"><ins>{{ this.reviewCount }}</ins> Отзыва</span>
                        </a>
                        <span class="product-preview__price price">
                          <span class="price__old"><ins>{{ this.priceOld }}</ins> грн</span>
                          <span class="price__current"><ins>{{ this.priceCurrent }}</ins> грн</span>
                        </span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="carousel__arrows">
            <div class="carousel__arrows-track">
                <button class="carousel__arrow carousel__arrow--prev js-carousel-prev" type="button" title="Назад">
                    <i></i><span class="show-for-sr">Назад</span>
                </button>
                <button class="carousel__arrow carousel__arrow--next js-carousel-next" type="button" title="Вперёд">
                    <i></i><span class="show-for-sr">Вперёд</span>
                </button>
            </div>
        </div>
    </div>
</div>
