<div class="page-aside__promo-container promo-container js-sticky">
    <a href="#" class="promo promo--diamond color-black" style="background-image: url('pic/bg-promo-3.jpg')">
        <i class="promo__svg">
            <svg>
                <use xlink:href="#icon_diamond"></use>
            </svg>
        </i>
        <div class="promo__inner text-center">
            <p class="promo__title"><em>полезные<br> статьи</em></p>
            <p><span class="promo__link">читать</span></p>
        </div>
    </a>
    <a href="#" class="promo promo--framed color-black">
        <div class="promo__inner text-center">
            <p class="promo__title"><em>Акции и<br> Скидки<br> до</em></p>
            <p class="promo__sub-title">40%</p>
            <span class="promo__link">Подробнее</span>
        </div>
    </a>
</div>