<div class="wTxt">
    <h1>Заголовок h1
    </h1>
    <h2>Заголовок h2
    </h2>
    <h3>Заголовок h3
    </h3>
    <h4>Заголовок h4
    </h4>
    <h5>Заголовок h5
    </h5>
    <h6>Заголовок h6
    </h6>
    <h2>Форматирование текста</h2>
    <p>Краткая демонстрация текстовых элементов / теги. Тег <kbd>&lt;p&gt;</kbd> определяет текстовый абзац(создает
        новый параграф). Абзац является блочным элементом, всегда начинается с новой строки и имеет отсуп до и после
        себя. Абзац не позволяет в кладывать внутрь себя такие элементы как <kbd>address(информации об авторе)</kbd>,
        <kbd>blockquote(блочная цитата)</kbd>, <kbd>table(таблица)</kbd>, также другие абзаци <kbd>p > p</kbd>.<br/>Если
        вам нужно принудительно перевести строку текста на новую линию, без создания нового абзаца и верстикальных
        отступов между - используйте одинарный тег <kbd>&lt;br/&gt;</kbd>.</p>
    <p>Вы можете отформатировать текст используя такие теги как <kbd>&lt;i&gt;</kbd> / <kbd>&lt;em&gt;</kbd>, <em>чтобы
        сделать ваш текст наклонным</em>,<br> вы также можете использовать <kbd>&lt;q&gt;</kbd> - <q>строчные цитаты,
        которые в отличии от блочных, позволяют вложенность внутри абзаца,</q><br>при помощи тегов <kbd>&lt;b&gt;</kbd>
        / <kbd>&lt;strong&gt;</kbd> - <strong>можно обозначить важный текст жирностью шрифта</strong>,<br>для
        <ins>подчеркивания текста</ins>
        используйте <kbd>&lt;u&gt;</kbd> / <kbd>&lt;ins&gt;</kbd>, a для
        <del>перечеркивания</del>
        - <kbd>&lt;del&gt;</kbd> / <kbd>&lt;s&gt;</kbd>,<br>Также можно
        <mark>выделить нужную часть текста</mark>
        возможно при помощи тега <kbd>&lt;mark&gt;</kbd></p>
    <p>Чтобы превратить ваш текст в гиперссылку, нужно использовать <a href="#">тег &lt;a&gt;</a>. Ссылка должна иметь
        обязательный атрибут <kbd><b>href="<i>uri</i>"</b></kbd> значение которого должен URI адрес вашей гиперссылки.
        Более подробно с <a href="http://htmlbook.ru/html/a" title="Тег &lt;a&gt;" target="_blank">гиперссылками</a> и
        другими элементами, представленными на этой странице, вы можете ознакомиться на сайте <a
                href="http://htmlbook.ru/" title="htmlbook.ru" target="_blank">htmlbook.ru</a></p>
    <p>Также можно использовать специальные теги <kbd>&lt;sup&gt;</kbd> <sup>Отображает шрифт в виде верхнего
        индекса</sup> и <kbd>&lt;sub&gt;</kbd> <sub>Отображает шрифт в виде нижнего индекса</sub>.<br>Тег <kbd>&lt;big&gt;</kbd>
        <big>увеличивает размер шрифта</big>, а тег <kbd>&lt;small&gt;</kbd>
        <small>уменьшает размер шрифта</small>
    </p>
    <p>Тег <code>&lt;code&gt;</code> предназначен для отображения одной или нескольких строк текста, который
        представляет собой программный код<br><em>пример:</em><br>чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.
    </p>
    <p>Тег <kbd>&lt;kbd&gt;</kbd> используется для обозначения текста, который набирается на клавиатуре или для названия
        клавиш,<br><em>пример:</em><br>чтобы вызвать <b>"Диспетчер задач"</b> нажмите на клавиатуре вместе 3 клавиши -
        <kbd><b>Ctrl + Alt + Del</b></kbd>.</p>
    <p>Тег <samp>&lt;samp&gt;</samp> используется для отображения текста, который является результатом вывода
        компьютерной программы или скрипта,<br><em>пример:</em><br>В результате провеверки мы определил, что <samp>ваш
            браузер поддерживает JavaScript</samp></p>
    <p>Тег <kbd>&lt;abbr&gt;</kbd> указывает, что <abbr title="последовательность символов">ПС</abbr> является
        аббревиатурой. С помощью атрибута <kbd>title</kbd> дается расшифровка сокращения, что позволяет понимать
        аббревиатуру тем людям, которые с ней не знакомы. Кроме того, <strong>поисковые системы индексируют
            полнотекстовый вариант сокращения</strong>, что может использоваться для повышения рейтинга документа.</p>
    <p>Как правило, когда, в документе, упоминается <dfn title="это новый термин">новый термин</dfn>, он выделяется
        курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным
        читателю. Тег <dfn title="тег &lt;dfn&gt;">&lt;dfn&gt;</dfn> применяется для выделения таких терминов при их
        первом появлении в тексте. С помощью атрибута <kbd>title</kbd> вы можете дать более пожробную расшифровку
        термина.</p>
    <address>Тег <kbd>&lt;address&gt;</kbd> предназначен для хранения информации об авторе<em>(НЕ адреса и контакты
        компании, прочее)</em> и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.
    </address>
    <blockquote>Тег <kbd>&lt;blockquote&gt;</kbd> используется для обозначения цитат, длинных выписок, афоризмов и
        прочее, который создается в новом блоке с пробелами до и после.
    </blockquote>
    <pre>Тег &lt;pre&gt; определяет блок предварительно форматированного текста.<br>&nbsp;&nbsp;&nbsp;&nbsp;Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тег &lt;pre&gt; позволяет обойти эту особенность и отображать текст<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;как требуется разработчику.</pre>
    <h2>Списки</h2>
    <h5>Маркированный список</h5>
    <ul>
        <li><a href="http://www.wezom.com.ua" target="_blank" title="Веб-студия Wezom">Веб - студия Wezom</a> -
            Продвижение, создание сайтов, разработка, раскрутка сайта
        </li>
        <li><a href="http://www.korova.ks.ua" target="_blank" title="Коворкинг - Центр Корова">Коворкинг - Центр
            Корова</a> - Аренда офиса, рабочего места в центре Херсона
        </li>
        <li><a href="http://www.100bannerov.com" target="_blank" title="100bannerov">100bannerov</a> - Размещение
            бесплатной баннерной рекламы в интернете
        </li>
        <li><a href="http://www.wezom.mobi" target="_blank" title="Wezom.mobile">Wezom.mobile</a> - Разработка и
            создание мобильных приложений для android и ios устройств в Украине
            <ul>
                <li> Lorem ipsum dolor sit
                </li>
                <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                </li>
                <li> Lorem ipsum dolor sit amet, consectetur
                    <ul>
                        <li> Повседневная практика показывает, что
                        </li>
                        <li> Повседневная практика показывает, что постоянный количественный рост и сфера
                        </li>
                        <li> Повседневная практика показывает, что постоянный количественный
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h5>Нумерованный список</h5>
    <ol>
        <li><a href="http://www.dom-rebenka.org.ua" target="_blank" title="Областной Дом ребенка">Областной Дом
            ребенка</a> - Помощь детям с пораженной ЦНС
        </li>
        <li><a href="http://www.blogoduma.ru" target="_blank" title="Медицинский портал">Медицинский портал</a> - Все о
            здоровье и медицин
        </li>
        <li><a href="http://www.more.ks.ua" target="_blank" title="Отдых на море">Отдых на море</a> - Черное и Азовское
            море / пансионаты Херсонского побережья
        </li>
        <li><a href="http://www.rafting.mk.ua" target="_blank" title="Рафтинг на Южном Буге и в Карпатах">Рафтинг на
            Южном Буге и в Карпатах</a> - Рафтинг в Украине, сплав по реке Южный Буг
            <ol>
                <li> Lorem ipsum dolor sit
                </li>
                <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                </li>
                <li> Lorem ipsum dolor sit amet, consectetur
                    <ol>
                        <li> Повседневная практика показывает, что
                        </li>
                        <li> Повседневная практика показывает, что постоянный количественный рост и сфера
                        </li>
                        <li> Повседневная практика показывает, что постоянный количественный
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
    <h5>Список опредлений</h5>
    <dl>
        <dt>Что такое Тег?</dt>
        <dd>Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу
            таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.
        </dd>
        <dt>Что такое HTML-документ?</dt>
        <dd>Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты
            хранятся отдельно. Содержимое такого файла обычно называется HTML-код.
        </dd>
        <dt>Что такое Сайт?</dt>
        <dd>Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.</dd>
    </dl>
    <h2>Таблицы</h2>
    <table>
        <caption>caption таблици</caption>
        <tr>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
    </table>
    <table class="table-null">
        <caption>Таблица CSS класс <b>"table-null"</b></caption>
        <tr>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
    </table>
    <table class="table-zebra">
        <caption>Таблица CSS класс <b>"table-zebra"</b></caption>
        <tr>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
            <th>Заглавие таблици</th>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
        <tr>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
            <td>Данные вашей таблици</td>
        </tr>
    </table>
    <h2>Iframe, Video, Audio</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LEzKfmzKmjA" frameborder="0"
            allowfullscreen></iframe>
    <video src="video/video.mp4"></video>
    <audio src="audio/audio.mp3" controls></audio>
</div>