@import '_settings/wezom-vars';
@import '_settings/zf-settings';

/* ===========================================================================
    fonts
=========================================================================== */
/**
 * Пример подключения шрифтов
 *
 * @font-face {
 *   font-family: 'GothamPro';
 *   src: url('../fonts/GothamPro-Light.eot');
 *   src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
 *   font-weight: 200;
 *   font-style: normal;
 * }
 *
 **/

/* ===========================================================================
    global
=========================================================================== */
html, body {
  height: auto;
  min-height: 100vh;
  &.is-zf-off-canvas-open {
    height: 100vh;
    .off-canvas-content {
      height: 100vh;
    }
  }
}

body {
  min-width: 32rem;
  font-size: rem-calc(16);
}

a {
  text-decoration: underline;
  color: $colorLink;
  &:visited {
    text-decoration: inherit;
    color: $colorLinkVisited;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
    color: $colorActive;
  }
  &[href^='http'],
  &[href^='www.'] {
    cursor: alias;
  }
}

/* ===========================================================================
    page structure
=========================================================================== */

/*  page-wrapper
=========================================================================== */
.page-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*  page-container
=========================================================================== */
.page-container {
  padding-top: $global-padding;
  flex-grow: 1;
  .ie & {
    overflow: hidden;
  }
  @include clearfix;
  @include breakpoint(large down) {
    padding-top: rem-calc(47) + $global-padding;
  }
}

/*  page-header
=========================================================================== */
.page-header {
  position: relative;
  z-index: 50;
  background-color: $black;
  color: $white;
  font-size: rem-calc(14);
  &__mobile-pane {
    padding-left: rem-calc(5);
  }
  &__top-pane {
    position: relative;
    z-index: 3;
    padding: .5rem;
    margin-bottom: rem-calc(20);
    background-color: $dark-gray;
    color: $white;
  }
  &__top-pane-menu {
    cursor: default;
    line-height: 2.6rem;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
    &--right {
      &.menu li:last-child {
        margin: 0;
      }
    }
  }
  &__middle-pane {
    position: relative;
    z-index: 2;
    margin-bottom: rem-calc(10);
    color: $colorPrimaryLight;
  }
  &__search-form {
    margin-top: rem-calc(12);
    width: rem-calc(265);
  }
  @include breakpoint(large down) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .is-off-canvas-open & {
      position: absolute;
    }
  }
}

/*  page-footer
=========================================================================== */
.page-footer {
  flex: none;
  background-color: $black;
  color: $white;
  &__top-pane {
    padding: rem-calc(35) 0;
  }
  &__middle-pane {
    padding: rem-calc(40);
    background-color: $dark-gray;
  }
  &__bottom-pane {
    font-size: rem-calc(13);
    padding: rem-calc(30) 0;
    .menu {
      color: $colorPrimaryLight;
      li {
        a {
          display: inline;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-decoration-style: dashed;
          }
        }
        &:not(:last-child) {
          margin-right: 0.7rem;
          &::after {
            content: '|';
            display: inline;
            margin-left: 1rem;
          }
        }
      }
    }
  }
  &__menu-header {
    padding-top: rem-calc(10);
    margin-bottom: rem-calc(20);
    font-family: $font-family-cgothic;
  }
  &__menu {
    font-size: rem-calc(14);
    line-height: 1.2em;
    padding: 0 rem-calc(10) 0.5rem 0;
    overflow: hidden;
    .link--tel {
      font-size: rem-calc(24);
    }
    li {
      &:not(:last-child) {
        margin-bottom: rem-calc(10);
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }
  @include breakpoint(large down) {
    &__middle-pane {
      padding: rem-calc(20) 0 rem-calc(10);
    }
    &__bottom-pane {
      padding: rem-calc(10) 0;
      .menu {
        margin: rem-calc(10) 0;
        li {
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
}

/*  page-section
=========================================================================== */
.page-section {
  margin-bottom: $section-gutter;
}

/* ===========================================================================
    helpers
=========================================================================== */

.svg-holder {
  position: relative;
  & > svg {
    @include HVcenter(100%, 100%);
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.font {
  &-thin {
    font-weight: 200 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-black {
    font-weight: 800 !important;
  }
}

.fill {
  &-primary svg {
    fill: $primary-color !important;
  }
  &-secondary svg {
    fill: $secondary-color !important;
  }
  &-success svg {
    fill: $success-color !important;
  }
  &-warning svg {
    fill: $warning-color !important;
  }
  &-alert svg {
    fill: $alert-color !important;
  }
  &-gray svg {
    fill: #999999 !important;
  }
  &-light-gray svg {
    fill: $light-gray !important;
  }
  &-medium-gray svg {
    fill: $medium-gray !important;
  }
  &-dark-gray svg {
    fill: $dark-gray !important;
  }
  &-black svg {
    fill: $black !important;
  }
  &-white svg {
    fill: $white !important;
  }
  &-gp svg {
    fill: #db4836 !important;
  }
  &-fb svg {
    fill: #3b5999 !important;
  }
  &-yt svg {
    fill: #cd181f !important;
  }
  &-in svg {
    fill: #0177B5 !important;
  }
  &-tt svg {
    fill: #55acef !important;
  }
  &-pt svg {
    fill: #bd071e !important;
  }
}

.fill-hover {
  &-primary:hover svg {
    fill: $primary-color !important;
  }
  &-secondary:hover svg {
    fill: $secondary-color !important;
  }
  &-success:hover svg {
    fill: $success-color !important;
  }
  &-warning:hover svg {
    fill: $warning-color !important;
  }
  &-alert:hover svg {
    fill: $alert-color !important;
  }
  &-gray:hover svg {
    fill: #999999 !important;
  }
  &-light-gray:hover svg {
    fill: $light-gray !important;
  }
  &-medium-gray:hover svg {
    fill: $medium-gray !important;
  }
  &-dark-gray:hover svg {
    fill: $dark-gray !important;
  }
  &-black:hover svg {
    fill: $black !important;
  }
  &-white:hover svg {
    fill: $white !important;
  }
  &-gp:hover svg {
    fill: #db4836 !important;
  }
  &-fb:hover svg {
    fill: #3b5999 !important;
  }
  &-yt:hover svg {
    fill: #cd181f !important;
  }
  &-in:hover svg {
    fill: #0177B5 !important;
  }
  &-tt:hover svg {
    fill: #55acef !important;
  }
  &-pt:hover svg {
    fill: #bd071e !important;
  }
}

.color {
  &-primary {
    color: $primary-color !important;
  }
  &-secondary {
    color: $secondary-color !important;
  }
  &-success {
    color: $success-color !important;
  }
  &-warning {
    color: $warning-color !important;
  }
  &-alert {
    color: $alert-color !important;
  }
  &-gray {
    color: #999999 !important;
  }
  &-light-gray {
    color: $light-gray !important;
  }
  &-medium-gray {
    color: $medium-gray !important;
  }
  &-dark-gray {
    color: $dark-gray !important;
  }
  &-black {
    color: $black !important;
  }
  &-white {
    color: $white !important;
  }
}

.bg {
  &-primary {
    background-color: $primary-color !important;
  }
  &-secondary {
    background-color: $secondary-color !important;
  }
  &-success {
    background-color: $success-color !important;
  }
  &-warning {
    background-color: $warning-color !important;
  }
  &-alert {
    background-color: $alert-color !important;
  }
  &-gray {
    background-color: #999999 !important;
  }
  &-light-gray {
    background-color: $light-gray !important;
  }
  &-medium-gray {
    background-color: $medium-gray !important;
  }
  &-dark-gray {
    background-color: $dark-gray !important;
  }
  &-black {
    background-color: $black !important;
  }
  &-white {
    background-color: $white !important;
  }
}

.font-size {
  &-huge {
    font-size: rem-calc(36);
  }
  &-large {
    font-size: rem-calc(24);
  }
  &-medium {
    font-size: rem-calc(18);
  }
  &-small {
    font-size: rem-calc(14);
  }
  &-tiny {
    font-size: rem-calc(12);
  }
}

.font-family {
  &-gothic {
    font-family: $font-family-cgothic;
  }
  &-georgia {
    font-family: $font-family-georgia;
  }
}

.page-title {
  padding-bottom: 0.6em;
  margin-bottom: $section-gutter;
  border-bottom: 1px solid #d7dade;
  line-height: 1em;
  font-size: 3.6rem;
  font-family: $font-family-cgothic;
  text-transform: uppercase;
  overflow: hidden;
  span {
    display: block;
    overflow: hidden;
  }
  &--small {
    font-size: 2.6rem;
  }
  @include breakpoint(medium down) {
    font-size: 2.8rem;
  }
}

.section-title {
  margin-bottom: $section-gutter-small;
  line-height: 1.2em;
  font-size: 2.6rem;
  font-family: $font-family-cgothic;
  text-transform: uppercase;
  &--large {
    font-size: 3.2rem;
  }
}

.status {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
    svg {
      @include HVcenter(100%, 100%);
      fill: #12c201;
    }
  }
}

.contacts-bg {
  z-index: 0;
  position: absolute;
  width: 75%;
  height: 85%;
  right: -28%;
  top: 15%;
  background: no-repeat center;
  background-size: contain;
}

/* ===========================================================================
    partials
=========================================================================== */

@import '_imports/accordion-tabs';
@import '_imports/animations';
@import '_imports/article-preview';
@import '_imports/carousel';
@import '_imports/cart-button';
@import '_imports/catalog-menu';
@import '_imports/catalog-sorting';
@import '_imports/comments';
@import '_imports/compare-button';
@import '_imports/dropdown-select';
@import '_imports/email-subscription';
@import '_imports/figure';
@import '_imports/grid';
@import '_imports/languages';
@import '_imports/link';
@import '_imports/logo';
@import '_imports/magnify';
@import '_imports/map';
@import '_imports/mobile-ofc';
@import '_imports/order-summary';
@import '_imports/page-aside';
@import '_imports/page-tabs';
@import '_imports/pagination';
@import '_imports/popups';
@import '_imports/price';
@import '_imports/product-catalog';
@import '_imports/product-label';
@import '_imports/product-preview';
@import '_imports/product-list';
@import '_imports/progress';
@import '_imports/product';
@import '_imports/promo';
@import '_imports/quick-registration';
@import '_imports/rating';
@import '_imports/socials';
@import '_imports/submenu';
@import '_imports/tile';
@import '_imports/user-features';
@import '_imports/wezom';
@import '_imports/zf-customization';
