@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/* ==========================================================================
    breadcrumbs
========================================================================== */
.breadcrumbs {
  width: 100%;
  display: table;
  padding: 0.4rem 0 0.9rem 0;
  border-bottom: 1px solid #d7dade;
  line-height: 0;
  font-size: 0;
  font-family: $font-family-cgothic;
  > span {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.4em;
    margin-right: 1rem;
    color: $black;
    &::before {
      content: '>';
      display: inline-block;
      vertical-align: baseline;
      margin-right: 1rem;
      color: $primary-color;
    }
    &:first-child::before {
      display: none;
    }
    > a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }
  &-container {
    margin-bottom: 3rem;
  }
}

@include breakpoint(medium down) {
  .breadcrumbs {
    display: block;
    padding-left: 1rem;
    > span {
      display: none;
      &::before {
        display: none;
      }
      &:nth-last-child(2) {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        margin: 0;
        &::before {
          content: '<';
          display: inline-block;
        }
      }
    }
  }
}
