@import '../_settings/zf-settings';
@import '../_settings/wezom-vars';

/* ==========================================================================
    sitemap
========================================================================== */
%mapElement {
    padding: $unit $emSizePart;
}

%mapElementHover {
    color: $colorWhite;
    text-shadow: $textShadowDark;
}

%mapElementTransition {
    transition: background-color 0.1s ease, color 0.1s ease;
}

.wSitemap {
    font-family: $fontFamily;
    font-size: $fontSize;
    margin: 0 0 $emSizeText;
    > ul {
        padding-left: $emSizeDouble;
        overflow: hidden;
    }
    ul {
        counter-reset: sitemap;
        list-style-type: none;
        ul {
            margin-left: $emSizeDouble;
        }
        li {
            position: relative;
            margin: $emSizeHalf 0;
            &:before {
                @extend %mapElement;
                @extend %mapElementTransition;
                float: left;
                background-color: $light-gray;
                color: $primary-color;
                counter-increment: sitemap;
                content: counters(sitemap,'.') ' ';
            }
            &:after {
                @extend %mapElementTransition;
                content: '|-';
                position: absolute;
                right: 100%;
                margin-right: $emSizeHalf;
                top: 0;
                width: auto;
                height: 100%;
                white-space: nowrap;
                text-align: right;
                opacity: .3;
            }
            a {
                @extend %mapElement;
                @extend %mapElementTransition;
                text-decoration: none;
                color: $black;
                background-color: $light-gray;
                display: block;
                overflow: hidden;
            }
            &:hover {
                > a {
                    @extend %mapElementHover;
                    text-decoration: underline;
                    background-color: $dark-gray;
                }
                &:before {@extend %mapElementHover; }
                &:after {color: transparent;}
                &:before, &:after {background-color: $colorDanger;}
            }
            li {
                &:hover {
                    > a {background-color: $dark-gray; }
                    &:before, &:after {background-color: darken($colorDanger, 3%);}
                }
                li {
                    &:hover {
                        > a {background-color: $dark-gray; }
                        &:before, &:after {background-color: $colorDanger;}
                    }
                    li {
                        &:hover {
                            > a {background-color: lighten($dark-gray, 3%); }
                            &:before, &:after {background-color: lighten($colorDanger, 3%); }
                        }
                        li {
                            &:hover {
                                > a {background-color: lighten($dark-gray, 6%); }
                                &:before, &:after {background-color: lighten($colorDanger, 6%); }
                            }
                        }
                    }
                }
            }
        }
    }
}
