<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
{{> head }}
<body>
{{> body }}
<!-- WezomDefs -->
{{> noscript }}

{{> old-browser-detect }}

{{> svg-sprite }}

<!-- изменить id у svg элемента -> #sprite_SiteName -->
<svg id="sprite_Homedics" xmlns="http://www.w3.org/2000/svg"
     style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;"
     onload="wSpriteSvg.initialize(this,'js/jsons/svgsprite.json')"></svg>

</body>
</html>
