---
title: "Личный кабинет"
breadcrumbs:
    current: Личный кабинет
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <a href="#"><img data-interchange="[pic/img-favorite-banner.jpg, large]" src="" alt=""></a>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> catalog-sorting }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> product-catalog }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination }}
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="account.html" title="Мой аккаунт">Мой аккаунт</a>
                    </li>
                    <li>
                        <a href="account-history.html" title="История заказов">История заказов</a>
                    </li>
                    <li class="active">
                        <a href="account-favorite.html" title="Список желаний">Список желаний</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>