---
title: "Личный кабинет"
breadcrumbs:
    current: Личный кабинет
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-title"><span>История заказов</span></div>
            <div class="page-section">
                <div class="product-list product-list--history">
                    <div class="product-list__item">
                        <div class="product-list__img-container">
                            <a href="item.html" title="Портативный увлажнитель Mist Humidifier">
                                <img src="pic/img-lot-1.jpg" alt="Портативный увлажнитель Mist Humidifier">
                            </a>
                        </div>
                        <div class="product-list__header">
                            <div class="product-list__num">№2445643</div>
                            <div class="product-list__date">от 13 ноября 2014</div>
                        </div>
                        <div class="product-list__item-info">
                            <div class="product-list__title">
                                <a href="item.html" title="Портативный увлажнитель Mist Humidifier">Портативный увлажнитель Mist Humidifier</a>
                            </div>
                            <div class="product-list__quantity">
                                <span class="js-basket-item-quantity">1</span> шт.
                            </div>
                            <div class="product-list__price price">
                                <span class="price__old"><ins>800</ins> грн</span>&nbsp;
                                <span class="price__current"><ins class="js-basket-item-sum">760</ins> грн</span>
                            </div>
                        </div>
                        <div class="product-list__item-status">
                            <span class="font-size-small font-family-gothic color-gray">Статус заказа:</span> <br>
                            <span class="status">
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_checkmark"></use>
                                    </svg>
                                </i>
                                <b>Выполнено</b>
                            </span>
                        </div>
                    </div>
                    <div class="product-list__item">
                        <div class="product-list__img-container">
                            <a href="item.html" title="Atlas Vibration Acu-Node Massager">
                                <img src="pic/img-lot-2.jpg" alt="Atlas Vibration Acu-Node Massager">
                            </a>
                        </div>
                        <div class="product-list__header">
                            <div class="product-list__num">№2445643</div>
                            <div class="product-list__date">от 13 ноября 2014</div>
                        </div>
                        <div class="product-list__item-info">
                            <div class="product-list__title">
                                <a href="item.html" title="Atlas Vibration Acu-Node Massager">Atlas Vibration Acu-Node Massager</a>
                            </div>
                            <div class="product-list__quantity">
                                <span class="js-basket-item-quantity">1</span> шт.
                            </div>
                            <div class="product-list__price price">
                                <span class="price__old"><ins>800</ins> грн</span>&nbsp;
                                <span class="price__current"><ins class="js-basket-item-sum">760</ins> грн</span>
                            </div>
                        </div>
                        <div class="product-list__item-status">
                            <span class="font-size-small font-family-gothic color-gray">Статус заказа:</span> <br>
                            <span class="status">
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_checkmark"></use>
                                    </svg>
                                </i>
                                <b>Выполнено</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination }}
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="account.html" title="Мой аккаунт">Мой аккаунт</a>
                    </li>
                    <li class="active">
                        <a href="account-history.html" title="История заказов">История заказов</a>
                    </li>
                    <li>
                        <a href="account-favorite.html" title="Список желаний">Список желаний</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>