---
title: "Личный кабинет"
breadcrumbs:
    current: Личный кабинет
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-title"><span>Добро пожаловать, Андрей Степанов</span></div>
            <div class="section-title"><span>Информация об аккаунте</span></div>
            <div class="page-section">
                <div class="wForm wFormDef wFormDef--contacts" data-form="true" data-disabled-submit="true">
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваше имя</span>
                        <span class="wFormInput">
                            <input type="text" class="wInput" required
                                   name="account_name"
                                   data-rule-word="true"
                                   data-rule-minlength="2"
                                   data-msg-required="Пожалуйста, укажите ваше имя!"
                                   data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                   data-msg-minlength="Введите не меньше 2-х букв!">
                        </span>
                        </label>
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваша фамилия</span>
                        <span class="wFormInput">
                            <input type="text" class="wInput" required
                                   name="account_name2"
                                   data-rule-word="true"
                                   data-rule-minlength="2"
                                   data-msg-required="Пожалуйста, укажите вашу фамилию!"
                                   data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                   data-msg-minlength="Введите не меньше 2-х букв!">
                        </span>
                        </label>
                    </div>
                    <div class="wFormRow">
                        <div class="row">
                            <label class="column">
                                <span class="wLabel"><span class="color-alert">*</span> E-mail</span>
                                <span class="wFormInput">
                                    <input class="wInput" type="email" name="account_email"
                                           data-msg-required="Это поле необходимо заполнить"
                                           data-msg-email="Пожалуйста, введите корректный Email"
                                           required="">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="wFormRow">
                        <div class=" row">
                            <div class="column">
                                <label class="wCheck">
                                    <input class="js-check-switch" data-target=".js-password-change" type="checkbox" name="order_delivery" value="v1">
                                    <ins></ins>
                                    <span class="font-size-small">Изменить пароль</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="wFormRow hide js-password-change">
                        <div class="row">
                            <div class="column">
                                <div class="section-title"><span>ИЗМЕНИТЬ ПАРОЛЬ</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="column medium-6">
                                <span class="wLabel"><span class="color-alert">*</span> Старый пароль</span>
                                <span class="wFormInput">
                                    <input type="password" class="wInput" required
                                           name="account_password_cur"
                                           data-rule-password="true"
                                           data-msg-password="Укажите корректный пароль!"
                                           data-msg-required="Пожалуйста, введите текщий пароль!">
                                </span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="column medium-6">
                                <span class="wLabel"><span class="color-alert">*</span> Новый пароль</span>
                                <span class="wFormInput">
                                    <input id="accNewPass" type="password" class="wInput" required
                                           name="account_password_new1"
                                           data-rule-password="true"
                                           data-rule-minlength="4"
                                           data-msg-password="Укажите корректный пароль!"
                                           data-msg-required="Пожалуйста, введите новый пароль!"
                                           data-msg-minlength="Пожалуйста, введите не меньше 4 символов">
                                </span>
                            </label>
                            <label class="column medium-6">
                                <span class="wLabel"><span class="color-alert">*</span> Повторите новый пароль</span>
                                <span class="wFormInput">
                                    <input type="password" class="wInput" required
                                           name="account_password_new2"
                                           data-rule-equalto="#accNewPass"
                                           data-msg-required="Пожалуйста, введите новый пароль ещё раз!"
                                           data-msg-equalto="Пароли дольжны совпадать!">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wFormRow column">
                            <button class="wSubmit button alert">СОХРАНИТЬ ДАННЫЕ</button>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li class="active">
                        <a href="account.html" title="Мой аккаунт">Мой аккаунт</a>
                    </li>
                    <li>
                        <a href="account-history.html" title="История заказов">История заказов</a>
                    </li>
                    <li>
                        <a href="account-favorite.html" title="Список желаний">Список желаний</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>