---
title: "Статьи"
breadcrumbs:
    current: Статьи
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-news-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="page-section">
                <div class="article-preview">
                    <div class="article-preview__header">
                        <span class="article-preview__date">24 Марта, 2016</span>
                    </div>
                    <div class="article-preview__body">
                        <div class="article-preview__title"><a href="article.html" title='Домашний массаж, или как выбрать массажное кресло "от А до Я"'>Домашний массаж, или как выбрать массажное кресло "от А до Я"</a></div>
                        <div class="article-preview__txt">
                            <p>К счастью, прогресс не стоит на месте, и последние годы все большую популярность завоевывают массажные кресла. Приобретение такого кресла сулит его владельцу ежедневный релаксирующий или оздоровительный массаж, снятие стресса, напряжения и тяжести в мышцах. Предложение, безусловно, заманчивое.</p>
                        </div>
                    </div>
                    <div class="article-preview__footer">
                        <a href="article.html" class="article-preview__link" title="Читать далее">ЧИТАТЬ ДАЛЕЕ</a>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="article-preview__header">
                        <span class="article-preview__date">13 Марта, 2016</span>
                    </div>
                    <div class="article-preview__body">
                        <div class="article-preview__title"><a href="article.html" title='Как выбрать массажное кресло?'>Как выбрать массажное кресло?</a></div>
                        <div class="article-preview__txt">
                            <p>Говоря о приобретении массажного кресла, невозможно обойти стороной проблемы выбора данного товара. На что же стоит обратить внимание перед покупкой?</p>
                        </div>
                    </div>
                    <div class="article-preview__footer">
                        <a href="article.html" class="article-preview__link" title="Читать далее">ЧИТАТЬ ДАЛЕЕ</a>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="article-preview__header">
                        <span class="article-preview__date">24 Марта, 2016</span>
                    </div>
                    <div class="article-preview__body">
                        <div class="article-preview__title"><a href="article.html" title='Домашний массаж, или как выбрать массажное кресло "от А до Я"'>Домашний массаж, или как выбрать массажное кресло "от А до Я"</a></div>
                        <div class="article-preview__txt">
                            <p>К счастью, прогресс не стоит на месте, и последние годы все большую популярность завоевывают массажные кресла. Приобретение такого кресла сулит его владельцу ежедневный релаксирующий или оздоровительный массаж, снятие стресса, напряжения и тяжести в мышцах. Предложение, безусловно, заманчивое.</p>
                        </div>
                    </div>
                    <div class="article-preview__footer">
                        <a href="article.html" class="article-preview__link" title="Читать далее">ЧИТАТЬ ДАЛЕЕ</a>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="article-preview__header">
                        <span class="article-preview__date">13 Марта, 2016</span>
                    </div>
                    <div class="article-preview__body">
                        <div class="article-preview__title"><a href="article.html" title='Как выбрать массажное кресло?'>Как выбрать массажное кресло?</a></div>
                        <div class="article-preview__txt">
                            <p>Говоря о приобретении массажного кресла, невозможно обойти стороной проблемы выбора данного товара. На что же стоит обратить внимание перед покупкой?</p>
                        </div>
                    </div>
                    <div class="article-preview__footer">
                        <a href="article.html" class="article-preview__link" title="Читать далее">ЧИТАТЬ ДАЛЕЕ</a>
                    </div>
                </div>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination }}
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li class="active">
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>