---
title: Каталог
breadcrumbs:
    back:
        back1:
            title: Каталог
            link: catalog.html
    current: Массаж
---

{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-3 show-for-xlarge">
            {{> page-aside }}
        </div>
        <div class="column small-12 xlarge-9">
            <div class="page-section show-for-large text-center">
                <a href="#"><img data-interchange="[pic/img-catalog-banner.jpg, large]" src="" alt=""></a>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> catalog-sorting }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> product-catalog }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination}}
            </div> <!-- page-section -->
        </div>
    </div>
</div>
<div class="page-section">
    <div class="row">
        <div id="seoClone" class="seo-clone"></div>
    </div>
</div>