---
title: Сравнение товаров
---
<div class="row">
    <div class="compareSection">
        <header class="compareHead">
            <div class="page-title">Сравнение товаров из категории <b>"Lorem ipsum"</b></div>
            <div class="compareControls clearfix">
                <a href="compare.html" class="button success float-left" style="margin-right: 1rem;">Назад</a>
                <button class="button alert toggleMisMath float-left" data-txt="Скрыть отличия">Показать отличия
                </button>
                <button class="button float-right clearCompare">Очистить таблицу</button>
            </div>
        </header><!-- .compareHead -->
        <div class="compareWrapp">
            <div class="compareNoSupport">
                <div class="wTxt">
                    <p>Вы ничего не увидете при ширине 1024px</p>
                </div>
            </div><!-- .compareNoSupport -->

            <div class="compareCleared">
                <div class="wTxt">
                    <p>Ваш список сравнения удален</p>
                </div>
            </div><!-- .compareCleared -->

            <div class="compareHold">
                <table class="compareTable">
                    <tr>
                        <td>
                            <div class="cellHold">&nbsp;</div>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-1.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-success">В наличии</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-750H</span>
                                        </div>
                                        <a class="product-preview__rating rating"
                                           href="item.html#pageTab2" title="Перейти к отзывам">
                                            <span class="rating__stars" data-rating="4">
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                            </span>
                                            <span class="rating__count"><ins>23</ins> Отзыва</span>
                                        </a>
                                        <span class="product-preview__price price">
                                            <span class="price__old"><ins>840</ins> грн</span>
                                            <span class="price__current"><ins>760</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-2.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-alert">Нет в наличии</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-740H</span>
                                        </div>
                                        <span class="product-preview__price price">
                                            <span class="price__old"><ins>840</ins> грн</span>
                                            <span class="price__current"><ins>760</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-3.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-medium-gray">Ожидается</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-760H</span>
                                        </div>
                                        <a class="product-preview__rating rating"
                                           href="item.html#pageTab2" title="Перейти к отзывам">
                                            <span class="rating__stars" data-rating="3">
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                            </span>
                                            <span class="rating__count"><ins>23</ins> Отзыва</span>
                                        </a>
                                        <span class="product-preview__price price">
                                            <span class="price__old"><ins>840</ins> грн</span>
                                            <span class="price__current"><ins>760</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-3.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-success">В наличии</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-730H</span>
                                        </div>
                                        <span class="product-preview__price price">
                                            <span class="price__current"><ins>860</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-4.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-medium-gray">Ожидается</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-720H</span>
                                        </div>
                                        <a class="product-preview__rating rating"
                                           href="item.html#pageTab2" title="Перейти к отзывам">
                                            <span class="rating__stars" data-rating="1">
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                            </span>
                                            <span class="rating__count"><ins>2</ins> Отзыва</span>
                                        </a>
                                        <span class="product-preview__price price">
                                            <span class="price__current"><ins>760</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                        <td>
                            <div class="cellHold">
                                <span class="itemDel">&times;</span>
                                <div class="product-preview product-preview--compare">
                                    <a class="product-preview__image-container" href="item.html"
                                       title="Портативный увлажнитель Mist Humidifier">
                                        <img src="pic/img-lot-5.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                    </a>
                                    <div class="product-preview__top-pane">
                                        <div class="product-preview__status color-alert">Нет в наличии</div>
                                        <a class="product-preview__name" href="item.html"
                                           title="Портативный увлажнитель Mist Humidifier"><span>Портативный увлажнитель Mist Humidifier</span>
                                        </a>
                                        <div class="product-preview__compare-wrap">
                                            <span class="product-preview__code">Код товара: MCS-790H</span>
                                        </div>
                                        <a class="product-preview__rating rating"
                                           href="item.html#pageTab2" title="Перейти к отзывам">
                                            <span class="rating__stars" data-rating="5">
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                                  <i>
                                                      <svg>
                                                          <use xlink:href="#icon_star"></use>
                                                      </svg>
                                                  </i>
                                            </span>
                                            <span class="rating__count"><ins>153</ins> Отзыва</span>
                                        </a>
                                        <span class="product-preview__price price">
                                            <span class="price__current"><ins>978</ins> грн</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button alert expanded mfiB" type="button" data-param="{&quot;action&quot;: &quot;new&quot;, &quot;id&quot;: 123}" title="Добавить товар в корзину">
                                <span>КУПИТЬ</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Производитель">Производитель</span>
                            </div>
                        </td>
                        <td>
                            <div class="cellHold">Goodyear</div>
                        </td>
                        <td>
                            <div class="cellHold">Achilles</div>
                        </td>
                        <td>
                            <div class="cellHold">Hankook</div>
                        </td>
                        <td>
                            <div class="cellHold">Goodyear</div>
                        </td>
                        <td>
                            <div class="cellHold">Goodyear</div>
                        </td>
                        <td>
                            <div class="cellHold">Hankook</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Сезонность">Сезонность</span></div>
                        </td>
                        <td>
                            <div class="cellHold">Зимняя</div>
                        </td>
                        <td>
                            <div class="cellHold">Зимняя</div>
                        </td>
                        <td>
                            <div class="cellHold">Летняя</div>
                        </td>
                        <td>
                            <div class="cellHold">Летняя</div>
                        </td>
                        <td>
                            <div class="cellHold">Зимняя</div>
                        </td>
                        <td>
                            <div class="cellHold">Зимняя</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Ширина">Ширина</span></div>
                        </td>
                        <td>
                            <div class="cellHold">185</div>
                        </td>
                        <td>
                            <div class="cellHold">185</div>
                        </td>
                        <td>
                            <div class="cellHold">185</div>
                        </td>
                        <td>
                            <div class="cellHold">195</div>
                        </td>
                        <td>
                            <div class="cellHold">195</div>
                        </td>
                        <td>
                            <div class="cellHold">195</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Профиль">Профиль</span></div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                        <td>
                            <div class="cellHold">65</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Диаметр">Диаметр</span></div>
                        </td>
                        <td>
                            <div class="cellHold">R15</div>
                        </td>
                        <td>
                            <div class="cellHold">R16</div>
                        </td>
                        <td>
                            <div class="cellHold">R16</div>
                        </td>
                        <td>
                            <div class="cellHold">R16</div>
                        </td>
                        <td>
                            <div class="cellHold">R16</div>
                        </td>
                        <td>
                            <div class="cellHold">R15</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Индекс нагрузки">Индекс нагрузки</span>
                            </div>
                        </td>
                        <td>
                            <div class="cellHold">88</div>
                        </td>
                        <td>
                            <div class="cellHold">88</div>
                        </td>
                        <td>
                            <div class="cellHold">91</div>
                        </td>
                        <td>
                            <div class="cellHold">91</div>
                        </td>
                        <td>
                            <div class="cellHold">91</div>
                        </td>
                        <td>
                            <div class="cellHold">88</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Индекс скорости">Индекс скорости</span>
                            </div>
                        </td>
                        <td>
                            <div class="cellHold">Т</div>
                        </td>
                        <td>
                            <div class="cellHold">Т</div>
                        </td>
                        <td>
                            <div class="cellHold">Т</div>
                        </td>
                        <td>
                            <div class="cellHold">H</div>
                        </td>
                        <td>
                            <div class="cellHold">H</div>
                        </td>
                        <td>
                            <div class="cellHold">H</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Шипы">Шипы</span></div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                        <td>
                            <div class="cellHold">нешип</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis"
                                                        title="Регион производства">Регион производства</span></div>
                        </td>
                        <td>
                            <div class="cellHold">Европейский союз</div>
                        </td>
                        <td>
                            <div class="cellHold">Европейский союз</div>
                        </td>
                        <td>
                            <div class="cellHold">Европейский союз</div>
                        </td>
                        <td>
                            <div class="cellHold">Остальной мир</div>
                        </td>
                        <td>
                            <div class="cellHold">Остальной мир</div>
                        </td>
                        <td>
                            <div class="cellHold">Остальной мир</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis"
                                                        title="Экономия топлива">Экономия топлива</span></div>
                        </td>
                        <td>
                            <div class="cellHold">---</div>
                        </td>
                        <td>
                            <div class="cellHold">---</div>
                        </td>
                        <td>
                            <div class="cellHold">C</div>
                        </td>
                        <td>
                            <div class="cellHold">C</div>
                        </td>
                        <td>
                            <div class="cellHold">C</div>
                        </td>
                        <td>
                            <div class="cellHold">B</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis"
                                                        title="Сцепление на мокрой дороге Сцепление на мокрой дороге">Сцепление на мокрой дороге мокрой дороге</span>
                            </div>
                        </td>
                        <td>
                            <div class="cellHold">---</div>
                        </td>
                        <td>
                            <div class="cellHold">A</div>
                        </td>
                        <td>
                            <div class="cellHold">B</div>
                        </td>
                        <td>
                            <div class="cellHold">С</div>
                        </td>
                        <td>
                            <div class="cellHold">С</div>
                        </td>
                        <td>
                            <div class="cellHold">С</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cellHold"><span class="ellipsis" title="Уровень шума">Уровень шума</span></div>
                        </td>
                        <td>
                            <div class="cellHold">68 db</div>
                        </td>
                        <td>
                            <div class="cellHold">68 db</div>
                        </td>
                        <td>
                            <div class="cellHold">---</div>
                        </td>
                        <td>
                            <div class="cellHold">68 db</div>
                        </td>
                        <td>
                            <div class="cellHold">68 db</div>
                        </td>
                        <td>
                            <div class="cellHold">---</div>
                        </td>
                    </tr>
                </table>
            </div><!-- .compareHold -->
        </div><!-- .compareWrapp -->
    </div><!-- .compareSection -->
</div>