---
title: "Контакты"
breadcrumbs:
    current: Контакты
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-contacts-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="page-title page-title--small text-center medium-text-left"><span>КОНТАКТНАЯ ИНФОРМАЦИЯ</span></div>
            <div class="page-section" style="position: relative;">
                <div class="contacts-bg show-for-large" data-interchange="[pic/bg-contacts.jpg, large]"></div>
                <div style="position: relative;">
                    <div class="media-object media-object--contacts stack-for-small text-center medium-text-left">
                        <div class="media-object-section align-self-center middle">
                            <div class="thumbnail">
                                <img src="pic/contacts-1.png">
                            </div>
                        </div>
                        <div class="media-object-section main-section middle">
                            <p class="font-size-medium"><b>Консультация и заказ оборудования:</b></p>
                            <p>Звонки принимаются без выходных, с 9:00 до 20:00</p>
                            <p>&nbsp;</p>
                            <p>+38 (093) 26 38 748</p>
                            <p>+38 (093) 26 38 748</p>
                            <p>+38 (097) 91 93 573</p>
                            <p>+38 (097) 91 93 573</p>
                        </div>
                    </div>
                    <div class="media-object media-object--contacts stack-for-small text-center medium-text-left">
                        <div class="media-object-section align-self-center middle">
                            <div class="thumbnail">
                                <img src="pic/contacts-2.png">
                            </div>
                        </div>
                        <div class="media-object-section main-section middle">
                            <p class="font-size-medium"><b>Центральный офис:</b></p>
                            <p>г. Киев, пр-т Московский, 8/16</p>
                            <p>E-mail: <a class="color-black" href="mailto:homedics.ua@gmail.com">homedics.ua@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="media-object media-object--contacts stack-for-small text-center medium-text-left">
                        <div class="media-object-section align-self-center middle">
                            <div class="thumbnail">
                                <img src="pic/contacts-3.png">
                            </div>
                        </div>
                        <div class="media-object-section main-section middle">
                            <p class="font-size-medium"><b>Часы работы магазина:</b></p>
                            <p>Пн-Пт: 09:00-18:00</p>
                            <p>Сб-Вс: по Вашей просьбе откроемся</p>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
            <p>&nbsp;</p>
            <div class="section-title text-center medium-text-left"><span>ПОЧЕМУ ВЫГОДНО ПОКУПАТЬ У НАС?</span></div>
            <div class="page-section">
                <div class="tile">
                    <div class="tile__row">
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/contacts-4.png" alt=""></div>
                            <p class="font-size-medium"><b>Выгодные цены</b></p>
                            <p>Отличительная особенность товаров от HoMedics, это высокое качество при доступной цене.</p>
                        </div>
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/contacts-5.png" alt=""></div>
                            <p class="font-size-medium"><b>Гарантия качества</b></p>
                            <p>Мы официальные представители HoMedics в Украине. На все товары предоставляем 3 года полной гарантии!</p>
                        </div>
                    </div>
                    <div class="tile__row">
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/contacts-6.png" alt=""></div>
                            <p class="font-size-medium"><b>Удобная форма оплаты</b></p>
                            <p>Оплачивайте заказанные товары так, как удобно Вам.</p>
                        </div>
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/contacts-7.png" alt=""></div>
                            <p class="font-size-medium"><b>Бесплатная доставка</b></p>
                            <p>Бесплатно при любой стоимости заказа. Процент за пересылку наложенного платежа оплачиваем тоже мы!</p>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
            <p>&nbsp;</p>
            <div class="page-section">
                <div class="page-title page-title--small text-center medium-text-left"><span>СВЯЖИТЕСЬ С НАМИ</span></div>
                <div class="wForm wFormDef wFormDef--contacts" data-form="true" data-disabled-submit="true">
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваше имя</span>
                            <span class="wFormInput">
                                <input type="text" class="wInput" required
                                       name="contacts_name"
                                       data-rule-word="true"
                                       data-rule-minlength="2"
                                       data-msg-required="Пожалуйста, укажите ваше имя!"
                                       data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                       data-msg-minlength="Введите не меньше 2-х букв!">
                            </span>
                        </label>
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваша фамилия</span>
                            <span class="wFormInput">
                                <input type="text" class="wInput" required
                                       name="contacts_name2"
                                       data-rule-word="true"
                                       data-rule-minlength="2"
                                       data-msg-required="Пожалуйста, укажите вашу фамилию!"
                                       data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                       data-msg-minlength="Введите не меньше 2-х букв!">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> E-mail</span>
                            <span class="wFormInput">
                                <input class="wInput" type="email" name="contacts_email"
                                       data-msg-required="Это поле необходимо заполнить"
                                       data-msg-email="Пожалуйста, введите корректный Email"
                                       required="">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Номер телефона</span>
                            <span class="wFormInput">
                                <input type="tel" class="wInput inputmask" required
                                       name="contacts_phone"
                                       data-inputmask="'mask': '+380999999999'"
                                       data-rule-phoneUA="true"
                                       data-msg-phoneUA="Укажите корректный номер +38ХХХХХХХХХХ"
                                       data-msg-required="Пожалуйста, укажите номер телефона!">
                            </span>
                        </label>
                        <label class="column medium-6">
                            <span class="wLabel">Город</span>
                            <span class="wFormInput">
                                <input class="wInput" type="text" name="contacts_city"
                                       data-rule-minlength="2"
                                       data-msg-minlength="Введите не меньше 2-х символов!">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Тема вопроса</span>
                            <span class="wFormInput">
                                <select name="contacts_question" id="" class="wSelect" required
                                                              data-msg-required="Пожалуйста, выберите тему вопроса!">
                                    <option disabled selected>Выберите тему вопроса</option>
                                    <option value="v1">Вопрос о товаре</option>
                                    <option value="v2">Вопрос о моем заказе</option>
                                    <option value="v3">Отзыв про Homedics.ua</option>
                                    <option value="v4">Информация про гарантию</option>
                                    <option value="v5">Другое</option>
                                </select>
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="wFormRow column">
                            <span class="wLabel"><span class="color-alert">*</span> Комментарий/Вопрос</span>
                            <span class="wFormInput">
                                <textarea class="wTextarea" name="contacts_text" required
                                          data-rule-minlength="10"
                                          data-msg-minlength="Введите не менее 10 символов"
                                          data-msg-required="Пожалуйста, заполните поле!"></textarea>
                            </span>
                        </label>
                        <div class="wFormRow column">
                            <button class="wSubmit wSubmit--margin-top button alert">ОТПРАВИТЬ</button>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
            <p>&nbsp;</p>
            <div class="page-section text-center medium-text-left">
                <div class="section-title"><span>НАШ АДРЕС НА КАРТЕ</span></div>
                <div class="map-container">
                    <script src="http://maps.google.com/maps/api/js"></script>
                    <script src="js/libs/change.map.js"></script>
                    <div class="map js-map" data-latd="50.488545" data-long="30.500234"></div>
                </div>
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li class="active">
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>