---
title: "Доставка и оплата"
breadcrumbs:
    current: Доставка и оплата
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-delivery-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="section-title text-center medium-text-left"><span>СПОСОБЫ ДОСТАВКИ</span></div>
            <div class="page-section">
                <div class="media-object media-object--list stack-for-small text-center medium-text-left">
                    <div class="media-object-section align-self-center middle">
                        <div class="thumbnail">
                            <img src= "pic/dostavka-oplata-1.png">
                        </div>
                    </div>
                    <div class="media-object-section main-section middle">
                        <p class="font-size-medium"><b>Новая Почта</b></p>
                        <p>Бесплатно при любой стоимости заказа</p>
                    </div>
                </div>
                <div class="media-object media-object--list stack-for-small text-center medium-text-left">
                    <div class="media-object-section align-self-center middle">
                        <div class="thumbnail">
                            <img src= "pic/dostavka-oplata-2.png">
                        </div>
                    </div>
                    <div class="media-object-section main-section middle">
                        <p class="font-size-medium"><b>Новая Почта - Адресная доставка</b></p>
                        <p>Бесплатно при стоимости заказа от 10 000 грн.</p>
                    </div>
                </div>
                <div class="media-object media-object--list stack-for-small text-center medium-text-left">
                    <div class="media-object-section align-self-center middle">
                        <div class="thumbnail">
                            <img src= "pic/dostavka-oplata-3.png">
                        </div>
                    </div>
                    <div class="media-object-section main-section middle">
                        <p class="font-size-medium"><b>Самовывоз</b></p>
                        <p>Вы можете забрать товар самостоятельно, из любого нашего магазина</p>
                    </div>
                </div>
            </div> <!-- page-section -->
            <div class="section-title text-center medium-text-left"><span>СПОСОБЫ ОПЛАТЫ</span></div>
            <div class="page-section">
                <div class="tile">
                    <div class="tile__row">
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/dostavka-oplata-4.png" alt=""></div>
                            <p class="font-size-medium"><b>Наложенный платеж при <br> получении товара</b></p>
                            <p>Процент за пересылку денег <br> оплачиваем мы</p>
                        </div>
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/dostavka-oplata-5.png" alt=""></div>
                            <p class="font-size-medium"><b>На карту ПриватБанк</b></p>
                            <p>После оформления заказа, номер <br> карты Вам придет через смс</p>
                        </div>
                    </div>
                    <div class="tile__row">
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/dostavka-oplata-6.png" alt=""></div>
                            <p class="font-size-medium"><b>Безналичный расчет</b></p>
                            <p>После оформления заказа, <br> с Вами свяжется менеджер и <br> выставит счет-фактуру</p>
                        </div>
                        <div class="tile__cell">
                            <div class="tile__img-container"><img src="pic/dostavka-oplata-7.png" alt=""></div>
                            <p class="font-size-medium"><b>Оплата картой Visa, Mastercard</b></p>
                            <p>Через платежную систему PayPal</p>
                        </div>
                    </div>
                </div>
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li class="active">
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>