---
title: "Вопрос-Ответ"
breadcrumbs:
current: Вопрос-Ответ
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-faq-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="page-section">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    {{#each faq.qa }}
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">{{ this.question }}</a>
                        <div class="accordion-content" data-tab-content>
                            {{ this.answer }}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div> <!-- /page-section -->
            <div class="page-section">
                {{> pagination }}
            </div> <!-- /page-section -->
            <div class="page-section">
                <div class="section-title section-title--large text-center"><span>ЗАДАТЬ ВОПРОС</span></div>
            </div> <!-- /page-section -->
            <div class="page-section">
                <div class="wForm wFormDef wFormDef--order" data-form="true">
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваше имя</span>
                            <span class="wFormInput">
                                <input type="text" class="wInput" required
                                   name="faq_name"
                                   data-rule-word="true"
                                   data-rule-minlength="2"
                                   data-msg-required="Пожалуйста, укажите ваше имя!"
                                   data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                   data-msg-minlength="Введите не меньше 2-х букв!">
                            </span>
                        </label>
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> E-mail</span>
                            <span class="wFormInput">
                                <input class="wInput" type="email" name="faq_email"
                                   data-msg-required="Это поле необходимо заполнить"
                                   data-msg-email="Пожалуйста, введите корректный Email"
                                   required="">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="wFormRow column">
                            <span class="wLabel"><span class="color-alert">*</span> Вопрос</span>
                        <span class="wFormInput">
                            <textarea class="wTextarea" name="faq_text" required
                                      data-rule-minlength="10"
                                      data-msg-minlength="Введите не менее 10 символов"
                                      data-msg-required="Пожалуйста, заполните поле!"></textarea>
                        </span>
                        </label>
                        <div class="wFormRow column text-center">
                            <button class="wSubmit wSubmit--margin-top button button--gray button--large-icon">
                                <i>
                                    <svg>
                                        <use xlink:href="#icon_note"></use>
                                    </svg>
                                </i>
                                <span>ДОБАВИТЬ ВОПРОС</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div> <!-- /page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li class="active">
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>