---
title: Список желаний
breadcrumbs:
    current: Список желаний
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <a href="#"><img data-interchange="[pic/img-favorite-banner.jpg, large]" src="" alt=""></a>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> catalog-sorting }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> product-catalog }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination}}
            </div> <!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>