---
title: Главная страница
---

{{> main-carousel }}
<div class="page-section">
  {{> quick-registration }}
</div> <!-- /page-section -->
{{> promo-section }}
<div class="page-section">
  <div class="row xlarge-collapse">
    <div class="column small-12">
      <div id="seoClone" class="seo-clone"></div>
    </div>
  </div>
</div> <!-- /page-section -->
