---
title: "Инструкции"
breadcrumbs:
    current: Инструкции
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-warranty-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="wFormDef">
                <div class="row xlarge-collapse">
                    <div class="column">
                        <div class="wTxt">
                            <h5>Инструкция доступна для загрузки в формате PDF.</h5>
                            <h5>Пожалуйста, выберите продукт модель товара который Вы ищете, чтобы начать загрузку</h5>
                            <p>
                                <small>* Требуется Adobe Reader 6.0 или выше для просмотра PDF-файлов.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row xlarge-collapse">
                    <div class="column medium-6">
                        <select name="instructions"
                                class="wSelect js-instructions-select"
                                data-link-title="Инструкция для" data-header-txt="Вы выбрали инструкцию для"
                                data-footer-txt="Инструкция доступна для скачивания в формате PDF. Adobe Reader 6.0 или выше требуется для того, чтобы просмотреть PDF файлы. Последнюю версию Adobe Reader можно бесплатно загрузить с <a href='http://get.adobe.com/reader/' target='_blank'>adobe.com</a>."
                                data-info-txt="Загруженная инструкция может быть открыта в новом окне браузера или вкладке в зависимости от того, какой браузер вы используете. Если нет, пожалуйста, проверьте папку загрузок, чтобы найти требуемый PDF."
                        >
                            <option disabled selected>Выберите модель</option>
                            <option value="example1" data-title="product-name-1" data-url="#example1">example1</option>
                            <option value="example2" data-title="product-name-2" data-url="#example2">example2</option>
                            <option value="example3" data-title="product-name-3" data-url="#example3">example3</option>
                            <option value="example4" data-title="product-name-4" data-url="#example4">example4</option>
                            <option value="example5" data-title="product-name-5" data-url="#example5">example5</option>
                            <option value="example6" data-title="product-name-6" data-url="#example6">example6</option>
                            <option value="example7" data-title="product-name-7" data-url="#example7">example7</option>
                            <option value="example8" data-title="product-name-8" data-url="#example8">example8</option>
                            <option value="example9" data-title="product-name-9" data-url="#example9">example9</option>
                            <option value="example10" data-title="product-name-10" data-url="#example10">example10</option>
                        </select>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li class="active">
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>