---
title: Корзина
breadcrumbs:
    current: Оформление заказа
---
{{> breadcrumbs }}
<div class="page-section wForm" data-form="true" data-disabled-submit="true">
    <div class="row xlarge-collapse">
        <div class="column">
            <div class="page-title"><span>Оформление заказа</span></div>
        </div>
    </div>
    <div class="row xlarge-collapse">
        <div class="column large-6">
            <div class="section-title"><span>Контактные данные</span></div>
            <div class="wFormDef wFormDef--order">
                <div class="wFormRow">
                    <div class="row">
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваше имя</span>
                            <span class="wFormInput">
                                <input type="text" class="wInput" required
                                       name="order_name"
                                       data-rule-word="true"
                                       data-rule-minlength="2"
                                       data-msg-required="Пожалуйста, укажите ваше имя!"
                                       data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                       data-msg-minlength="Введите не меньше 2-х букв!">
                            </span>
                        </label>
                        <label class="column medium-6">
                            <span class="wLabel"><span class="color-alert">*</span> Ваша фамилия</span>
                            <span class="wFormInput">
                                <input type="text" class="wInput" required
                                       name="order_name2"
                                       data-rule-word="true"
                                       data-rule-minlength="2"
                                       data-msg-required="Пожалуйста, укажите вашу фамилию!"
                                       data-msg-word="Имя не должно содержать цифры, знаки препинания и спец. символы!"
                                       data-msg-minlength="Введите не меньше 2-х букв!">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="column">
                            <span class="wLabel"><span class="color-alert">*</span> E-mail</span>
                            <span class="wFormInput">
                                <input class="wInput" type="email" name="order_email"
                                       data-msg-required="Это поле необходимо заполнить"
                                       data-msg-email="Пожалуйста, введите корректный Email"
                                       required="">
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="column">
                            <span class="wLabel"><span class="color-alert">*</span> Номер телефона</span>
                            <span class="wFormInput">
                                <input type="tel" class="wInput inputmask" required
                                       name="order_phone"
                                       data-inputmask="'mask': '+380999999999'"
                                       data-rule-phoneUA="true"
                                       data-msg-phoneUA="Укажите корректный номер +38ХХХХХХХХХХ"
                                       data-msg-required="Пожалуйста, укажите номер телефона!">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title column"><span>Способ доставки</span></div>
                </div>
                <div class="wFormRow">
                    <div class="row">
                        <div class="column">
                            <label class="wRadio">
                                <input class="js-radio-switch" data-target=".js-novaposhta" type="radio" name="order_delivery" value="v1" checked>
                                <ins></ins>
                                <span class="font-size-small">Новая Почта <span class="font-size-tiny color-gray">(бесплатно)</span></span>
                            </label>
                            <label class="wRadio">
                                <input class="js-radio-switch" data-target=".js-courier" type="radio" name="order_delivery" value="v2">
                                <ins></ins>
                                <span class="font-size-small">Курьер <span class="font-size-tiny color-gray">(бесплатно от 10 000 грн)</span></span>
                            </label>
                        </div>
                    </div>
                    <div class="hide js-novaposhta">
                        <div class="row">
                            <label class="column">
                                <span class="wLabel"><span class="color-alert">*</span> В какой город доставить?</span>
                                <span class="wFormInput">
                                    <input class="wInput" type="text" name="order_city"
                                           data-rule-minlength="2"
                                           data-msg-required="Это поле необходимо заполнить"
                                           data-msg-minlength="Введите не меньше 2-х символов!"
                                           required="">
                                </span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="column">
                                <span class="wLabel"><span class="color-alert">*</span> Укажите отделение Новой Почты</span>
                                <span class="wFormInput">
                                    <input class="wInput" type="text" name="order_nova_poshta"
                                           data-rule-minlength="1"
                                           data-msg-required="Это поле необходимо заполнить"
                                           data-msg-minlength="Введите не меньше 1-го символа!"
                                           required="">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="hide js-courier">
                        <div class="row">
                            <label class="column">
                                <span class="wLabel"><span class="color-alert">*</span> Укажите адрес доставки</span>
                                <span class="wFormInput">
                                    <input class="wInput" type="text" name="order_address"
                                           data-rule-minlength="2"
                                           data-msg-required="Это поле необходимо заполнить"
                                           data-msg-minlength="Введите не меньше 2-х символов!"
                                           required="">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="wFormRow">
                    <div class="row">
                        <div class="section-title column"><span>Способ оплаты</span></div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p>
                                <label class="wRadio">
                                    <input type="radio" name="order_payment" value="v1" checked>
                                    <ins></ins>
                                    <span class="font-size-small">Наличными <span class="font-size-tiny color-gray">(наложенный платеж)</span></span>
                                </label>
                            </p>
                            <p>
                                <label class="wRadio">
                                    <input type="radio" name="order_payment" value="v2">
                                    <ins></ins>
                                    <span class="font-size-small">Безналичный платеж <span class="font-size-tiny color-gray">(с Вами свяжется менеджер и выставит счет-фактуру)</span></span>
                                </label>
                            </p>
                            <p>
                                <label class="wRadio">
                                    <input type="radio" name="order_payment" value="v3">
                                    <ins></ins>
                                    <span class="font-size-small">Кредит <span class="font-size-tiny color-gray">(выберите срок кредита)</span></span>
                                </label>
                            </p>
                            <p>
                                <label class="wRadio">
                                    <input type="radio" name="order_payment" value="v4">
                                    <ins></ins>
                                    <span class="font-size-small">Оплата картой ПриватБанка <span class="font-size-tiny color-gray">(после заказа, номер карты придет Вам через смс)</span></span>
                                </label>
                            </p>
                            <p>
                                <label class="wRadio">
                                    <input type="radio" name="order_payment" value="v5">
                                    <ins></ins>
                                    <span class="font-size-small">Оплата картой Visa, Mastercard <span class="font-size-tiny color-gray">(через платежную систему PayPal)</span></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column large-6">
            <div class="order-summary">
                <div class="order-summary__header">
                    <div class="section-title"><span>Товары в корзине</span></div>
                    <div class="wFormDef show-for-large">
                        <div class="wLabel" style="visibility: hidden;">&nbsp;</div>
                    </div>
                </div>
                <div class="order-summary__body">
                    <div class="product-list js-basket-clone">
                        <div class="product-list__item">
                            <div class="product-list__img-container">
                                <a href="item.html" title="Портативный увлажнитель Mist Humidifier">
                                    <img src="pic/img-lot-1.jpg" alt="Портативный увлажнитель Mist Humidifier">
                                </a>
                            </div>
                            <div class="product-list__item-info product-list__item-info--price-middle">
                                <div class="product-list__title">
                                    <a href="item.html" title="Портативный увлажнитель Mist Humidifier">Портативный
                                        увлажнитель Mist Humidifier</a>
                                </div>
                                <div class="product-list__quantity">
                                    <span class="js-basket-item-quantity">1</span> шт.
                                </div>
                                <div class="product-list__price price">
                                    <span class="price__old"><ins>800</ins> грн</span>&nbsp;
                                    <span class="price__current"><ins class="js-basket-item-sum">760</ins> грн</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__item">
                            <div class="product-list__img-container">
                                <a href="item.html" title="Atlas Vibration Acu-Node Massager">
                                    <img src="pic/img-lot-2.jpg" alt="Atlas Vibration Acu-Node Massager">
                                </a>
                            </div>
                            <div class="product-list__item-info product-list__item-info--price-middle">
                                <div class="product-list__title">
                                    <a href="item.html" title="Atlas Vibration Acu-Node Massager">Atlas Vibration Acu-Node Massager</a>
                                </div>
                                <div class="product-list__quantity">
                                    <span class="js-basket-item-quantity">1</span> шт.
                                </div>
                                <div class="product-list__price price">
                                    <span class="price__old"><ins>1000</ins> грн</span>&nbsp;
                                    <span class="price__current"><ins class="js-basket-item-sum">999</ins> грн</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__item">
                            <div class="product-list__img-container">
                                <a href="item.html" title="Gladiator Vibration Foam Roller">
                                    <img src="pic/img-lot-3.jpg" alt="Gladiator Vibration Foam Roller">
                                </a>
                            </div>
                            <div class="product-list__item-info product-list__item-info--price-middle">
                                <div class="product-list__title">
                                    <a href="item.html" title="Gladiator Vibration Foam Roller">Gladiator Vibration Foam Roller</a>
                                </div>
                                <div class="product-list__quantity">
                                    <span class="js-basket-item-quantity">1</span> шт.
                                </div>
                                <div class="product-list__price price">
                                    <span class="price__old"><ins>1230</ins> грн</span>&nbsp;
                                    <span class="price__current"><ins class="js-basket-item-sum">1199</ins> грн</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-summary__footer clearfix text-center xlarge-text-left">
                    <div class="order-summary__total-container">
                        <div class="font-size-medium font-family-gothic">Итого: <span class="order-summary__total js-basket-total">2280</span> грн.</div>
                    </div>
                    <button class="wSubmit button alert">ОФОРМИТЬ ЗАКАЗ</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /page-section -->