---
title: Результаты поиска
breadcrumbs:
    current: Результаты поиска
---

{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-3 show-for-xlarge">
            {{> page-aside }}
        </div>
        <div class="column small-12 xlarge-9">
            <div class="page-title"><span>Результаты поиска</span></div>
            <div class="page-section">
                {{> catalog-sorting }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> product-catalog }}
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination}}
            </div> <!-- page-section -->
        </div>
    </div>
</div>
<div class="page-section">
    <div class="row">
        <div id="seoClone" class="seo-clone"></div>
    </div>
</div>