---
title: Карта сайта
breadcrumbs:
  current: Карта сайта
---
{{> breadcrumbs}}
<div class="row xlarge-collapse">
  <div class="column small-12">
    <nav class="wSitemap">
      <ul>
        <li><a href="index.html"><span>Главная</span></a>
        </li>
        <li><a href=""><span>Раздел1</span></a>
          <ul>
            <li><a href=""><span>Раздел2</span></a>
            </li>
            <li><a href=""><span>Раздел3</span></a>
            </li>
            <li><a href=""><span>Раздел4</span></a>
            </li>
          </ul>
        </li>
        <li><a href="#"><span>Карта сайта</span></a>
        </li>
        <li><a href="#"><span>Раздел 1</span></a>
          <ul>
            <li><a href="#"><span>Категория 1</span></a>
              <ul>
                <li><a href="#"><span>Подкатегория 1</span></a>
                  <ul>
                    <li><a href="#"><span>Внутрення категория 1</span></a>
                      <ul>
                        <li><a href="#"><span>Статья 1</span></a>
                        </li>
                        <li><a href="#"><span>Статья 2</span></a>
                        </li>
                        <li><a href="#"><span>Статья 3</span></a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#"><span>Внутрення категория 2</span></a>
                      <ul>
                        <li><a href="#"><span>Статья 1</span></a>
                        </li>
                        <li><a href="#"><span>Статья 2</span></a>
                        </li>
                        <li><a href="#"><span>Статья 3</span></a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#"><span>Внутрення категория 3</span></a>
                    </li>
                  </ul>
                </li>
                <li><a href="#"><span>Подкатегория 2</span></a>
                </li>
                <li><a href="#"><span>Подкатегория 3</span></a>
                </li>
              </ul>
            </li>
            <li><a href="#"><span>Категория 2</span></a>
              <ul>
                <li><a href="#"><span>Статья 1</span></a>
                </li>
                <li><a href="#"><span>Статья 2</span></a>
                </li>
              </ul>
            </li>
            <li><a href="#"><span>Категория 3</span></a>
              <ul>
                <li><a href="#"><span>Статья 1</span></a>
                </li>
                <li><a href="#"><span>Статья 2</span></a>
                </li>
                <li><a href="#"><span>Статья 3</span></a>
                </li>
              </ul>
            </li>
            <li><a href="#"><span>Категория 4</span></a>
              <ul>
                <li><a href="#"><span>Статья 1</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#"><span>Раздел 2</span></a>
        </li>
        <li><a href="#"><span>Раздел 3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
