---
title: "Отзывы"
breadcrumbs:
    current: Отзывы
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-warranty-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="page-section">
                <div class="comment">
                    <div class="comment__avatar-container">
                        <div class="comment__avatar"><span>K</span></div>
                    </div>
                    <div class="comment__body">
                        <div class="comment__header">
                            <span class="comment__name">Krista F.</span>
                            <span class="comment__date">01/05/16</span>
                        </div>
                        <div class="comment__title"><span>Amazing!!!!</span></div>
                        <div class="comment__text"><p>It provides so many options for relief and I
                            love the heat feature.</p></div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment__avatar-container">
                        <div class="comment__avatar"><span>M</span></div>
                    </div>
                    <div class="comment__body">
                        <div class="comment__header">
                            <span class="comment__name">Michael M.</span>
                            <span class="comment__date">01/05/16</span>
                        </div>
                        <div class="comment__title"><span>great product</span></div>
                        <div class="comment__text"><p>My wife wanted a massage chair for Christmas
                            so this product seemed like the best choice. My whole family has gotten
                            good use of this. It works best to have the right chair and it takes
                            some practice to customize for your needs but once you do there is no
                            turning back. All I can say is I wish we had gotten one sooner!</p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment__avatar-container">
                        <div class="comment__avatar"><span>M</span></div>
                    </div>
                    <div class="comment__body">
                        <div class="comment__header">
                            <span class="comment__name">Michael M.</span>
                            <span class="comment__date">01/05/16</span>
                        </div>
                        <div class="comment__title"><span>great product</span></div>
                        <div class="comment__text"><p>My wife wanted a massage chair for Christmas
                            so this product seemed like the best choice. My whole family has gotten
                            good use of this. It works best to have the right chair and it takes
                            some practice to customize for your needs but once you do there is no
                            turning back. All I can say is I wish we had gotten one sooner!</p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment__avatar-container">
                        <div class="comment__avatar"><span>K</span></div>
                    </div>
                    <div class="comment__body">
                        <div class="comment__header">
                            <span class="comment__name">Krista F.</span>
                            <span class="comment__date">01/05/16</span>
                        </div>
                        <div class="comment__title"><span>Amazing!!!!</span></div>
                        <div class="comment__text"><p>It provides so many options for relief and I
                            love the heat feature.</p></div>
                    </div>
                </div>
            </div> <!-- page-section -->
            <div class="page-section">
                {{> pagination }}
            </div> <!-- page-section -->
            <div class="page-section">
                <div class="wForm wFormDef" data-form="true">
                    <div class="section-title"><span>ОСТАВИТЬ ОТЗЫВ</span>
                    </div>
                    <label class="row column">
                        <span class="wLabel"><span class="color-alert">*</span> Заголовок</span>
                        <span class="wFormInput">
                            <input type="text" name="testimonials_title" required class="wInput"
                                   data-rule-minlength="4"
                                   data-msg-minlength="Введите не менее 4 символов"
                                   data-msg-required="Пожалуйста, заполните поле!">
                        </span>
                    </label>
                    <div class="wFormRow">
                        <div class="row column">
                            <span class="wLabel"><span class="color-alert">*</span> Текст отзыва</span>
                            <span class="wFormInput">
                                <textarea class="wTextarea" name="testimonials_text" required
                                      data-rule-minlength="10"
                                      data-msg-minlength="Введите не менее 10 символов"
                                      data-msg-required="Пожалуйста, заполните поле!"></textarea>
                            </span>
                        </div>
                    </div>
                    <div class="wFormRow">
                        <button class="wSubmit button button--gray button--large-icon">
                            <i>
                                <svg>
                                    <use xlink:href="#icon_note"></use>
                                </svg>
                            </i>
                            <span>ОТПРАВИТЬ</span>
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- page-section -->
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li class="active">
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li>
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>