---
title: "Гарантия и сертификаты"
breadcrumbs:
    current: Гарантия и сертификаты
---
{{> breadcrumbs }}
<div class="page-section">
    <div class="row xlarge-collapse js-sticky-parent">
        <div class="column xlarge-9 xlarge-push-3">
            <div class="page-section show-for-large text-center">
                <img data-interchange="[pic/img-warranty-banner.jpg, large]" src="" alt="">
            </div> <!-- page-section -->
            <div class="page-section">
                <div class="media-object stack-for-small text-center medium-text-left">
                    <div class="media-object-section align-self-center">
                        <div class="thumbnail">
                            <img src= "pic/img-warranty-logo.png">
                        </div>
                    </div>
                    <div class="media-object-section main-section middle">
                        <p class="font-size-medium"><b>Гарантия от HoMedics</b></p>
                        <p>На этапе разработки каждая модель проходит тщательное тестирование
                            для выявления соответствий техническим и медицинским нормативам. Безопасность проверяется в независимых лабораториях качества.
                            Многоэтапную процедуру сертификации на международном уровне
                            проходит только действительно качественное и надежное оборудование.</p>
                        <p class="color-alert" style="font-size: 2rem;"><i>Гарантия на товары HoMedics - 3 года</i></p>
                    </div>
                </div>
            </div> <!-- page-section -->
            <div class="section-title text-center medium-text-left"><span>Сертификаты государственной <br> санитарно-эпидемиологической экспертизы</span></div>
            <div class="page-section">
                <div class="row small-up-3">
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-1.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-2.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 1">
                                    <img src="pic/img-warranty-preview-1.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                            <a href="pic/img-warranty-1-extra.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-1-extra.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 1 (дополнение)"></a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-2.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-2.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 2">
                                    <img src="pic/img-warranty-preview-2.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                            <a href="pic/img-warranty-2-extra.jpg" data-open-link-title="Оригинал" data-source="img-warranty-2-extra.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 2 (дополнение)"></a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-3.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-2.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 3">
                                    <img src="pic/img-warranty-preview-3.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                            <a href="pic/img-warranty-3-extra.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-3-extra.jpg" title="Сертификат государственной санитарно-эпидемиологической экспертизы 3 (дополнение)"></a>
                        </div>
                    </div>
                </div>
            </div><!-- page-section -->
            <div class="section-title text-center medium-text-left"><span>Сертификаты соответствия товара</span></div>
            <div class="page-section">
                <div class="row small-up-3">
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-4.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-4.jpg" title="Сертификат соответствия товара 1">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-5.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-5.jpg" title="Сертификат соответствия товара 2">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-6.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-6.jpg" title="Сертификат соответствия товара 3">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- page-section -->
            <div class="section-title text-center medium-text-left"><span>Международные сертификаты</span></div>
            <div class="page-section">
                <div class="row small-up-3">
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-7.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-7.jpg" title="Международный сертификаты 1">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-8.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-8.jpg" title="Международный сертификаты 2">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="magnify js-gallery">
                            <div class="magnify__item">
                                <a href="pic/img-warranty-9.jpg" data-open-link-title="Оригинал" data-source="pic/img-warranty-9.jpg" title="Международный сертификаты 3">
                                    <img src="pic/img-warranty-preview-4.jpg" alt="">
                                    <i class="magnify__icon">
                                        <svg>
                                            <use xlink:href="#icon_search_plus"></use>
                                        </svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- page-section -->
        </div>
        <div class="column xlarge-3 xlarge-pull-9">
            <div class="page-aside">
                <ul class="page-aside__menu menu vertical">
                    <li>
                        <a href="contacts.html" title="О компании">О компании</a>
                    </li>
                    <li>
                        <a href="articles.html" title="Статьи">Статьи</a>
                    </li>
                    <li>
                        <a href="testimonials.html" title="Отзывы">Отзывы</a>
                    </li>
                    <li class="active">
                        <a href="warranty.html" title="Гарантия и Сертификаты">Гарантия и Сертификаты</a>
                    </li>
                    <li>
                        <a href="delivery.html" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="faq.html" title="Гарантия и сертификаты">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="instructions.html" title="Инструкции">Инструкции</a>
                    </li>
                    <li>
                        <a href="partners.html" title="Для партнеров">Для партнеров</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Центральный офис в киеве">Центральный офис в киеве</a>
                    </li>
                    <li>
                        <a href="service.html" title="Сервисный центр">Сервисный центр</a>
                    </li>
                    <li>
                        <a href="contacts.html" title="Контакты">Контакты</a>
                    </li>
                </ul>
                <div class="show-for-xlarge">
                    {{> sticky-ad }}
                </div>
            </div>
        </div>
    </div>
</div>