/* ==========================================================================
    compare
========================================================================== */
.compareSection {
  padding: 30px 0;
}

.compareWrapp {
  border-top: 1px solid #d7dade;
  margin: 20px 0;
  position: relative;
  background-color: #ffffff;
}

.compareInset:after {
  content: '';
  top: 20px;
  right: 0;
  z-index: 10;
  width: 10px;
  height: 100%;
  height: calc(100% - 50px);
  position: absolute;
  background: linear-gradient(to right, rgba(53, 70, 88, 0) 0%, rgba(53, 70, 88, 0.1) 100%);
}

.compareControls > .fll {
  margin-right: 10px;
}

.compareControls > .flr {
  margin-left: 10px;
}

.compareNoSupport,
.compareCleared {
  display: none;
  background: #eaecee;
  padding: 30px;
  margin: 20px 0;
}

.compareHold {
  margin-top: 20px;
  border-top: 1px solid #eaecee;
  padding-left: 260px;
  padding-right: 20px;
  padding: 0 20px 17px 260px;
  overflow: auto;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.compareInset .compareHold {
  padding-bottom: 0;
}

.compareHold:after {
  content: '';
  top: 0;
  right: 0;
  width: 1px;
  background: #eaecee;
  height: calc(100% - 57px);
}

.ellipsis {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.compareTable .ellipsis {
  cursor: default;
}

.compareTable {
  overflow: scroll;
  margin: 0 0 20px;
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.cellHold {
  font-size: 14px;
  width: 260px;
  position: relative;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}

.cellHold:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.compareTable tr {
  text-align: left;
}

.compareTable tr:first-child td:nth-child(n+2) {
  position: relative;
  padding-bottom: 5rem;
}

.compareTable tr:first-child td:nth-child(n+2) .button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.compareTable td {
  border: 1px solid #eaecee;
  margin: 0;
}

.compareTable td + td {
  border: 1px solid #eaecee;
  border-top-width: 0;
  border-bottom-width: 0;
}

.compareTable th:first-child,
.compareTable td:first-child {
  background-color: #ffffff;
  position: absolute;
  z-index: 5;
  left: 0;
}

.compareTable td:first-child > .cellHold {
  width: 261px;
}

.compareTable td:last-child > .cellHold {
  margin-right: 10px;
}

.compareTable tr:first-child td:first-child {
  background-color: #dedede;
  height: calc(100% - 58px);
}

.compareTable tr td:first-child {
  background-color: #dedede;
  border-width: 0;
  border-left-width: 1px;
}

.compareTable tr:first-child td:first-child:after {
  content: '';
  top: 0;
  left: 100%;
  width: 10px;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(53, 70, 88, 0.1) 0%, rgba(53, 70, 88, 0) 100%);
}

.compareTable tr:first-child td:first-child > .cellHold {
  border-bottom-color: transparent;
}

.compareTable tr + tr:hover td:first-child .cellHold {
  background-color: rgba(0, 0, 0, 0.05);
}

.compareTable .itemDel {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  text-align: center;
  color: #3e5870;
  width: 16px;
  padding: 0;
  border: 1px solid #d7dade;
  border-radius: 3px;
  color: #e44a3c;
  background: #ffffff;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.compareTable .itemImg {
  width: 70px;
  padding-top: 70px;
}

.compareTable .itemTtl {
  padding: 8px 0px;
  font-size: 14px;
  line-height: 1.4em;
}

.itemToDo .itemToWish.itemAdded svg,
.itemToDo .itemToCompare.itemAdded svg {
  fill: #e44a3c;
}

.compareEmpty .compareWrapp:after,
.compareEmpty .toggleMisMath,
.compareEmpty .clearCompare {
  display: none;
}

.compareEmpty .compareCleared {
  display: block;
}

.compareMismath .mismath .cellHold:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.1);
}

.compareTable .highlight, .compareTable tr + tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1024px) {
  .compareNoSupport {
    display: block;
  }
  .compareWrapp:after,
  .toggleMisMath,
  .clearCompare,
  .compareHold {
    display: none;
  }
}
