/* ==========================================================================
    enterPopup
========================================================================== */
.auth-popup {
  background-color: #354658;
  color: #ffffff;
}

.popup-header {
  margin-bottom: 2rem;
}

.enterReg_top {
  position: relative;
  margin-bottom: 3%;
  overflow: hidden;
}

.enterReg_top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #eaecee;
}

.enterBlock, .regBlock {
  z-index: 9;
  float: left;
  position: relative;
  width: 46%;
  -webkit-backface-visibility: hidden;
}

.regBlock {
  float: right;
}

.enterReg_top .erTitle {
  position: relative;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #e44a3c;
}

.enterBlock_form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  transition: opacity 0.8s ease;
}

.enterBlock .visForm {
  opacity: 1;
  visibility: visible;
  position: relative;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.popupBlock .wCheck {
  display: block;
}

.enterReg_ctrl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.passLink {
  position: absolute;
  left: 0;
  bottom: 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.passLink:hover {
  text-decoration: underline;
}

.forgetInf {
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #d2c1af;
  min-height: 11rem;
}

.socEnter {
  padding: 3% 0 0;
  border-top: 1px solid #eaecee;
  text-align: center;
}

.socEnter .erTitle {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  color: #e44a3c;
  text-transform: uppercase;
}

.socLinkEnter {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

@media only screen and (max-width: 720px) {
  .popupContent {
    display: block;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    padding: 0 1rem;
    transition: all 0.5s ease;
  }
  .enterRegPopup {
    max-width: 38rem;
    padding: 3rem 1.5rem 1.5rem;
  }
  .enterRegPopup .mfp-close {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
  .enterReg_top {
    margin: 0;
  }
  .enterReg_top:after {
    display: none;
  }
  .socEnter {
    padding: 0;
    border: 0;
  }
  .enterBlock, .regBlock {
    float: none;
    width: auto;
  }
  .enterReg_top .erTitle, .socEnter .erTitle {
    margin: 0;
    background: #3e5870;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 1px;
    cursor: pointer;
  }
  .wCur .popupContent {
    max-height: 400px;
    padding: 1rem;
  }
  .wCur .erTitle {
    box-shadow: inset 0 0 0 1px #e44a3c;
    color: #d2c1af;
  }
}
