@charset "UTF-8";
/*-------------------------------  wBasket  ------------------------------------*/
/* basket wezom */
/* версия 1.3 | 09.12.2014 */
/* Олег Дутченко */
.wb_edit_init {
  text-decoration: none;
}

.wBasket {
  position: relative;
  max-width: 98rem;
  margin: auto;
  color: #354658;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
}

.wBasket .price__old {
  margin-right: 1rem;
}

.wBasket .product-preview {
  padding: 0 0 2rem 0;
}

.wBasket .product-preview:hover {
  box-shadow: none;
  border-color: #7ac3d4;
}

.wBasket .product-preview__compare-wrap {
  float: left;
}

.wBasket .product-preview__image-container {
  float: left;
  position: relative;
  width: 10rem;
  height: 10rem;
  transition: box-shadow 0.2s ease;
}

.wBasket .product-preview__image-container:hover {
  box-shadow: 0 0 10px 0 #7ac3d4;
}

.wBasket .product-preview__price.price {
  float: left;
  width: auto;
  line-height: 4rem;
}

.wBasket .product-preview__top-pane,
.wBasket .product-preview__bottom-pane {
  clear: none;
}

@media screen and (max-width: 29.9375em) {
  .wBasket .product-preview__image-container {
    float: none;
    margin: auto;
  }
  .wBasket .wb_footer_go {
    width: 100%;
  }
}

.wBasketWrapp {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eaecee;
}

.wBasketHead {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaecee;
}

.wBasketTTL {
  line-height: 100%;
  font-size: 2.4rem;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-transform: uppercase;
}

.wBasketBody {
  position: relative;
}

/*-------------------------------  wBasketList  ------------------------------------*/
.wBasketList {
  display: table;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}

.wb_li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wBasketList li {
  display: block;
}

.wBasketList li .wb_li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaecee;
}

.wBasketList li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wBasketList li:last-child .wb_li {
  padding-bottom: 0px;
  border-bottom: none;
}

/*-------------------------------  wb_side  ------------------------------------*/
.wb_side {
  float: left;
  width: 20%;
  margin-right: 15px;
  max-width: 100px;
}

.wb_img {
  display: block;
  position: relative;
}

.wb_img > * {
  display: block;
  z-index: 1;
  text-align: center;
  line-height: 0;
}

.wb_img img {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

/*-------------------------------  wb_content  ------------------------------------*/
.wb_content {
  position: relative;
  overflow: hidden;
}

.wb_row {
  position: relative;
  z-index: 20;
}

.wb_row:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wb_del {
  position: absolute;
  top: 0;
  right: 1px;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #e44a3c;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  color: #e44a3c;
}

.wb_del::before {
  content: '\00d7';
  line-height: 1;
  font-size: 2rem;
}

.wb_del:hover {
  color: #354658;
  border-color: #354658;
}

.wb_del:active {
  color: #3e5870;
  border-color: #3e5870;
}

.wb_del span {
  display: block;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  text-indent: 9999px;
  -webkit-backface-visibility: hidden;
}

.wb_del + .wb_ttl {
  padding-right: 30px;
}

.wb_ttl {
  margin-bottom: 7px;
  padding-bottom: 5px;
  min-height: 20px;
  border-bottom: 1px dotted #eaecee;
}

.wb_ttl > * {
  display: inline-block;
  font-size: 16px;
  line-height: 100%;
  vertical-align: top;
}

.wb_ttl > a {
  text-decoration: none;
}

/*-------------------------------  wb_cntrl  ------------------------------------*/
.wb_cntrl {
  display: table;
  float: right;
  font-size: 0;
  line-height: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (max-width: 44.9375em) {
  .wb_cntrl {
    float: left;
    clear: both;
    margin-top: 0.5rem;
  }
}

.wb_count,
.wb_price_one,
.wb_price_totl {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 4rem;
  vertical-align: top;
}

.wb_price_one p,
.wb_price_totl p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  line-height: 100%;
}

.wb_price_one span,
.wb_price_totl span {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -1px;
}

.wb_amount_wrapp {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  width: 10rem;
  padding: 0 15px;
  vertical-align: top;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.wb_amount {
  z-index: 1;
  position: relative;
  height: 4rem;
  padding: 0 25px 0 1rem;
  border: 1px solid #eaecee;
  border-radius: 3px;
  overflow: hidden;
  background: #ffffff;
  -webkit-backface-visibility: hidden;
}

.wb_amount input {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  background: none;
}

.wb_amount input:focus {
  background: none !important;
}

.wb_amount span {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  line-height: 1.8rem;
  font-size: 2rem;
  font-family: Georgia, serif;
  text-align: center;
  border: 0 solid #eaecee;
  border-top-right-radius: 2px;
  border-left-width: 1px;
  color: #7ac3d4;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.wb_amount span:hover::before, .wb_amount span:hover::after {
  background-color: #354658;
}

.wb_amount span:active::before, .wb_amount span:active::after {
  background-color: #e44a3c;
}

.wb_item_plus::before,
.wb_item_minus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.4rem;
  right: 0.4rem;
  height: 1px;
  margin-top: -1px;
  background-color: #7ac3d4;
}

.wb_item_plus::after {
  content: '';
  position: absolute;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 50%;
  width: 1px;
  margin-left: -0.5px;
  background-color: #7ac3d4;
}

.wb_amount span + span {
  top: 2rem;
  border-top-width: 1px;
  border-top-color: #eaecee;
  border-bottom-width: 1px;
  border-bottom-color: #eaecee;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
}

/*-------------------------------  wb_select  ------------------------------------*/
.wb_select {
  margin-bottom: 10px;
}

.wb_select select {
  display: block;
  width: 100%;
  border: 1px solid #eaecee;
  border-radius: 3px;
  padding: 0 5px;
  box-sizing: border-box;
  height: 30px;
  font-size: 16px;
  line-height: 18px;
}

/*-------------------------------  wb_check  ------------------------------------*/
.wb_check {
  position: relative;
  line-height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*-------------------------------  wBasketFooter  ------------------------------------*/
.wBasketFooter {
  position: relative;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.wb_footer:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wb_footer_go {
  margin-bottom: 10px;
}

.wb_footer_tot {
  margin-bottom: 15px;
  text-align: right;
}

.wb_total {
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
}

.wb_total span {
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: -1px;
  color: #e44a3c;
}

/*-------------------------------  wb_butt  ------------------------------------*/
.wb_butt {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  border: 1px solid #eaecee;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
}

.wb_butt:hover {
  text-decoration: none;
  color: #e44a3c;
}

.wb_butt:active {
  text-decoration: none;
  color: #000;
}

.wb_select_label span {
  cursor: pointer;
  font-size: 1.286rem;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #eaecee;
}

.wb_select_label span:hover {
  border-color: #7ac3d4;
}

p .wb_select_label span {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  line-height: 30px;
  min-width: 40px;
  margin-right: 5px;
  text-transform: uppercase;
}

.delConfirmBlock {
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  z-index: 5;
  border: 1px solid #eaecee;
  box-shadow: 0 0 4px 0 #7ac3d4;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding: 15px 15px 5px;
  transition: visibility 0s ease, opacity 0s;
  transition-delay: .3s;
}

.inputDelConfirm {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.inputDelConfirm:focus + .delConfirmBlock {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.delConfirmBlock p {
  margin-bottom: 10px;
}

.wb_select_label input[type='radio']:checked + span {
  background: #e21709;
  color: #ffffff;
  border-color: #e21709;
}

.wb_select_label.wb_select_color input[type='radio']:checked + span {
  border-color: rgba(0, 0, 0, 0.3) !important;
  border-width: 2px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9), inset 0 0 6px #000 !important;
}

.wbasket_element_item_count_change .wb_amount {
  background-color: #eee;
}

.wbasket_element_item {
  position: relative;
}

.wbasket_element_basket_edit .wbasket_element_item:not(.wbasket_element_item_edit) {
  opacity: 0.5;
}

.wbasket_element_basket_edit .wbasket_element_item:not(.wbasket_element_item_edit):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}

.wbasket_element_preloader {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.wbasket_element_preloader.wpreloader_show {
  display: block;
}
