/* ==========================================================================
    breadcrumbs
========================================================================== */
.breadcrumbs {
  width: 100%;
  display: table;
  padding: 0.4rem 0 0.9rem 0;
  border-bottom: 1px solid #d7dade;
  line-height: 0;
  font-size: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.breadcrumbs > span {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  line-height: 1.4em;
  margin-right: 1rem;
  color: #354658;
}

.breadcrumbs > span::before {
  content: '>';
  display: inline-block;
  vertical-align: baseline;
  margin-right: 1rem;
  color: #7ac3d4;
}

.breadcrumbs > span:first-child::before {
  display: none;
}

.breadcrumbs > span > a {
  color: #7ac3d4;
  text-decoration: none;
}

.breadcrumbs > span > a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.breadcrumbs-container {
  margin-bottom: 3rem;
}

@media screen and (max-width: 44.9375em) {
  .breadcrumbs {
    display: block;
    padding-left: 1rem;
  }
  .breadcrumbs > span {
    display: none;
  }
  .breadcrumbs > span::before {
    display: none;
  }
  .breadcrumbs > span:nth-last-child(2) {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
  }
  .breadcrumbs > span:nth-last-child(2)::before {
    content: '<';
    display: inline-block;
  }
}
