/* ==========================================================================
    sitemap
========================================================================== */
.wSitemap ul li:before, .wSitemap ul li a {
  padding: 0.07143em 0.7em;
}

.wSitemap ul li:hover > a, .wSitemap ul li:hover:before {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(53, 70, 88, 0.3);
}

.wSitemap ul li:before, .wSitemap ul li:after, .wSitemap ul li a {
  transition: background-color 0.1s ease, color 0.1s ease;
}

.wSitemap {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0 0 1.5em;
}

.wSitemap > ul {
  padding-left: 2em;
  overflow: hidden;
}

.wSitemap ul {
  counter-reset: sitemap;
  list-style-type: none;
}

.wSitemap ul ul {
  margin-left: 2em;
}

.wSitemap ul li {
  position: relative;
  margin: 0.5em 0;
}

.wSitemap ul li:before {
  float: left;
  background-color: #eaecee;
  color: #7ac3d4;
  counter-increment: sitemap;
  content: counters(sitemap, ".") " ";
}

.wSitemap ul li:after {
  content: '|-';
  position: absolute;
  right: 100%;
  margin-right: 0.5em;
  top: 0;
  width: auto;
  height: 100%;
  white-space: nowrap;
  text-align: right;
  opacity: .3;
}

.wSitemap ul li a {
  text-decoration: none;
  color: #354658;
  background-color: #eaecee;
  display: block;
  overflow: hidden;
}

.wSitemap ul li:hover > a {
  text-decoration: underline;
  background-color: #3e5870;
}

.wSitemap ul li:hover:after {
  color: transparent;
}

.wSitemap ul li:hover:before, .wSitemap ul li:hover:after {
  background-color: #e44a3c;
}

.wSitemap ul li li:hover > a {
  background-color: #3e5870;
}

.wSitemap ul li li:hover:before, .wSitemap ul li li:hover:after {
  background-color: #e23e2f;
}

.wSitemap ul li li li:hover > a {
  background-color: #3e5870;
}

.wSitemap ul li li li:hover:before, .wSitemap ul li li li:hover:after {
  background-color: #e44a3c;
}

.wSitemap ul li li li li:hover > a {
  background-color: #43607a;
}

.wSitemap ul li li li li:hover:before, .wSitemap ul li li li li:hover:after {
  background-color: #e65649;
}

.wSitemap ul li li li li li:hover > a {
  background-color: #496784;
}

.wSitemap ul li li li li li:hover:before, .wSitemap ul li li li li li:hover:after {
  background-color: #e86357;
}
