@charset "UTF-8";
/* ==========================================================================
    wTxt
========================================================================== */
.wTxt {
  text-align: left;
  text-decoration: none;
  position: relative;
  color: #354658;
  text-transform: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

.wTxt a {
  text-decoration: underline;
  color: #d2c1af;
}

.wTxt a:visited {
  text-decoration: inherit;
  color: #e44a3c;
}

.wTxt a:hover {
  text-decoration: underline;
  color: #d2c1af;
}

.wTxt a:active {
  text-decoration: underline;
  color: #000;
}

.wTxt a[href^='http'], .wTxt a[href^='www.'] {
  cursor: pointer;
  cursor: alias;
}

.wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  line-height: 1.2em;
  margin: 1em 0 0.7em;
  font-weight: 400;
}

.wTxt h1 a, .wTxt h2 a, .wTxt h3 a, .wTxt h4 a, .wTxt h5 a, .wTxt h6 a {
  text-decoration: none;
}

.wTxt h1:before, .wTxt h2:before, .wTxt h3:before, .wTxt h4:before, .wTxt h5:before, .wTxt h6:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wTxt h1:first-child, .wTxt h2:first-child, .wTxt h3:first-child, .wTxt h4:first-child, .wTxt h5:first-child, .wTxt h6:first-child {
  margin-top: 0;
}

.wTxt h1 {
  font-size: 4rem;
}

.wTxt h2 {
  font-size: 3.6rem;
}

.wTxt h3 {
  font-size: 3.2rem;
}

.wTxt h4 {
  font-size: 2.8rem;
}

.wTxt h5 {
  font-size: 2.4rem;
}

.wTxt h6 {
  font-size: 2rem;
}

.wTxt ul, .wTxt ol, .wTxt dl, .wTxt pre, .wTxt p, .wTxt table, .wTxt blockquote, .wTxt address, .wTxt .iframeHolder {
  margin: 1.5em 0;
}

.wTxt ul:first-child, .wTxt ol:first-child, .wTxt dl:first-child, .wTxt pre:first-child, .wTxt p:first-child, .wTxt table:first-child, .wTxt blockquote:first-child, .wTxt address:first-child, .wTxt .iframeHolder:first-child {
  margin-top: 0;
}

.wTxt ul:last-child, .wTxt ol:last-child, .wTxt dl:last-child, .wTxt pre:last-child, .wTxt p:last-child, .wTxt table:last-child, .wTxt blockquote:last-child, .wTxt address:last-child, .wTxt .iframeHolder:last-child {
  margin-bottom: 0;
}

.wTxt blockquote {
  padding: 1.5em;
  font-style: italic;
  background-color: #f6f6f6;
  border-left: 3px solid #d8d8d8;
}

.wTxt ul, .wTxt ol, .wTxt dl, .wTxt dd {
  margin-left: 2.5em;
}

.wTxt ul ul, .wTxt ul ol, .wTxt ol ul, .wTxt ol ol {
  margin-top: 0;
}

.wTxt li {
  list-style-position: inside;
  margin: 0.2em 0;
}

.wTxt ul li, .wTxt ol li {
  list-style-type: inherit;
}

.wTxt ul {
  list-style-type: none;
}

.wTxt ul li {
  position: relative;
  padding-left: 1.6em;
}

.wTxt ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -0.1em;
  font-weight: bold;
  font-size: 20px;
  color: #7ac3d4;
}

.wTxt ul ul {
  list-style-type: circle;
}

.wTxt ul ul ul {
  list-style-type: square;
}

.wTxt ol {
  list-style-type: decimal;
}

.wTxt dl dt {
  font-style: italic;
}

.wTxt table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #9ca7b3;
}

.wTxt table caption {
  margin-bottom: 0.5em;
  caption-side: top;
}

.wTxt table tbody, .wTxt table tfoot, .wTxt table thead,
.wTxt table tr, .wTxt table th, .wTxt table td {
  border: inherit;
}

.wTxt table th, .wTxt table td {
  padding: 10px;
  line-height: 1em;
  text-align: left;
  vertical-align: top;
}

.wTxt table th {
  text-align: center;
  font-weight: bold;
  background-color: #eaecee;
}

.wTxt table.table-null,
.wTxt table.table-null th,
.wTxt table.table-null td {
  border-color: transparent;
}

.wTxt table.table-zebra,
.wTxt table.table-zebra th,
.wTxt table.table-zebra td {
  border-color: transparent;
}

.wTxt table.table-zebra tr:nth-child(even) {
  background-color: #ddd;
}

.wTxt pre, .wTxt code, .wTxt kbd, .wTxt samp {
  font-style: normal;
  border-radius: 0.25em;
  border: 1px solid #777;
  background-color: #eaecee;
}

.wTxt pre {
  line-height: 1.5em;
  -moz-tab-size: 4;
       tab-size: 4;
  padding: 1em;
}

.wTxt code, .wTxt kbd, .wTxt samp {
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(53, 70, 88, 0.5);
  line-height: 1.2em;
  font-weight: bold;
  display: inline-block;
  vertical-align: inherit;
  padding: 0 0.375em;
}

.wTxt code {
  background-color: #67bace;
}

.wTxt kbd {
  background-color: #43b59b;
}

.wTxt samp {
  background-color: #53b2c8;
}

.wTxt audio {
  display: block;
  width: 100%;
}

.iframeHolder {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.iframeHolder > iframe, .iframeHolder > video {
  background: #354658;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 740px) {
  .wTxt h1 {
    font-size: 30px;
  }
  .wTxt h2 {
    font-size: 27px;
  }
  .wTxt h3 {
    font-size: 24px;
  }
  .wTxt h4 {
    font-size: 21px;
  }
  .wTxt h5 {
    font-size: 18px;
  }
  .wTxt h6 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .wTxt {
    line-height: 1.3em;
    font-size: 13px;
  }
  .wTxt h1 {
    font-size: 26px;
  }
  .wTxt h2 {
    font-size: 23.92px;
  }
  .wTxt h3 {
    font-size: 21.84px;
  }
  .wTxt h4 {
    font-size: 19.76px;
  }
  .wTxt h5 {
    font-size: 17.68px;
  }
  .wTxt h6 {
    font-size: 15.6px;
  }
  .wTxt ul, .wTxt ol, .wTxt dl {
    margin-left: 1em;
  }
  .wTxt ul, .wTxt ol, .wTxt dl, .wTxt pre, .wTxt p, .wTxt table, .wTxt blockquote, .wTxt address, .wTxt .iframeHolder, .wTxt ul ul:last-child, .wTxt ul ol:last-child, .wTxt ol ul:last-child, .wTxt ol ol:last-child {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }
}
