@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  accordion-tabs
=========================================================================== */

.accordion-tabs {
  @include clearfix;
  &__item {
    display: inline;
  }
  &__toggle {
    display: inline-block;
    vertical-align: top;
    padding: .2em 1em;
    border-radius: 2em;
    color: $dark-gray;
    font-family: $font-family-cgothic;
    text-decoration: none;
    &.is-active {
      background-color: $warning-color;
      color: $white;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    float: left;
    visibility: hidden;
    overflow: hidden;
    transition: visibility 0.4s ease;
    &.is-open {
      position: relative;
      visibility: visible;
      width: 100%;
      height: auto;
    }
  }
}