@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  animations
=========================================================================== */
@keyframes zoomOut {
  from {
    transform: scale3d(2, 2, 2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.figure__badge.animate {
  animation-name: zoomOut;
  transform-origin: center center;
  animation-duration: 1s;
  animation-fill-mode: both;
  background-color: $alert-color;
}