@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  article-preview
=========================================================================== */
.article-preview {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px dashed #d7dade;
  &__header {
    margin-bottom: 0.5rem;
  }
  &__body {
    margin-bottom: $section-gutter-small;
  }
  &__date {
    line-height: 1;
    font-size: 1.2rem;
    color: #a2a2a2;
  }
  &__title {
    max-height: 4.2em;
    margin-bottom: 0.6em;
    font-size: 2.2rem;
    line-height: 1.4em;
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__link {
    display: inline-block;
    color: $primary-color;
    font-family: $font-family-cgothic;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin: -0.3rem 0 0 1rem;
      border: rem-calc(7) inset;
      border-color: transparent transparent transparent $primary-color;
      border-left-style: solid;
      border-right-width: 0;
      transition: transform 0.2s ease;
    }
  }
}