@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  cart-button
=========================================================================== */
.cart-button {
  overflow: hidden;
  min-width: rem-calc(103);
  &__title,
  &__sum-wrap {
    display: block;
    line-height: 1em;
    overflow: hidden;
  }
  &__title {
    margin-bottom: rem-calc(8);
    font-size: rem-calc(16);
    color: $white;
  }
  &__sum,
  &__currency {
    display: inline-block;
    vertical-align: bottom;
  }
  &__sum {
    max-width: rem-calc(35);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:active {
    color: $alert-color;
  }
  &__figure {
    float: left;
    margin-right: rem-calc(4);
  }
}