@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  carousel
=========================================================================== */
.carousel {
  position: relative;
  .page-container > &:first-child {
    margin-top: -$global-padding;
    margin-bottom: $section-gutter;
  }
  &__inner {
    position: relative;
  }
  &__arrows {
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
  }
  &__arrows-track {
    height: 0;
  }
  &__arrow {
    position: relative;
    top: rem-calc(-29);
    height: rem-calc(58);
    width: rem-calc(32);
    background-color: $light-gray;
    transition: all 0.2s ease;
    &:hover {
      background-color: $black;
    }
    i {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
    }
    &--prev {
      float: left;
      i {
        left: rem-calc(-4);
        border-width: rem-calc(8) rem-calc(8) rem-calc(8) 0;
        border-color: transparent $black transparent transparent;
      }
      &:hover {
        i {
          border-color: transparent $white transparent transparent;
        }
      }
      &:active {
        i {
          border-color: transparent $alert-color transparent transparent;
        }
      }
    }
    &--next {
      float: right;
      i {
        right: rem-calc(-4);
        border-width: rem-calc(8) 0 rem-calc(8) rem-calc(8);
        border-color: transparent transparent transparent $black;
      }
      &:hover {
        i {
          border-color: transparent transparent transparent $white;
        }
      }
      &:active {
        i {
          border-color: transparent transparent transparent $alert-color;
        }
      }
    }
    &.slick-disabled {
      opacity: 0.1 !important;
      cursor: default;
      &::after {
        display: none;
      }
    }
  }
  &__track {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    &.unslicked,
    &.slick-initialized {
      opacity: 1;
      visibility: visible;
      .carousel__item {
        &:not(:first-child) {
          display: block;
        }
      }
    }
  }
  &__item {
    outline: 0;
    &:not(:first-child) {
      display: none;
    }
    img {
      margin: auto;
    }
  }
  &--main {
    background-color: $colorPrimaryLight2;
    .carousel__item {
      padding-top: 33.724%;
      height: 0;
    }
    .unslicked .carousel__item,
    .slick-initialized .carousel__item {
      height: auto;
      padding-top: 0;
    }
    .carousel__track,
    .carousel__arrows-track{
      max-width: $global-width + rem-calc(80);
      margin: auto;
    }
    .carousel__arrows {
      top: 50%;
    }
    .carousel__arrow {
      top: rem-calc(-35);
      height: rem-calc(70);
      width: rem-calc(40);
      background-color: $colorPrimaryLight2;
      &--prev {
        i {
          left: rem-calc(-5);
          border-width: rem-calc(10) rem-calc(10) rem-calc(10) 0;
        }
      }
      &--next {
        i {
          right: rem-calc(-5);
          border-width: rem-calc(10) 0 rem-calc(10) rem-calc(10);
        }
      }
      &:hover {
        background-color: $black;
      }
    }
  }
  &--promo {
    .carousel__header {
      padding: rem-calc(20) rem-calc(10);
      margin-bottom: -1px;
      border: 1px solid $light-gray;
      line-height: 1em;
      text-align: center;
      text-transform: uppercase;
      font-size: rem-calc(20);
      font-family: $font-family-cgothic;
      background-color: $black;
      color: $white;
    }
    .carousel__arrows {
      top: rem-calc(125);
    }
  }
  &--show {
    margin-top: 5rem;
    .carousel__header {
      position: relative;
      z-index: 1;
      margin-bottom: -1.6rem;
      line-height: 1;
      font-family: $font-family-cgothic;
      font-size: 3.2rem;
      text-align: center;
      text-transform: uppercase;
      span {
        display: inline-block;
        vertical-align: top;
        padding: 0 2.5rem;
        background-color: $white;
      }
    }
    .carousel__arrows {
      top: 50%;
    }
    .carousel__inner {
      padding: 5rem 8rem;
      border: 1px solid $black;
    }
    .carousel__track {
      margin: 0 -1.5rem;
    }
    .carousel__item {
      padding: 0 1.5rem;
    }
    .carousel__product-preview {
      border: 0;
    }
    .product-preview__image-container {
      border: 1px solid $light-gray;
      transition: border 0.2s ease;
      &:hover {
        border-color: $primary-color;
      }
    }
    .product-preview__bottom-pane {
      padding: 2rem 0 0;
    }
  }
  @include breakpoint(large down) {
    &--promo {
      .carousel__inner {
        padding: 0 rem-calc(35);
      }
      .carousel__header {
        margin-bottom: rem-calc(10);
      }
      .carousel__arrows {
        top: 50%;
      }
    }
  }
  @include breakpoint(medium down) {
    &--show {
      margin: 0;
      .carousel__header {
        font-size: 2rem;
        margin-bottom: -1rem;
      }
      .carousel__inner {
        padding: 3rem 4rem;
      }
    }
  }
}