@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  catalog-menu
=========================================================================== */
.catalog-menu {
  position: relative;
  margin-left: rem-calc(-20);
  &__list {
    font-size: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: rem-calc(14)
  }
}