@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  catalog-sorting
=========================================================================== */
.catalog-sorting {
  padding: 2rem;
  background: #f5f6f6;
  @include clearfix;
  &__left,
  &__right,
  &__center {
    line-height: 4rem;
  }
  &__left {
    float: left;
    margin-right: 1rem;
  }
  &__right {
    float: right;
    margin-left: 1rem;
    text-align: right;
  }
  &__center {
    text-align: center;
  }
  &__title,
  &__select,
  &__view-btn {
    display: inline-block;
    vertical-align: middle;
  }
  &__title {
    line-height: 1.2em;
    font-size: 1.4rem;
    font-family: $font-family-cgothic;
  }
  &__select-wrap {
    .catalog-sorting__title {
      margin-right: 2rem;
    }
  }
  &__select {
    height: 3.7rem;
    width: 19rem;
    border: 1px solid #d7dade;
    padding-left: 1rem;
    font-size: 1.4rem;
    color: $black;
  }
  &__view-btn {
    position: relative;
    height: 3.3rem;
    width: 3.3rem;
    transition: all .2s ease;
    &:hover {
      svg {
        fill: $alert-color;
      }
    }
    svg {
      @include HVcenter(100%,100%);
      fill: $black;
    }
    & + & {
      margin-left: 0.8rem;
    }
    &.is-active {
      svg {fill: $primary-color;}
    }
  }
  @include breakpoint(medium down) {
    padding: 1rem;
    &__left,
    &__right,
    &__center {
      line-height: 2.5rem;
    }
    &__title {
      font-size: 1rem;
    }
    &__select {
      height: 2.5rem;
    }
    &__view-btn {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}