@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  switchable-button
=========================================================================== */
.switchable-button {
  &__text {
    &::before {
      content: attr(data-default);
    }
  }
  &.is-added {
    .switchable-button__text::before {
      content: attr(data-added);
    }
  }
}