@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  comments
=========================================================================== */
.comments {
  &__title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7dade;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-family: $font-family-cgothic;
    line-height: 1.2em;
  }
  &__top-pane,
  &__bottom-pane,
  &__form {
    margin-bottom: $section-gutter;
  }
  &__top-pane {
    padding-bottom: $section-gutter;
    border-bottom: 1px solid #d7dade;
    @include clearfix;
  }
  &__form {
    display: none;
    max-width: 50rem;
  }
  &__rating-container {
    float: left;
    font-size: 0;
  }
  &__rating-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    font-size: 1.6rem;
    &:not(:first-child) {
      padding-left: 2rem;
      border-left: 1px solid #d7dade;
    }
  }
  &__show-all-comments {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    &,
    &:visited {
      color: $black;
    }
    &:hover {
      border-bottom: 1px dashed;
    }
  }
  @include breakpoint(large down) {
    &__rating-column {
      display: block;
      margin: 0;
      &:not(:first-child) {
        border: 0;
        padding: 0;
        margin: 1rem 0 0;
      }
    }
  }
  @include breakpoint(medium down) {
    &__rating-container,
    .comments__add-comment-button {
      float: none;
    }
    &__rating-container {
      margin-bottom: 1rem;
    }
  }
}
.comment {
  padding: $section-gutter 0;
  &:not(:first-child) {
    border-top: 1px solid #d7dade;
  }
  &:first-child {
    padding-top: 0;
  }
  &__avatar-container,
  &__body{
    display: table-cell;
    vertical-align: top;
  }
  &__avatar-container {
    padding-right: 1.5rem;
  }
  &__body {
    width: 100%;
  }
  &__avatar {
    width: 5.4rem;
    height: 5.4rem;
    line-height: 5.4rem;
    border-radius: 50%;
    background-color: #86909b;
    font-size: 2.6rem;
    font-family: $font-family-cgothic;
    text-align: center;
    color: $white;
    overflow: hidden;
  }
  &__header {
    margin-bottom: 0.5rem;
    @include clearfix;
  }
  &__rating-container {
    margin-bottom: 1.2rem;
  }
  &__name,
  &__date {
    font-size: 1.4rem;
  }
  &__name {
    font-weight: 700;
  }
  &__date {
    float: right;
    color: #a2a2a2;
  }
  &__title {
    font-weight: 700;
  }
}