/*  dropdown-select
=========================================================================== */
.dropdown-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  &:hover {
    .dropdown-select__body {
      opacity: 1;
      visibility: visible;
    }
    .dropdown-select__header {
      &::before {
        opacity: 1;
      }
      &::after {
        transform-origin: 50% 50%;
        transform: scaleY(-1);
        border-color: $black transparent transparent;
      }
    }
    .dropdown-select__icon {
      svg {
        fill: $black;
      }
    }
  }
  &__header {
    position: relative;
    display: block;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: -1;
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border: rem-calc(6) inset;
      border-color: $white transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      transition: transform 0.2s ease;
    }
  }
  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: rem-calc(26);
    width: rem-calc(26);
    svg {
      @include HVcenter(2.4rem, 2.4rem);
      fill: $white;
    }
  }
  &__body-holder {
    position: relative;
    height: 0;
  }
  &__body {
    position: absolute;
    width: 100%;
    min-width: rem-calc(200);
    top: 0;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: $white;
    //box-shadow: 2px 3px 4px 0 rgba($black, 0.2); --- Вариант выпадающего меню с тенью.
  }
  &--for-tels {
    &:not(:last-child) {
      margin-right: 3rem;
    }
    padding-top: .8rem;
    .dropdown-select__body,
    .dropdown-select__header,
    .dropdown-select__footer {
      padding-left: rem-calc(25);
    }
    .dropdown-select__header {
      &::before {
        width: rem-calc(23);
      }
      &::after {
        position: absolute;
        left: rem-calc(5);
        top: 50%;
        margin-top: rem-calc(-3);
        border-color: $primary-color transparent transparent;
      }
    }
    .dropdown-select__body {
      .link {
        font-size: rem-calc(20);
        color: $black;
      }
    }
    .button {
      margin: 0 2rem 0 1rem;
    }
  }
  &--language {
    .dropdown-select__header {
      &::before {
        top: rem-calc(-5);
        left: rem-calc(-5);
        bottom: 0;
        right: rem-calc(-5);
      }
    }
    .dropdown-select__body {
      min-width: rem-calc(500);
      right: rem-calc(-5);
    }
  }
  &--catalog-menu {
    font-family: $font-family-cgothic;
    color: $black;
    &:hover {
      .dropdown-select__header {
        color: $alert-color;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        &:not(.dropdown-select__header) {
          text-decoration: underline;
          text-decoration-style: dashed;
        }
      }
    }
    .dropdown-select {
      &__header {
        padding: rem-calc(24) rem-calc(20);
        font-size: rem-calc(16);
        font-weight: 700;
        color: $white;
        line-height: 1em;
        &::after {
          display: none;
        }
      }
      &__body {
        left: 0;
        right: auto;
        min-width: rem-calc(485);
        padding-bottom: rem-calc(40);
      }
    }
  }
}