@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  email-subscription
=========================================================================== */
.email-subscription {
  &__title {
    position: relative;
    top: rem-calc(-4);
    line-height: 1.2em;
    font-family: $font-family-cgothic;
    font-size: rem-calc(20);
    text-transform: uppercase;
  }
  &__form {
    .wFormInput {
      display: inline-block;
      width: 100%;
      max-width: rem-calc(515);
      vertical-align: middle;
      margin: 0 rem-calc(5) 0 rem-calc(20);
    }
  }
  @include breakpoint(xlarge down) {
    &__form {
      .wFormInput {
        margin: 0;
      }
    }
  }
  @include breakpoint(large down) {
    &__title {
      margin: 0 0 1rem;
    }
    &__form {
      .wFormInput,
      .wSubmit {
        margin: 0 0 1rem;
      }
      .wFormInput {
        max-width: rem-calc(280);
      }
    }
  }
}