@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  figure
=========================================================================== */
.figure {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: rem-calc(8) rem-calc(8) 0 0;
  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: rem-calc(30);
    height: rem-calc(30);
    svg {
      @include HVcenter(100%, 100%);
      fill: $primary-color;
      transition: fill .2s ease;
    }
    .user-features__button:hover & {
      svg {
        fill: $white;
      }
    }
  }
  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 1s ease;
  }
}