@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  grid
========================================================================== */
.grid {
  &__row {
    @include clearfix;
    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
    &:not(:first-child) {
      .grid__item {
        padding-top: 0.8rem
      }
    }
    &:last-child {
      .grid__item {
        padding-bottom: 0;
      }
    }
  }
  &__item {
    float: left;
    width: 50%;
    padding-bottom: 0.8rem;
    &:not(:last-child) {
      border-right: 1px solid $light-gray;
    }
  }
}
