@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  languages
=========================================================================== */
.languages {
  color: #777;
  font-family: $font-family-cgothic;
  &__list {
    font-size: 0;
    overflow: hidden;
    margin-bottom: -1px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: rem-calc(12);
    text-align: right;
  }
  &__link {
    display: block;
    padding: 0.3em 1em !important;
    border-bottom: 1px solid $light-gray;
    line-height: 2.4rem;
    text-decoration: none;
    transition: background .2s ease, border .2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      text-decoration: none !important;
      background-color: #65ABD9;
      color: $white;
      border-color: transparent;
    }
  }
  &__flag,
  &__name,
  &__sub-name {
    display: inline-block;
    vertical-align: middle;
  }
  &__flag {
    margin-right: 0.5em;
    float: left;
  }
  &__name {
    text-transform: uppercase;
    font-weight: 700;
  }
}