@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  link
=========================================================================== */
.link {
  text-decoration: none;
  color: $primary-color;
  font-family: $font-family-cgothic;
  line-height: 1;
  &--tel {
    font-size: rem-calc(26);
    img {
      margin-top: -0.2em;
    }
  }
  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}