@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  logo
=========================================================================== */

.logo {
  display: inline-block;
  vertical-align: middle;
  @at-root {
    a#{&} {
      text-decoration: none;
    }
  }
  &__image {
    vertical-align: top;
    max-height: 100%;
  }
  &__text {
    display: inline-block;
    vertical-align: top;
    line-height: 1.25em;
    padding-top: rem-calc(5);
    margin-left: rem-calc(14);
    font-size: rem-calc(14);
    color: $colorPrimaryLight;
  }
  &--mobile {
    margin-top: rem-calc(11);
    height: rem-calc(24);
  }
  @at-root {
    .page-footer__logo {
      margin-bottom: rem-calc(10);
      .logo__text {
        display: block;
        margin: 1rem 0 0;
      }
    }
  }
}