@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  magnify
=========================================================================== */
.magnify {
  position: relative;
  font-size: 0;
  line-height: 0;
  img,
  a {
    position: relative;
    z-index: 1;
  }
  a,
  &__item {
    display: inline-block;
    vertical-align: top;
  }
  &__item {
    &:not(:only-child) {
      padding-right: 25%;
      padding-bottom: 20%;
      a::after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../pic/bg-warranty-preview-extra.jpg) no-repeat center;
        background-size: cover;
        transform: rotate(14deg);
        transform-origin: 0 100%;
      }
    }
  }
  &__icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 36%;
    border-radius: 50%;
    background-color: rgba($black, .7);
    transform: translate(-50%,-50%);
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &,
    svg {
      transition: all 0.2s ease;
    }
    svg {
      @include HVcenter(50%,50%);
      fill: $primary-color;
    }
    a:hover & {
      width: 50%;
      background-color: rgba($primary-color, 0.7);
      box-shadow: 0 0 10px 0 rgba($black, 0.4);
      svg {
        width: 35%;
        height: 35%;
        fill: $white;
      }
    }
  }
  &-gallery {
    &-img {
      display: block;
      .mfp-img {
        margin: -40px 0;
      }
      img {
        cursor: zoom-in;
      }
    }
    .mfp-bottom-bar {
      margin-top: 5px;
    }
  }
}