@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  mobile-ofc
=========================================================================== */
.mobile-ofc {
  padding: 1.5rem 0;
  color: $white;
  font-size: rem-calc(12);
  font-family: $font-family-cgothic;
  &__menu-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(16);
  }
  &__devision-title {
    padding: $menu-item-padding;
    color: $alert-color;
    font-size: rem-calc(14);
    i {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: rem-calc(20);
      width: rem-calc(20);
      &:last-child:not(:only-child) {
        margin-left: 1rem;
      }
      svg {
        @include HVcenter(100%, 100%);
        fill: $alert-color;
      }
    }
  }
  .menu {
    a {
      color: inherit;
      text-decoration: none;
      padding: rem-calc(10) rem-calc(20);
      &:hover {
        background-color: rgba($black, .3);
      }
    }
    &.nested {
      background: $dark-gray;
      box-shadow: inset 1px 2px 4px rgba(0, 0, 0, .4);
    }
    &-text {
      font-weight: 400;
    }
  }
}