@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  order-summary
=========================================================================== */
.order-summary {
  padding-left: $section-gutter-small;
  &__body {
    margin-bottom: $section-gutter-small;
  }
  &__footer {
    .wSubmit {
      margin-right: $section-gutter-small;
    }
  }
  &__total-container {
    float: right;
    margin-top: -0.3em;
  }
  &__total {
    font-size: 3.2rem;
  }
  @include breakpoint(large down) {
    padding: 0;
    &__footer {
      .wSubmit {
        margin: 0;
      }
    }
    &__total-container {
      float: none;
    }
  }
}