@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  pagination
=========================================================================== */
.pagination {
  position: relative;
  font-size: 0;
  text-align: center;
  color: #a2a2a2;
  &-arrow {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
    transition: opacity 0.2s linear;
    &:first-child {
      margin-right: 2rem;
    }
    &:last-child {
      margin-left: 2rem;
    }
    svg {
      fill: transparent;
      stroke: #a2a2a2;
      @include HVcenter(100%, 100%);
      transition: max-height 0.1s linear, max-width 0.1s linear;
    }
    &:hover {
      opacity: 1;
      &::after {
        width: 100%;
      }
    }
  }
  & > span {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.2rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
  }
  & > span > a,
  & > span > span {
    box-sizing: border-box;
    display: block;
    height: 2.5rem;
    min-width: 2.5rem;
    padding: 0 0.2em;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
  }
  & > span > span {
    cursor: default;
  }
  & > .is-active > a,
  & > span > a:hover {
    color: $white;
    background-color: $black;
  }
}