@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  page-tabs
=========================================================================== */
.page-tabs {
  &__header {
    padding-top: 1rem;
    background-color: $black;
  }
  .tabs-panel {
    padding-top: $section-gutter;
  }
  @include breakpoint(large down) {
    &__header {
      padding: 1rem 0 2rem;
      .tabs-title {
        float: none;
        display: block;
        margin-bottom: -1rem;
        background-color: $black;
        border: 1px solid $alert-color;
      }
    }
  }
}