@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  page-aside
=========================================================================== */
.page-aside {
  padding-right: $section-gutter;
  &__menu {
    font-size: 1.4rem;
    margin-bottom: $section-gutter;
    ul {
      padding: 0.5rem 0 1rem;
      font-weight: 400;
      font-family: $body-font-family;
      a {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin-bottom: 1.2rem;
        & > span {
          vertical-align: baseline;
        }
        &:hover {
          text-decoration: underline;
          text-decoration-style: dashed;
        }
      }
    }
    & > li {
      font-family: $font-family-cgothic;
      font-weight: 700;
      border-bottom: 1px solid #d7dade;
      &:first-child {
        border-top: 1px solid #d7dade;
      }
      &.active > a {
        padding-left: 1.8rem;
      }
      & > a {
        padding: 2.1rem 3rem 2.1rem 0;
        line-height: 1.1em;
        text-transform: uppercase;
        &:hover {
          padding-left: 1.8rem;
          color: $white;
          background-color: $primary-color;
        }
      }
      a {
        text-decoration: none;
        padding-left: 0;
        transition: all 0.2s ease;
      }
    }
    .is-accordion-submenu-parent>a {
      &::after {
        border-color: $black transparent transparent;
      }
      &:hover::after {
        border-color: $white transparent transparent;
      }
    }
    .nested {
      margin-left: 0;
    }
  }
  &__title {
    margin-bottom: 2rem;
    line-height: 1.2em;
    font-size: 2.6rem;
    font-family: $font-family-cgothic;
  }
  @include breakpoint(large down) {
    padding: 0;
  }
}