@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  popups
=========================================================================== */
.oneclick-popup {
  background-color: $black;
  color: $white;
  .is-list-view {
    .product-preview {
      padding-left: 10rem;
      min-height: 11rem;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      &:hover {
        box-shadow: none;
        border-color: $white;
      }
    }
    .product-preview__image-container {
      width: 10rem;
      height: 10rem;
      &:hover {
        box-shadow: 0 0 10px 0 $primary-color;
      }
    }
  }
  .product-preview__name {
    &,
    &:visited {
      color: $white;
    }
  }
  .wFormInput {
    margin-bottom: 2rem !important;
  }
  @include breakpoint(medium down) {
    .wForm {
      max-width: 30rem;
      margin: auto;
      .wSubmit {
        width: 100%;
      }
    }
  }
  @include breakpoint(small down) {
    .is-list-view {
      .product-preview {
        padding-left: 0;
      }
      .product-preview__image-container {
        margin: auto;
      }
    }
  }
}

.instructions-popup {
  &__header,
  &__body {
    margin-bottom: $section-gutter;
    border-bottom: 1px solid #d7dade;
  }
  &__header {
    padding-bottom: 1rem;
    font-size: 2.4rem;
  }
  &__body {
    padding-bottom: $section-gutter;
  }
  &__footer {
    font-size: 1.4rem;
    line-height: 1.2em;
  }
  &__title {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
  &__button-container {
    float: left;
    padding-top: 0.8rem;
    margin-right: $section-gutter;
  }
  &__info-container {
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.2em;
  }
  @include breakpoint(medium down) {
    &__button-container {
      float: none;
      padding: 0;
      margin: 0 0 1rem;
    }
  }
}