@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  price
=========================================================================== */
.price {
  display: inline-block;
  vertical-align: middle;
  font-size: rem-calc(18);
  font-family: $font-family-cgothic;
  line-height: 1;
  ins {
    text-decoration: none;
  }
  &__old,
  &__current {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__old {
    font-size: rem-calc(12);
    text-decoration: line-through;
    color: $alert-color;
  }
}