@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  progress
=========================================================================== */
.progress {
  display: block;
  &__bar {
    display: inline-block;
    vertical-align: middle;
  }
  &__bar-meter {
    width: 0;
    height: 100%;
    background-color: $primary-color;
    transition: width 2s ease;
  }
  &__item {
    display: table-row;
  }
  &__bar-container {
    display: table-cell;
    vertical-align: middle;
  }
  &__rating {
    .rating__count {
      color: $black;
    }
  }
  &__bar-container {
    padding-left: 0.5rem;
    width: 10rem;
  }
  &__bar {
    width: 100%;
    height: 1rem;
    background-color: #f5f6f6;
  }
}