@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  product-list
=========================================================================== */
.product-list {
  &__item {
    position: relative;
    padding: 1rem;
    margin-bottom: 0.2rem;
    background-color: $light-gray;
    @include clearfix;
  }
  &__img-container {
    float: left;
    width: 10.5rem;
    height: 10.5rem;
    margin-right: 1rem;
    img {
      transition: box-shadow 0.2s ease;
    }
    a:hover {
      img {
        box-shadow: 0 0 10px 0 $primary-color;
      }
    }
  }
  &__item-status,
  &__header,
  &__item-info {
    overflow: hidden;
  }
  &__header {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d7dade;
    line-height: 1em;
    font-family: $font-family-cgothic;
    font-size: 1.4rem;
  }
  &__num,
  &__date {
    margin-bottom: 1rem;
  }
  &__num {
    float: left;
  }
  &__date {
    float: right;
  }
  &__item-info {
    font-family: $font-family-cgothic;
    &--price-middle {
      padding: 2rem 30% 0 0;
      .product-list__price {
        position: absolute;
        right: 2rem;
        top: 50%;
        line-height: 1;
        max-width: calc(30% - 2rem);
        text-align: right;
        transform: translateY(-50%);
      }
      @include breakpoint(large down) {
        padding-right: 0;
        .product-list__price {
          position: static;
          transform: none;
          max-width: 100%;
        }
      }
    }
  }
  &__title {
    max-height: 3.6em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
    overflow: hidden;
    a {
      text-decoration: none;
      &,
      &:visited {
        color: inherit;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__quantity {
    font-size: 1.4rem;
  }
  &--history {
    .product-list__item {
      margin-bottom: 1rem;
    }
    .product-list__quantity,
    .product-list__price {
      display: inline-block;
      vertical-align: baseline;
    }
    .product-list__quantity {
      margin-right: 1rem;
    }
    .product-list__item-info {
      float: left;
    }
    .product-list__item-status {
      padding-top: 0.5rem;
      float: right;
    }
  }
  @include breakpoint(medium down) {
    &__num,
    &__date {
      float: none;
    }
    &--history {
      .product-list__item-info,
      .product-list__item-status {
        float: none;
      }
      .product-list__item-status {
        padding: 0;
      }
    }
  }
}