@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  product-catalog
=========================================================================== */
.product-catalog {
  position: relative;
  z-index: 10;
  font-size: 0;
  margin-left: -3.633%;
  text-align: center;
  transform: translateZ(1px);
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 29.7%;
    min-width: 23rem;
    margin: 0 0 3.633% 3.633%;
    text-align: left;
    font-size: 1.6rem;
    .is-list-view & {
      display: block;
      width: 100%;
      margin: 0 0 $section-gutter 0;
    }
  }
  &.is-list-view {
    margin: 0;
  }
}