@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  product-label
=========================================================================== */
.product-label {
  position: relative;
  display: inline-block;
  padding: 0 rem-calc(20);
  max-width: calc(100% - 10px);
  margin-right: rem-calc(10);
  line-height: rem-calc(44);
  font-size: rem-calc(14);
  font-weight: 700;
  font-family: $font-family-cgothic;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $primary-color;
  &,
  &:hover,
  &:visited,
  &:focus {
    color: $white;
  }
  ins {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    line-height: rem-calc(15);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border: 22px solid $primary-color;
    border-right: 10px solid transparent;
    border-left-width: 0;
  }
  &--success {
    background-color: $success-color;
    &::after {
      border-color: $success-color;
      border-right-color: transparent;
    }
  }
  &--alert {
    background-color: $alert-color;
    &::after {
      border-color: $alert-color;
      border-right-color: transparent;
    }
  }
}