@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  promo
=========================================================================== */
.promo-section {
  &__right-column {
    & > * {
      padding-left: $section-gutter;
    }
  }
  @include breakpoint(large down) {
    &__right-column > * {
      padding-left: 0;
    }
  }
}
.promo-container {
  @include clearfix;
  .promo {
    &--large {
      float: right;
      width: 53.424%;
      margin-left: $section-gutter;
    }
  }
  &--up-to-3 {
    .promo {
      float: left;
      width: 30.85%;
      height: rem-calc(314);
      &:not(:nth-child(3n+3)) {
        margin-right: 3.71%;
      }
    }
  }
  @include breakpoint(large down) {
    .promo {
      &--large {
        margin-left: $section-gutter-small;
      }
      &--diamond {
        width: 30.85%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &--up-to-3 {
      .promo {
        height: rem-calc(250);
      }
    }
  }
  @include breakpoint(medium down) {
    .promo {
      float: left;
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n+3) {
        margin-right: 0;
      }
      &--large {
        width: 100%;
        float: none;
        height: auto;
        margin: 0 0 $section-gutter-small;
      }
      &--diamond {
        float: none;
        width: 48%;
        height: auto;
        padding: 7rem 0;
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--up-to-3 {
      .promo {
        &:nth-child(2n+2) {
          margin-right: 0;
        }
        &:last-child {
          float: none;
          clear: both;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  @include breakpoint(small down) {
    .promo {
      float: none;
      width: 100%;
      margin: 0 auto $section-gutter-small !important;
      &--diamond {
        max-width: rem-calc(240);
      }
    }
    &--up-to-3 {
      text-align: center;
       .promo {
         float: none;
         display: inline-block;
         vertical-align: top;
         max-width: rem-calc(240);
       }
     }

  }
}

.promo {
  position: relative;
  display: block;
  height: rem-calc(224);
  padding: rem-calc(35) $section-gutter-small;
  margin-bottom: $section-gutter;
  line-height: 1.4em;
  text-align: left;
  text-decoration: none;
  font-family: $font-family-cgothic;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: box-shadow 0.2s ease;
  }
  &:hover {
    box-shadow: inset 0 0 40px 0 rgba($white, 0.8);
    &::after {
      box-shadow: inset 0 0 10px 1px rgba($primary-color, 0.8);
    }
  }
  &__inner {
    position: relative;
    height: 100%;
  }
  &__link {
    font-size: $section-gutter-small;
    font-weight: 700;
    text-transform: uppercase;
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin: -4px 0 0 6px;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent $black;
      .color-white & {
        border-color: transparent transparent transparent $white;
      }
    }
  }
  &__title,
  &__sub-title {
    line-height: 1.2em;
  }
  &__title {
    font-size: rem-calc(24);
    font-family: $font-family-georgia;
  }
  &__sub-title {
    font-size: rem-calc(36);
  }
  &--large {
    height: rem-calc(478);
    padding: 4%;
    .promo__inner {
      padding: rem-calc(100) rem-calc(40);
      background-color: rgba($white, 0.8);
      &::after {
        content: '';
        position: absolute;
        top: 30px;
        right: 30px;
        left: 30px;
        bottom: 30px;
        border: 1px solid $white;
      }
    }
    .promo__sub-title {
      margin-bottom: rem-calc(25);
    }
  }
  &--framed {
    padding: 4rem;
    background-color: $light-gray;
    &:hover {
      .promo__sub-title {
        color: $alert-color;
      }
    }
    .promo__inner {
      padding: rem-calc(25) 0;
      border: 2px solid $black;
    }
    .promo__link {
      position: absolute;
      top: 100%;
      left: 50%;
      padding: 0 1.3rem;
      line-height: 1em;
      white-space: nowrap;
      font-size: rem-calc(14);
      font-weight: 400;
      background-color: $light-gray;
      transform: translate(-50%, -50%);
    }
    .promo__title {
      margin-bottom: rem-calc(15);
    }
    .promo__sub-title {
      font-size: rem-calc(50);
    }
    .page-aside__promo-container & {
      height: 31.5rem;
    }
  }
  &--product {
    .product-label {
      position: absolute;
      top: rem-calc(40);
      left: 0;
    }
    .promo__title {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 4.8em;
      line-height: 1.2em;
      font-size: rem-calc(15);
      font-family: $font-family-cgothic;
      font-weight: 700;
      overflow: hidden;
    }
  }
  &--diamond {
    .promo__inner {
      padding: rem-calc(40) rem-calc(10);
    }
    .promo__svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      svg {
        @include HVcenter(100%, 100%);
        fill: $white;
      }
    }
    .promo__title {
      line-height: 1em;
      padding-bottom: rem-calc(5);
    }
    .promo__link {
      font-size: rem-calc(14);
      font-weight: 400;
    }
  }
  @include breakpoint(large down) {
    height: rem-calc(200);
    margin-bottom: $section-gutter-small;
    &__title {
      font-size: $section-gutter-small;
    }
    &__sub-title {
      font-size: rem-calc(28);
    }
    &--framed {
      padding: $section-gutter-small;
      .promo__sub-title {
        font-size: rem-calc(36);
      }
    }
    &--large {
      height: rem-calc(420);
    }
  }
  @include breakpoint(medium down) {
    height: rem-calc(140);
    &--large {
      padding: $section-gutter-small;
      .promo__inner {
        padding: rem-calc(40);
        &::after {
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 20px;
        }
      }
    }
    &--diamond {
      .promo__svg {
        svg {
          max-height: 90%;
        }
      }
      .promo__inner {
        padding: 0;
      }
    }
  }
}