@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  product-preview
=========================================================================== */
.product-preview {
  position: relative;
  border: 1px solid $light-gray;
  border-top-width: 2px;
  @include clearfix;
  transition: box-shadow .2s ease;
  &:not(.carousel__product-preview):hover {
    box-shadow: 0 0 0 3px $primary-color;
    border-color: $primary-color;
    .product-preview__description {
      opacity: 1;
      visibility: visible;
      box-shadow: 0 0 0 3px $primary-color;
      border: 1px solid $primary-color;
    }
  }
  &__for-list-view {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  &__image-container {
    display: block;
    position: relative;
    height: 0;
    padding-top: 100%;
    border-bottom: 1px solid $light-gray;
    overflow: hidden;
    img {
      @include HVcenter(100%, 100%);
      transition: opacity .3s;
    }
    img:not(:only-child):last-child {
      opacity: 0;
    }
    &:hover {
      img:not(:only-child):first-child {
        opacity: 0;
      }
      img:not(:only-child):last-child {
        opacity: 1;
      }
    }
  }
  &__top-pane,
  &__bottom-pane {
    clear: both;
    overflow: hidden;
  }
  &__top-pane {
    padding: rem-calc(10) rem-calc(20);
    border-bottom: 1px solid $light-gray;
  }
  &__bottom-pane {
    padding: rem-calc(10) rem-calc(20) rem-calc(20);
  }
  &__name {
    display: block;
    margin-bottom: rem-calc(10);
    line-height: 1.2em;
    height: 3.6em;
    font-size: rem-calc(15);
    font-family: $font-family-cgothic;
    font-weight: 700;
    overflow: hidden;
    text-decoration: none;
    &,
    &:visited {
      color: $black;
    }
    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
    &--large {
      height: auto;
      max-height: 3.6em;
      font-size: rem-calc(18);
      margin-bottom: rem-calc(10);
    }
    .carousel--promo & {
      margin-bottom: rem-calc(5);
    }
  }
  &__compare-wrap {
    font-size: rem-calc(12);
    line-height: 1em;
    font-family: $font-family-cgothic;
    @include clearfix;
  }
  &__code {
    float: left;
  }
  &__compare {
    float: right;
    text-transform: uppercase;
    color: $primary-color;
    &:hover {
      color: $black;
    }
    &:active {
      color: $alert-color;
    }
    &.is-added {
      color: $success-color;
    }
  }
  &__rating {
    width: 100%;
    margin-bottom: rem-calc(10);
    .carousel--promo & {
      margin-bottom: 0.8rem;
    }
  }
  &__price {
    width: 100%;
    margin-bottom: rem-calc(14);
    .carousel--promo & {
      margin-bottom: 1rem;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__description {
    z-index: 10;
    left: -1px;
    right: -1px;
    top: 100%;
    padding: 0 2rem 2rem;
    font-size: rem-calc(14);
    line-height: 1.5em;
    background-color: $white;
    transition: box-shadow 0.2s ease;
    p {
      overflow: hidden;
      max-height: 15em;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $white;
    }
    .button {
      margin: 1rem 0;
    }
  }
  &__status {
    margin-bottom: 1rem;
    font-family: $font-family-cgothic;
    font-size: 1.2rem;
    line-height: 1em;
  }
  .product-label {
    position: absolute;
    z-index: 1;
    top: rem-calc(20);
    left: 0;
  }
  &__button {
    & + & {
      clear: both;
      margin-top: 1rem;
    }
  }
  .is-list-view & {
    padding-left: 30.881%;
    padding-bottom: rem-calc(40);
    border-width: 0;
    border-bottom-width: 1px;
    &__for-list-view {
      position: relative;
      visibility: visible;
      opacity: 1;
    }
    &__for-tile-view {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
    &__image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 30.881%;
      height: calc(100% - 4rem);
      padding: 0;
      border: 0;
    }
    &__top-pane {
      border: 0;
      padding: rem-calc(10) rem-calc(20) 0;
    }
    &__bottom-pane {
      padding: rem-calc(10) rem-calc(20) 0;
    }
    &__name {
      margin-bottom: rem-calc(10);
    }
    &__rating {
      float: left;
      width: auto;
      margin: 0 1rem 0 0;
    }
    &__compare-wrap {
      float: right;
    }
    &__code,
    &__compare {
      line-height: rem-calc(24);
    }
    &__code {
      margin-right: rem-calc(10);
    }
    &__description {
      margin-bottom: rem-calc(15);
      padding: 0;
      box-shadow: none !important;
      border: 0 !important;
      p {
        max-height: 7.5em;
      }
      &::before {
        display: none;
      }
    }
    &__price {
      width: auto;
      margin-top: rem-calc(10);
      .price__old {
        font-size: rem-calc(16);
      }
      .price__current {
        font-size: rem-calc(26);
      }
    }
    &__button {
      float: right;
      max-width: 20rem;
    }
    .product-label {
      top: rem-calc(30);
    }
  }
  &--compare {
    &,
    .product-preview__top-pane {
      border: 0;
    }
    .product-preview__image-container {
      width: 50%;
      padding-top: 15rem;
      margin: auto;
      border: 0;
    }
    .product-preview__compare-wrap + .product-preview__price {
      margin-top: 3.1rem;
    }
    &:hover {
      box-shadow: none !important;
    }
  }
  @include breakpoint(large down) {
    .is-list-view & {
      &__price {
        width: 100%;
      }
      &__button {
        float: none;
      }
    }
    .carousel--promo & {
      padding-left: 30.881%;
      padding-bottom: rem-calc(40);
      border-width: 0;
      border-bottom-width: 1px;
      &__for-list-view {
        position: relative;
        visibility: visible;
        opacity: 1;
      }
      &__for-tile-view {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
      &__image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 30.881%;
        height: calc(100% - 4rem);
        padding: 0;
        border: 0;
      }
      &__top-pane {
        border: 0;
        padding: rem-calc(10) rem-calc(20) 0;
      }
      &__bottom-pane {
        padding: rem-calc(10) rem-calc(20) 0;
      }
      &__name {
        margin-bottom: rem-calc(10);
      }
      &__rating {
        float: left;
        width: auto;
        margin: 0 1rem 0 0;
      }
      &__compare-wrap {
        float: right;
      }
      &__code,
      &__compare {
        line-height: rem-calc(24);
      }
      &__code {
        margin-right: rem-calc(10);
      }
      &__description {
        margin-bottom: rem-calc(15);
        padding: 0;
        &::before {
          display: none;
        }
      }
      &__price {
        white-space: normal;
        .price__old {
          font-size: rem-calc(16);
        }
        .price__current {
          font-size: rem-calc(26);
        }
      }
      .product-label {
        top: rem-calc(30);
      }
      &__button {
        max-width: 20rem;
      }
    }
  }
  @include breakpoint(medium down) {
    .is-list-view &,
    .carousel--promo & {
      padding-left: 25%;
      &__image-container {
        width: 25%;
        img {
          position: relative;
        }
      }
      &__rating,
      &__compare-wrap,
      &__code,
      &__compare {
        float: none;
      }
      &__rating {
        width: auto;
        margin: 0 0 1rem 0;
      }
      &__compare-wrap {
        width: 100%;
      }
      &__code,
      &__compare {
        line-height: initial;
      }
      &__description {
        margin: 0;
      }
      &__price {
        margin: 0 rem-calc(10) rem-calc(10) 0;
      }
      .product-label {
        position: relative;
        top: 0;
        left: rem-calc(20);
      }
    }
  }
  @include breakpoint(small down) {
    .is-list-view &,
    .carousel--promo & {
      padding-left: 0;
      &__image-container {
        position: relative;
        width: 100%;
        height: rem-calc(120);
      }
      .product-label {
        position: absolute;
      }
    }
  }
}