@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  product
========================================================================== */
.product {
  &__gallery {
    padding-right: $section-gutter;
  }
  &__main-image-container {
    position: relative;
    margin-bottom: 2rem;
    .product-label {
      position: absolute;
      z-index: 1;
      top: 2.5rem;
      left: 0;
    }
  }
  &__main-image-wrap {
    position: relative;
    display: block;
    height: 0;
    padding-top: 100%;
    border: 1px solid $light-gray;
    overflow: hidden;
    img {
      @include HVcenter(100%,100%);
    }
    .zoomImg {
      z-index: 2;
    }
  }
  &__thumbnails {
    font-size: 0;
  }
  &__thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 10.5rem;
    border: 1px solid $light-gray;
    margin: 0 1rem 1rem 0;
  }
  &__thumbnail-inner {
    position: relative;
    display: block;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0 0 10px 0 $primary-color;
    }
    //&:not(a):hover {
    //  cursor: pointer;
    //}
    img,
    svg {
      @include HVcenter(100%,100%);
    }
    svg {
      max-width: 55%;
      max-height: 55%;
      fill: $alert-color;
    }
  }
  &__name {
    margin-bottom: 0.7em;
    line-height: 1.2em;
    font-size: 4rem;
    font-family: $font-family-cgothic;
    color: $dark-gray;
  }
  &__rating-container {
    margin-bottom: 0.8rem;
    @include clearfix;
  }
  &__code {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    font-family: $font-family-cgothic;
  }
  &__status-container {
    margin-bottom: 1rem;
    background-color: #f5f6f6;
    font-size: 0;
    overflow: hidden;
  }
  &__status {
    display: inline-block;
    vertical-align: top;
    padding: 1.5rem 2rem;
    margin-left: -1px;
    border-left: 1px solid  #d7dade;
    font-size: 1.4rem;
    i {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      svg {
        @include HVcenter(100%,100%);
        fill: $primary-color;
      }
    }
    &--wide {
      i {
        width: 5rem;
      }
    }
  }
  &__media-container {
    font-size: 0;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
  &__media-button {
    margin-right: 3rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    color: #4c5968;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.2s ease;
    cursor: pointer;
    &,
    &:visited {
      color: #4c5968;
    }
    &::before,
    &::after {
      content: '';
      display: table;
    }
    &:hover {
      color: $primary-color;
      i {
        svg {
          fill: $alert-color;
        }
      }
    }
    &,
    i,
    span {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      position: relative;
      height: 3.6rem;
      width: 3.6rem;

      svg {
        @include HVcenter(100%,100%);
        fill: $primary-color;
        transition: fill 0.2s ease;
      }
    }
    span {
      vertical-align: middle;
      padding-left: 1rem;
    }
    &--youtube {
      i {
        height: 4.6rem;
        width: 4.6rem;
      }
    }
    &--3d {
      i {
        width: 5.6rem;
      }
    }
  }
  &__body {
    padding-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid #d7dade;
    border-bottom: 1px solid #d7dade;
  }
  &__control-container {
    margin-bottom: 3rem;
    @include clearfix;
  }
  &__price-container {
    float: left;
    padding-top: 0.8rem;
  }
  &__controls {
    float: right;
  }
  &__price {
    margin-bottom: 0.8rem;
    .price__old,
    .price__current {
      font-size: 2.8rem;
    }
    .price__current {
      font-weight: 700;
    }
  }
  &__control {
    display: block;
    width: 8rem;
    padding: 0 0.5rem;
    line-height: 1;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease;
    &,
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: $alert-color;
      i {
        svg {
          fill:$alert-color;
        }
      }
    }
    i,
    span {
      display: block;
    }
    i {
      height: 3rem;
      margin-bottom: 0.5rem;
      svg {
        fill: $primary-color;
        transition: fill 0.2s ease;
      }
    }
    &.is-added {
      color: $success-color;
      i svg {
        fill: $success-color;
      }
    }
  }
  @include breakpoint(large down) {
    &__gallery {
      padding: 0;
    }
    &__thumbnail {
      width: 7rem;
    }
    &__name {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    &__status {
      width: 100%;
      padding: 1rem ;
      margin-left: 0;
      margin-top: -1px;
      border-top: 1px solid #d7dade;
      border-left: 0;
    }
    &__body {
      padding-top: 2rem;
    }
    &__media-container {
      padding-left: 1rem;
    }
    &__media-button {
      margin-bottom: 1rem;
    }
    &__price-container {
      float: none;
      padding: 0;
      margin-bottom: 2rem;
      text-align: center;
    }
    &__price {
      width: 100%;
    }
    &__control-container {
      margin-bottom: 2rem;
    }
    &__controls {
      float: none;
      text-align: center;
      .grid {
        clear: both;
        &__row {
          display: inline-block;
          border: 0 !important;
        }
        &__item {
          width: 8rem;
          padding: 0;
          border: 0;
        }
      }
    }
  }
  @include breakpoint(medium down) {
    &__main-image-container {
      max-width: 30rem;
      margin: 0 auto 2rem;
    }
    &__thumbnails {
      text-align: center;
    }
  }
  @include breakpoint(small down) {
    &__code {
      margin: 0;
      display: block;
    }
  }
}
