@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  quick-registration
=========================================================================== */
.quick-registration {
  &__inner {
    padding: rem-calc(40) rem-calc(25);
    background: $warning-color url(../pic/bg-quick-registration.png) no-repeat 60px bottom;
    @include clearfix;
  }
  &__title {
    float: left;
    p {
      margin-top: rem-calc(-5);
      line-height: 1em;
    }
    p + p {
      margin-top: rem-calc(5);
    }
  }
  &__form {
    float: right;
  }
  &__form {
    .wFormInput,
    .wSubmit {
      display: inline-block;
      vertical-align: middle;
    }
    .wFormInput {
      width: rem-calc(284);
      margin-bottom: 0;
      margin-right: rem-calc(5);
    }
    .wInput {
      color: $warning-color;
      background-color: #e4dacf;
      border-color: #e4dacf;
      &:focus {color: $black;}
      &:-moz-placeholder {color: $warning-color;}
      &::-moz-placeholder {color: $warning-color;}
      &:-ms-input-placeholder {color: $warning-color;}
      &::-webkit-input-placeholder {color: $warning-color;}
    }
  }
  @include breakpoint(xlarge down) {
    &__inner {
      padding: rem-calc(20) rem-calc(10) rem-calc(10);
    }
    &__title,
    &__form {
      float: none;
      text-align: center;
    }
    &__title {
      margin-bottom: rem-calc(10);
      p {
        margin: 0;
        line-height: 1.5em;
      }
    }
    &__form {
      .wFormInput,
      .wSubmit {
        margin: 0 0 rem-calc(10) 0;
      }
      .wFormInput {
        width: 100%;
        max-width: rem-calc(280);
      }
    }
  }
}