@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  rating
=========================================================================== */
.rating {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: inherit;

  &__stars {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    input,
    i {
      float: right;
      width: rem-calc(19);
      height: rem-calc(17);
    }
    input {
      position: relative;
      z-index: 10;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      &:hover {
        & ~ i {
          svg {
            stroke: lighten($primary-color, 15%);
            fill: lighten($primary-color, 15%) !important;
          }
        }
      }
      &:checked {
        & ~ i {
          svg {
            fill: $primary-color;
          }
        }
      }
      & + i {
        margin-right: -1.9rem;
      }
    }
    i {
      position: relative;
      svg {
        @include HVcenter(rem-calc(17), rem-calc(15));
        stroke: $primary-color;
        stroke-width: 1px;
        fill: transparent;
      }
    }
    &[data-rating="1"] i:nth-last-of-type(1),
    &[data-rating="2"] i:nth-last-of-type(-n+2),
    &[data-rating="3"] i:nth-last-of-type(-n+3),
    &[data-rating="4"] i:nth-last-of-type(-n+4),
    &[data-rating="5"] i:nth-last-of-type(-n+5) {
      svg {
        fill: $primary-color;
      }
    }
  }
  &__count {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-size: rem-calc(14);
    font-family: $font-family-cgothic;
    color: $primary-color;
    ins {
      display: inline-block;
      vertical-align: middle;
      margin-top: rem-calc(-2);
      text-decoration: none;
      max-width: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--large {
    input,
    i {
      width: 2.9rem;
      height: 2.6rem;
      svg {
        max-width: 2.7rem;
        max-height: 2.4rem;
      }
    }
    input {
      & ~ i {
        margin-right: -2.7rem;
      }
    }
    .rating__count {
      font-size: 1.6rem;
    }
  }
}

.product__rating {
  float: right;
  @include breakpoint(small down) {
    display: block;
    float: none;
  }
}

.comments__rating {
  &--large {
    .rating__stars {
      margin-right: 0.5rem;
    }
    .rating__count {
      color: #a2a2a2;
    }
  }
}
.progress__rating {
  display: table-cell;
  vertical-align: middle;
}