@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  socials
=========================================================================== */
.socials {
  font-size: 0;
  &__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem-calc(10);
    &:hover {
      .socials__icon {
        svg {
          fill: $primary-color;
        }
      }
      .product__socials & {
        svg {
          fill: $black;
        }
      }
    }
    &--youtube {
      .socials__icon {
        width: rem-calc(47);
      }
    }
    &--instagram {
      .socials__icon {
        width: rem-calc(43);
      }
    }
    &--gp {
      .socials__icon {
        width: rem-calc(45);
      }
    }
    &--blog {
      padding: 5px;
      background: $white;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease;
      &,
      &:visited,
      &:focus {
        color: $black;
      }
      &:hover {
        color: $white;
        background: $primary-color;
      }
      span {
        line-height: 1em;
        display: block;
      }
    }
    .mobile-ofc__socials & {
      margin-bottom: rem-calc(10);
    }
    .product__socials & {
      margin-right: 2rem;
    }
  }
  &__icon {
    position: relative;
    display: block;
    height: rem-calc(50);
    width: rem-calc(35);
    svg {
      @include HVcenter(100%, 100%);
      fill: $white;
      transition: all 0.2s ease;
    }
    .mobile-ofc__socials & {
      height: rem-calc(25);
      width: rem-calc(25);
    }
    .product__socials & {
      svg {
        fill: $primary-color;
      }
    }
  }
}
