@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  submenu
=========================================================================== */
.submenu {
  &__menu {
    padding: rem-calc(25) 0 0 rem-calc(20);
  }
  &__image-container {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: rem-calc(25);
    img {
      @include HVcenter(100%, 100%);
    }
  }
  &__main-link-wrap {
    padding-left: rem-calc(25);
    a {
      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-top: rem-calc(-2);
        margin-left: rem-calc(8);
        border: rem-calc(8) inset;
        border-color: transparent transparent transparent $black;
        border-left-style: solid;
        border-right-width: 0;
      }
    }
  }
}