@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  tile
=========================================================================== */

.tile {
  display: table;
  width: 100%;
  border-collapse: collapse;
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    padding: $section-gutter 5%;
    width: 50%;
    height: 28rem;
    border: 1px solid $light-gray;
    text-align: center;
  }
  &__img-container {
    position: relative;
    margin-bottom: 0.5rem;
    height: 11rem;
    img {
      @include HVcenter(100%,100%);
    }
  }
  @include breakpoint(small down) {
    &__cell {
      display: block;
      width: 100%;
      padding: $section-gutter-small;
    }
  }
}