@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  user-features
=========================================================================== */
.user-features {
  display: inline-block;
  vertical-align: top;
  cursor: default;
  &__button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    &,
    &:active,
    &:visited,
    &:focus {
      color: inherit;
    }
    &:not(:last-child) {
      margin-right: rem-calc(10);
    }
  }
  &__caption {
    display: block;
    max-width: 100%;
    font-size: rem-calc(9);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &--padding-top {
    padding-top: 1rem;
  }
  &--mobile {
    .user-features__button {
      padding: rem-calc(2) rem-calc(4);
      margin: 0;
      max-width: rem-calc(60);
      text-align: center;
    }
    .figure {
      padding: rem-calc(5) rem-calc(5) 0;
    }
    .figure__icon {
      max-width: rem-calc(25);
      max-height: rem-calc(25);
    }
    .cart-button {
      min-width: 0;
    }
  }
}