@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/*  wezom
=========================================================================== */
.wezom {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  &,
  &:hover,
  &:visited,
  &:focus {
    color: inherit;
  }
  i {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    width: rem-calc(36);
    height: rem-calc(13);
    margin-left: 0.5rem;
  }
  svg {
    @include HVcenter(100%, 100%);
    fill: #fc171f;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}