@import '../_settings/wezom-vars';
@import '../_settings/zf-settings';

/* ==========================================================================
    zf-customization
========================================================================== */
/*  grid
========================================================================== */
.row {
  @include breakpoint(large) {
    padding: 0 10px;
  }
}
/*  button
========================================================================== */
.button {
  font-family: $font-family-cgothic;
  font-weight: 700;
  &:active {
    box-shadow: inset 0 0 6px 2px rgba($black, 0.2);
  }
  @at-root {
    a#{&} {
      text-decoration: none;
      color: $button-color;
    }
  }
  &--buy {
    padding: rem-calc(10) rem-calc(20);
    font-size: rem-calc(18);
    font-weight: 400;
    text-align: left;
    i {
      float: right;
    }
  }
  &--gray {
    color: $primary-color;
    border-bottom: 1px solid #a8aaac;
    background-color: $light-gray;
    &:hover {
      color: $white;
      background-color: $alert-color;
      border-bottom-color: #a4352b;
      i {
        svg {
          fill: $white;
        }
      }
    }
    span,
    i {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      position: relative;
      height: rem-calc(20);
      width: rem-calc(20);
      svg {
        @include HVcenter(100%, 100%);
        fill: $primary-color;
      }
    }
  }
  &--large-icon {
    padding: 0.786em 2.5em 0.5em;
    i {
      height: 2.8rem;
      width: 2.8rem;
      margin-top: -0.4rem;
      margin-right: 1rem;
    }
  }
}

.product__buy-button {
  display: block;
  width: 24rem;
  max-width: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border: 0;
  color: $white;
  background-color: $alert-color;
  &:hover {
    background-color: $primary-color;
  }
  i {
    svg {
      fill: $white;
    }
  }
  @include breakpoint(large down) {
    display: inline-block;
    width: 100%;
    max-width: 24rem;
  }
}

.comments__add-comment-button {
  float: right;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*  off-canvas
========================================================================== */
.off-canvas {
  &,
  &-wrapper,
  &-wrapper-inner,
  &-content {
    min-height: 100vh;
  }
  //&-wrapper {
  //  overflow: hidden;
  //}
}

.is-off-canvas-open {
  .js-off-canvas-exit {
    z-index: 100;
  }
}

.is-zf-off-canvas-open {
  .off-canvas-wrapper {
    overflow: hidden;
  }
}

/*  menu
========================================================================== */
.menu {
  a {
    color: inherit;
  }
  &.simple {
    li {
      margin-right: 1.4rem;
    }
  }
}

/*  accordion menu
========================================================================== */
.is-accordion-submenu-parent > a:after {
  transition: transform 0.2s ease;
}

/*  accordion menu
========================================================================== */
.accordion {
  font-size: 1.4rem;
  line-height: 1.4em;
  font-family: $font-family-cgothic;
  &-item {
    margin-bottom: 0.2rem;
  }
  &-title {
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    background-color: #f1f2f7;
    .is-active > &,
    &:hover {
      box-shadow: inset 0 0 0 1px #d7dade;
    }
    .is-active > & {
      &::after {
        transform-origin: 50% 50%;
        transform: scaleY(-1);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      right: 1.5rem;
      margin-top: -0.3rem;
      border: rem-calc(6) inset;
      border-color: $black transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      transition: transform 0.2s ease;
    }
  }
  &-content {
    font-size: inherit;
    font-style: italic;
  }
}
/*  tabs
========================================================================== */
.tabs {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: $font-family-cgothic;
  text-transform: uppercase;
  a {
    text-decoration: none;
    &,
    &:focus {
      color: $white;
    }
    &:active {
      color: $alert-color;
    }
  }
  &-title {
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
    &.is-active a {
      color: $alert-color;
    }
  }
}

/*  media-object
========================================================================== */
.media-object {
  &--list,
  &--contacts {
    .media-object-section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .main-section {
      width: 100%;
    }
  }
  &--list {
    .main-section {
      border-bottom: 1px solid #e4e7ea;
    }
    &:last-child {
      .main-section {
        border: 0;
      }
    }
  }
  &--contacts {
    .main-section {
      position: relative;
      padding: 3rem 0;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        border-bottom: 1px solid #e4e7ea;
      }
    }
    &:first-child {
      .main-section {
        padding-top: 0;
      }
    }
  }
  @include breakpoint(medium) {
    &--list,
    &--contacts {
      .media-object-section:first-child {
        padding-left: 2rem;
      }
      .media-object-section:last-child {
        padding-right: 2rem;
      }
    }
  }
  @include breakpoint(small down) {
    &--list,
    &--contacts {
      .media-object-section {
        padding: 1rem 0 !important;
      }
    }
  }
}
