@import 'zf-settings';
@import '../../../node_modules/motion-ui/src/motion-ui.scss';

// единицы измерения
$emSize: 1em;
$emSizeDouble: $emSize * 2;
$emSizeText: $emSize * 1.5;
$emSizeHeader: $emSize * 1.2;
$emSizePart: $emSize * 0.7;
$emSizeHalf: $emSize * 0.5;
$emSizeUn3: $emSize * 0.3;
$emSizeUn2: $emSize * 0.2;

// шрифты
$fontFamily: $body-font-family;
$font-family-cgothic:'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;;
$font-family-georgia: Georgia, serif;
$fontSize: 1.5rem;
$fontSizeH1: 4rem;

$unit: $emSize / 14;

// цвета
$colorBlack: $black;
$colorDark: $dark-gray;
$colorMiddleDark: $medium-gray;
$colorMiddle: $secondary-color;
$colorWhite: $white;
$colorLight: $light-gray;
$colorMiddleLight: #ddd;

$colorYellow: $warning-color;
$colorRed: $alert-color;

$colorDefault: $colorBlack;
$colorPrimary: $primary-color;
$colorPrimaryLight: #75a1b9;
$colorPrimaryLight2: #c9d6e1;
$colorSucces: $success-color;
$colorInfo: $colorPrimary;
$colorWarning: $colorYellow;
$colorDanger: $colorRed;

$rgbaDark: rgba($colorBlack, 0.3);

// текст
$colorText: #000;
$textShadowDark: 0 1px 2px $rgbaDark;

// ссылки
$colorLink: $warning-color;
$colorLinkVisited: $alert-color;
$colorLinkHover: $colorLink;
$colorActive: $colorText;

// border
$borderRadius: $emSize * 0.25;
$borderColor: $colorMiddleLight;
$border: 1px solid $borderColor;
$borderTableColor: $colorMiddleDark;
$borderTable: 1px solid $borderTableColor;
$section-gutter: rem-calc(30);
$section-gutter-small: rem-calc(20);

// миксины
@mixin HVcenter($w, $h) {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: $w;
    max-height: $h;
    margin: auto;
}
